#hamburger-menu-wrapper,
#menu-primary,
#account-container,
#menu-socialmedia {
  display: none; }

#menu-primary ul, #menu-primary .submenu-ad, #menu-primary .level-2-header {
  display: none; }

#hamburger-menu-wrapper {
  position: fixed;
  z-index: 300;
  overflow: hidden; }

/* Common XS1 and XS2 */
@media all and (max-width: 767px) {
  #hamburger-menu-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    background: rgba(228, 230, 232, 0.3);
    transform: translateX(-100%); }
    #hamburger-menu-wrapper #menu-content-wrapper {
      height: 100%; }
    #hamburger-menu-wrapper #menu-animation-wrapper {
      display: flex;
      justify-content: space-between;
      width: 300%;
      height: 100%; }
    #hamburger-menu-wrapper #menu-screen-1,
    #hamburger-menu-wrapper #menu-screen-2,
    #hamburger-menu-wrapper #menu-screen-3 {
      display: flex;
      flex-wrap: wrap;
      align-content: start;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto; }
    #hamburger-menu-wrapper #menu-screen-1 {
      justify-content: space-between; }
    #hamburger-menu-wrapper #site-logo-menu {
      display: flex;
      order: 0;
      width: 65px;
      height: 32px;
      overflow: hidden;
      margin: 32px 0 0 16px; }
      #hamburger-menu-wrapper #site-logo-menu .logo-dark {
        top: calc(50% - 28px); }
      #hamburger-menu-wrapper #site-logo-menu .logo-light, #hamburger-menu-wrapper #site-logo-menu .logo-icon {
        display: none; }
    #hamburger-menu-wrapper #close-button-menu {
      display: flex;
      order: 1;
      width: 24px;
      height: 24px;
      margin: 36px 24px 0 0; }
    #hamburger-menu-wrapper #menu-primary {
      display: flex;
      order: 2;
      width: 100%; }
      #hamburger-menu-wrapper #menu-primary #submenu-animation-wrapper {
        width: 100%; }
    #hamburger-menu-wrapper .ul-level-1, #hamburger-menu-wrapper .ul-level-2, #hamburger-menu-wrapper .ul-level-3 {
      display: block;
      width: 100%; }
      #hamburger-menu-wrapper .ul-level-1 > li, #hamburger-menu-wrapper .ul-level-2 > li, #hamburger-menu-wrapper .ul-level-3 > li {
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M13.1893%2018.3107L12.1287%2017.25L16.6287%2012.75H6V11.25H16.6287L12.1287%206.74999L13.1893%205.68933L19.5%2012L13.1893%2018.3107Z%22%20fill%3D%22%23221F44%22%2F%3E%20%3C%2Fsvg%3E%20");
        background-position: right center;
        background-repeat: no-repeat; }
        #hamburger-menu-wrapper .ul-level-1 > li.hasSubmenu, #hamburger-menu-wrapper .ul-level-2 > li.hasSubmenu, #hamburger-menu-wrapper .ul-level-3 > li.hasSubmenu {
          background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M9%207.06066L10.0607%206L16.3713%2012.3107L10.0607%2018.6213L9%2017.5607L14.25%2012.3107L9%207.06066Z%22%20fill%3D%22%23221F44%22%2F%3E%20%3C%2Fsvg%3E%20"); }
        #hamburger-menu-wrapper .ul-level-1 > li > a, #hamburger-menu-wrapper .ul-level-2 > li > a, #hamburger-menu-wrapper .ul-level-3 > li > a {
          display: flex;
          align-items: center;
          min-height: 48px;
          padding-right: 32px;
          font-family: Sofia Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          color: #221F44; }
    #hamburger-menu-wrapper .ul-level-1 {
      padding: 0 24px;
      margin-top: 40px; }
    #hamburger-menu-wrapper .ul-level-2 {
      padding: 0 24px 0 64px; }
    #hamburger-menu-wrapper .ul-level-3 {
      padding: 0 24px 0 88px; }
    #hamburger-menu-wrapper .ul-level-2, #hamburger-menu-wrapper .ul-level-3 {
      display: none; }
      #hamburger-menu-wrapper .ul-level-2.on, #hamburger-menu-wrapper .ul-level-3.on {
        display: block; }
    #hamburger-menu-wrapper .main-menu-btn {
      display: flex;
      align-items: center;
      width: 100%;
      height: 56px;
      padding: 8px 0 8px 24px;
      background-color: #F7F7FC;
      font-family: Sofia Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #221F44; }
      #hamburger-menu-wrapper .main-menu-btn:before {
        content: '';
        display: flex;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M11.8714%2011.7803L14.3411%209.31066L13.2804%208.25L9.75007%2011.7803L13.2804%2015.3107L14.3411%2014.25L11.8714%2011.7803Z%22%20fill%3D%22%23221F44%22%2F%3E%20%3C%2Fsvg%3E%20"); }
    #hamburger-menu-wrapper .level-2-header, #hamburger-menu-wrapper .level-3-header {
      display: none;
      align-items: center;
      width: 100%;
      height: 48px;
      padding: 0 0 8px 48px;
      margin-top: -8px;
      background-color: #F7F7FC;
      font-family: Sofia Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #221F44; }
      #hamburger-menu-wrapper .level-2-header:before, #hamburger-menu-wrapper .level-3-header:before {
        content: '';
        display: flex;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M11.8714%2011.7803L14.3411%209.31066L13.2804%208.25L9.75007%2011.7803L13.2804%2015.3107L14.3411%2014.25L11.8714%2011.7803Z%22%20fill%3D%22%23221F44%22%2F%3E%20%3C%2Fsvg%3E%20"); }
    #hamburger-menu-wrapper .level-3-header.on {
      display: flex; }
    #hamburger-menu-wrapper .level-2-screentitle, #hamburger-menu-wrapper .level-3-screentitle {
      display: none;
      height: 20px;
      margin: 24px 0 0 64px;
      font-family: Sofia Pro;
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #E94034; }
      #hamburger-menu-wrapper .level-2-screentitle.on, #hamburger-menu-wrapper .level-3-screentitle.on {
        display: flex; }
    #hamburger-menu-wrapper .level-3-screentitle {
      margin-left: 88px; } }
/* XS1 */
/* XS2 */
/* Common SM1 and SM2 */
/* SM1 */
/* SM2 */
/* Common MD and LG */
@media all and (min-width: 1296px) {
  #hamburger-menu-wrapper {
    display: none; }

  #hamburger-menu-wrapper {
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 448px;
    background-color: #fff;
    transform: translateX(100%); }
    #hamburger-menu-wrapper:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      display: flex;
      height: 96px;
      background-color: #fff;
      transition: background-color 0.7s; }
    #hamburger-menu-wrapper[data-screen='level2-on']:before, #hamburger-menu-wrapper[data-screen='level3-on']:before {
      background-color: #F7F7FC; }
    #hamburger-menu-wrapper #menu-content-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 100%; }
    #hamburger-menu-wrapper #menu-animation-wrapper {
      display: flex;
      order: 2;
      flex-shrink: 0;
      justify-content: space-between;
      width: 300%;
      height: calc(100% - 96px);
      margin-top: 32px; }
    #hamburger-menu-wrapper #menu-screen-1,
    #hamburger-menu-wrapper #menu-screen-2,
    #hamburger-menu-wrapper #menu-screen-3 {
      display: flex;
      flex-wrap: wrap;
      align-content: start;
      width: 100%;
      height: 100%;
      padding-bottom: 108px;
      overflow-x: hidden;
      overflow-y: auto; }
      #hamburger-menu-wrapper #menu-screen-1::-webkit-scrollbar,
      #hamburger-menu-wrapper #menu-screen-2::-webkit-scrollbar,
      #hamburger-menu-wrapper #menu-screen-3::-webkit-scrollbar {
        width: 7px; }
      #hamburger-menu-wrapper #menu-screen-1::-webkit-scrollbar-track,
      #hamburger-menu-wrapper #menu-screen-2::-webkit-scrollbar-track,
      #hamburger-menu-wrapper #menu-screen-3::-webkit-scrollbar-track {
        background: #f5f5f5; }
      #hamburger-menu-wrapper #menu-screen-1::-webkit-scrollbar-thumb,
      #hamburger-menu-wrapper #menu-screen-2::-webkit-scrollbar-thumb,
      #hamburger-menu-wrapper #menu-screen-3::-webkit-scrollbar-thumb {
        /* Handle */
        background: #ccc; }
      #hamburger-menu-wrapper #menu-screen-1::-webkit-scrollbar-thumb:hover,
      #hamburger-menu-wrapper #menu-screen-2::-webkit-scrollbar-thumb:hover,
      #hamburger-menu-wrapper #menu-screen-3::-webkit-scrollbar-thumb:hover {
        /* Handle on hover */
        background: #aaa; }
    #hamburger-menu-wrapper #menu-screen-1 {
      justify-content: space-between;
      background-color: #F7F7FC; }
    #hamburger-menu-wrapper #site-logo-menu {
      display: flex;
      order: 0;
      width: 32px;
      height: 32px;
      margin: 32px 0 0 24px; }
      #hamburger-menu-wrapper #site-logo-menu .logo-icon {
        display: block; }
      #hamburger-menu-wrapper #site-logo-menu .logo-dark, #hamburger-menu-wrapper #site-logo-menu .logo-light {
        display: none; }
    #hamburger-menu-wrapper #close-button-menu {
      display: flex;
      order: 1;
      width: 24px;
      height: 24px;
      margin: 36px 24px 0 0; }
    #hamburger-menu-wrapper #menu-primary {
      display: flex;
      width: 100%; }
      #hamburger-menu-wrapper #menu-primary #submenu-animation-wrapper {
        width: 100%; }
    #hamburger-menu-wrapper .ul-level-1, #hamburger-menu-wrapper .ul-level-2, #hamburger-menu-wrapper .ul-level-3 {
      display: block;
      width: 100%; }
      #hamburger-menu-wrapper .ul-level-1 > li, #hamburger-menu-wrapper .ul-level-2 > li, #hamburger-menu-wrapper .ul-level-3 > li {
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M13.1893%2018.3107L12.1287%2017.25L16.6287%2012.75H6V11.25H16.6287L12.1287%206.74999L13.1893%205.68933L19.5%2012L13.1893%2018.3107Z%22%20fill%3D%22%23221F44%22%20%2F%3E%20%3C%2Fsvg%3E%20");
        background-position: right center;
        background-repeat: no-repeat; }
        #hamburger-menu-wrapper .ul-level-1 > li.hasSubmenu, #hamburger-menu-wrapper .ul-level-2 > li.hasSubmenu, #hamburger-menu-wrapper .ul-level-3 > li.hasSubmenu {
          background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M9%207.06066L10.0607%206L16.3713%2012.3107L10.0607%2018.6213L9%2017.5607L14.25%2012.3107L9%207.06066Z%22%20fill%3D%22%23221F44%22%2F%3E%20%3C%2Fsvg%3E%20"); }
        #hamburger-menu-wrapper .ul-level-1 > li.signout, #hamburger-menu-wrapper .ul-level-2 > li.signout, #hamburger-menu-wrapper .ul-level-3 > li.signout {
          background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M13.1893%2018.3107L12.1287%2017.25L16.6287%2012.75H6V11.25H16.6287L12.1287%206.74999L13.1893%205.68933L19.5%2012L13.1893%2018.3107Z%22%20fill%3D%22%23221F44%22%20opacity%3D%220.3%22%2F%3E%20%3C%2Fsvg%3E%20"); }
        #hamburger-menu-wrapper .ul-level-1 > li.menu-separator, #hamburger-menu-wrapper .ul-level-2 > li.menu-separator, #hamburger-menu-wrapper .ul-level-3 > li.menu-separator {
          margin-bottom: 49px; }
          #hamburger-menu-wrapper .ul-level-1 > li.menu-separator:after, #hamburger-menu-wrapper .ul-level-2 > li.menu-separator:after, #hamburger-menu-wrapper .ul-level-3 > li.menu-separator:after {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            bottom: -24px;
            left: 0;
            border-bottom: 1px solid #ECEAFA; }
        #hamburger-menu-wrapper .ul-level-1 > li.menu-double-separator, #hamburger-menu-wrapper .ul-level-2 > li.menu-double-separator, #hamburger-menu-wrapper .ul-level-3 > li.menu-double-separator {
          margin-top: 16px; }
          #hamburger-menu-wrapper .ul-level-1 > li.menu-double-separator:before, #hamburger-menu-wrapper .ul-level-1 > li.menu-double-separator:after, #hamburger-menu-wrapper .ul-level-2 > li.menu-double-separator:before, #hamburger-menu-wrapper .ul-level-2 > li.menu-double-separator:after, #hamburger-menu-wrapper .ul-level-3 > li.menu-double-separator:before, #hamburger-menu-wrapper .ul-level-3 > li.menu-double-separator:after {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            left: 0;
            border-bottom: 1px solid #ECEAFA; }
          #hamburger-menu-wrapper .ul-level-1 > li.menu-double-separator:before, #hamburger-menu-wrapper .ul-level-2 > li.menu-double-separator:before, #hamburger-menu-wrapper .ul-level-3 > li.menu-double-separator:before {
            top: -8px; }
          #hamburger-menu-wrapper .ul-level-1 > li.menu-double-separator:after, #hamburger-menu-wrapper .ul-level-2 > li.menu-double-separator:after, #hamburger-menu-wrapper .ul-level-3 > li.menu-double-separator:after {
            bottom: -8px; }
        #hamburger-menu-wrapper .ul-level-1 > li > a, #hamburger-menu-wrapper .ul-level-2 > li > a, #hamburger-menu-wrapper .ul-level-3 > li > a {
          display: flex;
          align-items: center;
          min-height: 48px;
          padding-right: 32px;
          font-family: Sofia Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          color: #221F44;
          transition: color 0.3s; }
        #hamburger-menu-wrapper .ul-level-1 > li:not(.lang-container):hover, #hamburger-menu-wrapper .ul-level-2 > li:not(.lang-container):hover, #hamburger-menu-wrapper .ul-level-3 > li:not(.lang-container):hover {
          background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M13.1893%2018.3107L12.1287%2017.25L16.6287%2012.75H6V11.25H16.6287L12.1287%206.74999L13.1893%205.68933L19.5%2012L13.1893%2018.3107Z%22%20fill%3D%22%23E94034%22%2F%3E%20%3C%2Fsvg%3E%20"); }
          #hamburger-menu-wrapper .ul-level-1 > li:not(.lang-container):hover.hasSubmenu, #hamburger-menu-wrapper .ul-level-2 > li:not(.lang-container):hover.hasSubmenu, #hamburger-menu-wrapper .ul-level-3 > li:not(.lang-container):hover.hasSubmenu {
            background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M9%207.06066L10.0607%206L16.3713%2012.3107L10.0607%2018.6213L9%2017.5607L14.25%2012.3107L9%207.06066Z%22%20fill%3D%22%23E94034%22%2F%3E%20%3C%2Fsvg%3E%20"); }
          #hamburger-menu-wrapper .ul-level-1 > li:not(.lang-container):hover > a, #hamburger-menu-wrapper .ul-level-2 > li:not(.lang-container):hover > a, #hamburger-menu-wrapper .ul-level-3 > li:not(.lang-container):hover > a {
            color: #E94034;
            opacity: 1 !important; }
    #hamburger-menu-wrapper .ul-level-1 {
      background-color: #fff; }
      #hamburger-menu-wrapper .ul-level-1 > li {
        padding-right: 24px;
        padding-left: 24px;
        background-position: calc(100% - 24px) center; }
        #hamburger-menu-wrapper .ul-level-1 > li.bottom-menu-item {
          background-position: calc(100% - 24px) calc(100% - 8px);
          background-color: #F7F7FC; }
          #hamburger-menu-wrapper .ul-level-1 > li.bottom-menu-item > a {
            min-height: 40px;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px; }
          #hamburger-menu-wrapper .ul-level-1 > li.bottom-menu-item.signout > a {
            opacity: 0.5; }
        #hamburger-menu-wrapper .ul-level-1 > li.lang-container {
          display: flex;
          padding-top: 24px;
          background-image: none; }
          #hamburger-menu-wrapper .ul-level-1 > li.lang-container > a {
            display: flex;
            justify-content: center;
            width: 80px;
            height: 40px;
            padding: 0;
            margin-right: 1px;
            background-color: #fff; }
            #hamburger-menu-wrapper .ul-level-1 > li.lang-container > a:hover {
              color: #E94034; }
            #hamburger-menu-wrapper .ul-level-1 > li.lang-container > a.lang-selected:before {
              content: '';
              position: absolute;
              top: calc(50% - 8px);
              left: 8px;
              display: block;
              width: 16px;
              height: 16px;
              background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M0%208C0%203.58172%203.58172%200%208%200C12.4183%200%2016%203.58172%2016%208C16%2012.4183%2012.4183%2016%208%2016C3.58172%2016%200%2012.4183%200%208Z%22%20fill%3D%22%23221F44%22%2F%3E%20%3Cpath%20d%3D%22M11.1699%205L11.9132%205.66896L6.7262%2011.4323L4%208.70613L4.70711%207.99902L6.68801%209.97993L11.1699%205Z%22%20fill%3D%22white%22%2F%3E%20%3C%2Fsvg%3E%20"); }
    #hamburger-menu-wrapper .ul-level-2 {
      padding: 0 24px 0 64px; }
    #hamburger-menu-wrapper .ul-level-3 {
      padding: 0 24px 0 88px; }
    #hamburger-menu-wrapper .ul-level-2, #hamburger-menu-wrapper .ul-level-3 {
      display: none; }
      #hamburger-menu-wrapper .ul-level-2.on, #hamburger-menu-wrapper .ul-level-3.on {
        display: block; }
    #hamburger-menu-wrapper .main-menu-btn {
      display: flex;
      align-items: center;
      width: 100%;
      height: 56px;
      padding: 8px 0 8px 24px;
      background-color: #F7F7FC;
      font-family: Sofia Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #221F44; }
      #hamburger-menu-wrapper .main-menu-btn:before {
        content: '';
        display: flex;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M11.8714%2011.7803L14.3411%209.31066L13.2804%208.25L9.75007%2011.7803L13.2804%2015.3107L14.3411%2014.25L11.8714%2011.7803Z%22%20fill%3D%22%23221F44%22%2F%3E%20%3C%2Fsvg%3E%20"); }
    #hamburger-menu-wrapper .level-2-header, #hamburger-menu-wrapper .level-3-header {
      display: none;
      align-items: center;
      width: 100%;
      height: 48px;
      padding: 0 0 8px 48px;
      margin-top: -8px;
      background-color: #F7F7FC;
      font-family: Sofia Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #221F44; }
      #hamburger-menu-wrapper .level-2-header:before, #hamburger-menu-wrapper .level-3-header:before {
        content: '';
        display: flex;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M11.8714%2011.7803L14.3411%209.31066L13.2804%208.25L9.75007%2011.7803L13.2804%2015.3107L14.3411%2014.25L11.8714%2011.7803Z%22%20fill%3D%22%23221F44%22%2F%3E%20%3C%2Fsvg%3E%20"); }
    #hamburger-menu-wrapper .level-3-header.on {
      display: flex; }
    #hamburger-menu-wrapper .level-2-screentitle, #hamburger-menu-wrapper .level-3-screentitle {
      display: none;
      margin: 24px 0 24px 64px;
      font-family: Sofia Pro;
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #E94034; }
      #hamburger-menu-wrapper .level-2-screentitle.on, #hamburger-menu-wrapper .level-3-screentitle.on {
        display: flex; }
    #hamburger-menu-wrapper .level-3-screentitle {
      margin-left: 88px; } }
/* MD */
/* LG */

/*# sourceMappingURL=Menu.css.map */
