@* Media Query values in Global.scss applied on the following elements which javascript functions refer to *@
<div id="mq-values">
    <div id="mq-xs1"></div>
    <div id="mq-xs2"></div>
    <div id="mq-sm1"></div>
    <div id="mq-sm2"></div>
    <div id="mq-md"></div>
    <div id="mq-lg"></div>
</div>