
@{
    ViewBag.Title = "Index";
}



@section head{

}
<main data-body-class="no-footer no-header">
    <section class="comp-section-07">
        <a href="#" data-modal="modalDummyId01"
           onclick='Felece.Modal.Actions.show({
                ev: event,
                sender: this,
    type: "drw",
                      contentId: "forgotModal",
                size: "lg",
                dir: ["r2l"],
                esc: true,
                overlay: false
            });'>
            Drawer:<br />
            <code>Feux.Modal.Actions.show({ ev: event, sender: this, type: "drw", size: "sm", dir: "l2r", esc: false, overlay: false });</code>
        </a>



    </section>

</main>


@section afterContentWrapper{

    <section id="forgotModal" data-modal-section="content" class="comp-modal-01">
        <div data-modal-section="header">
        </div>

        <div data-modal-section="body">

            <div id="emailCofirmContent">
                <div class="c-container-01">
                    Onay Kodunuz
                </div>
                <div class="c-container-02 mb-xs1-32px mt-xs1-12px">
                    Lütfen obiwan@kenobi.com adresine gönderdiğimiz onay kodunu aşağıdaki alana girin. Sadece bir defa sorulacaktır.
                </div>
                <div class="c-container-05 mb-xs1-80px">
                    <div id="confirmCodeInputsContainer" class="c-item-01">
                        <input id="code_1" type="text" name="code01" onkeydown="Felece.Confirmation.confirmCodeEvents.onkeydown(this,event,'first')" onkeyup="Felece.Confirmation.confirmCodeEvents.inputChange(this,'code_2')" onClick="this.select();" data-maskFormat="numeric" maxlength="1" autocomplete="off" class="c-unit-01 " />
                        <input id="code_2" type="text" name="code02" onkeydown="Felece.Confirmation.confirmCodeEvents.onkeydown(this,event,'code_1')" onkeyup="Felece.Confirmation.confirmCodeEvents.inputChange(this,'code_3')" onClick="this.select();" data-maskFormat="numeric" maxlength="1" autocomplete="off" class="c-unit-01 " />
                        <input id="code_3" type="text" name="code03" onkeydown="Felece.Confirmation.confirmCodeEvents.onkeydown(this,event,'code_2')" onkeyup="Felece.Confirmation.confirmCodeEvents.inputChange(this,'code_4')" onClick="this.select();" data-maskFormat="numeric" maxlength="1" autocomplete="off" class="c-unit-01 " />
                        <input id="code_4" type="text" name="code04" onkeydown="Felece.Confirmation.confirmCodeEvents.onkeydown(this,event,'code_3')" onkeyup="Felece.Confirmation.confirmCodeEvents.inputChange(this,'code_5')" onClick="this.select();" data-maskFormat="numeric" maxlength="1" autocomplete="off" class="c-unit-01 " />
                        <input id="code_5" type="text" name="code05" onkeydown="Felece.Confirmation.confirmCodeEvents.onkeydown(this,event,'code_4')" onkeyup="Felece.Confirmation.confirmCodeEvents.inputChange(this,'code_6')" onClick="this.select();" data-maskFormat="numeric" maxlength="1" autocomplete="off" class="c-unit-01 " />
                        <input id="code_6" type="text" name="code06" onkeydown="Felece.Confirmation.confirmCodeEvents.onkeydown(this,event,'code_5')" onkeyup="Felece.Confirmation.confirmCodeEvents.inputChange(this,'submit')" onClick="this.select();" data-maskFormat="numeric" maxlength="1" autocomplete="off" class="c-unit-01 " />
                    </div>

                    <div id="confirmFeedBack" class="c-item-09 ncm-ff-A">
                        Onay kodu geçerli değil. Lütfen kontrol edip tekrar deneyin.
                    </div>

                </div>
                <div class="c-container-04">
                    <a href="#" onclick="Felece.Identity.Actions.nextEmailConfirm({ ev: event,sender:this })" class="c-item-01 mb-xs1-16px">Doğrula</a>
                    <a href="#" class="c-item-02">Tekrar Gönder</a>
                </div>
            </div>
            <div id="smsCofirmContent">
                <div class="c-container-01">
                    Onay Kodunuz
                </div>
                <div class="c-container-02 mb-xs1-32px mt-xs1-12px">
                    Lütfen 553 214 55 66 numaralı cep telefonunuza SMS ile gönderdiğimiz onay kodunu aşağıdaki alana girin. Sadece ilk girişinizde sorulacaktır.
                </div>
                <div class="c-container-05 mb-xs1-80px">

                    <div id="confirmCodeTimer" class="c-item-02 mt-xs1-32px mb-xs1-8px" data-time-counter="">
                        <div class="c-unit-01">Onay Kodu</div>
                        <div class="c-unit-02"><span data-timer-minute="true">02</span>:<span data-timer-second="true">58</span></div>
                    </div>


                    <div id="confirmCodeInputsContainer" class="c-item-01">
                        <input id="code_1" type="text" name="code01" onkeydown="Felece.Confirmation.confirmCodeEvents.onkeydown(this,event,'first')" onkeyup="Felece.Confirmation.confirmCodeEvents.inputChange(this,'code_2')" onClick="this.select();" data-maskFormat="numeric" maxlength="1" autocomplete="off" class="c-unit-01 " />
                        <input id="code_2" type="text" name="code02" onkeydown="Felece.Confirmation.confirmCodeEvents.onkeydown(this,event,'code_1')" onkeyup="Felece.Confirmation.confirmCodeEvents.inputChange(this,'code_3')" onClick="this.select();" data-maskFormat="numeric" maxlength="1" autocomplete="off" class="c-unit-01 " />
                        <input id="code_3" type="text" name="code03" onkeydown="Felece.Confirmation.confirmCodeEvents.onkeydown(this,event,'code_2')" onkeyup="Felece.Confirmation.confirmCodeEvents.inputChange(this,'code_4')" onClick="this.select();" data-maskFormat="numeric" maxlength="1" autocomplete="off" class="c-unit-01 " />
                        <input id="code_4" type="text" name="code04" onkeydown="Felece.Confirmation.confirmCodeEvents.onkeydown(this,event,'code_3')" onkeyup="Felece.Confirmation.confirmCodeEvents.inputChange(this,'code_5')" onClick="this.select();" data-maskFormat="numeric" maxlength="1" autocomplete="off" class="c-unit-01 " />
                        <input id="code_5" type="text" name="code05" onkeydown="Felece.Confirmation.confirmCodeEvents.onkeydown(this,event,'code_4')" onkeyup="Felece.Confirmation.confirmCodeEvents.inputChange(this,'code_6')" onClick="this.select();" data-maskFormat="numeric" maxlength="1" autocomplete="off" class="c-unit-01 " />
                        <input id="code_6" type="text" name="code06" onkeydown="Felece.Confirmation.confirmCodeEvents.onkeydown(this,event,'code_5')" onkeyup="Felece.Confirmation.confirmCodeEvents.inputChange(this,'submit')" onClick="this.select();" data-maskFormat="numeric" maxlength="1" autocomplete="off" class="c-unit-01 " />
                    </div>

                    <div id="expiredContainer" class="c-item-08">
                        <h5 class="c-unit-01">SMS ile gönderilen onay kodunun süresi doldu.</h5>
                        <a href="#" onclick="Felece.Confirmation.confirmCodeEvents.getNewCode({ ev: event, sender: this })" class="c-unit-02">Yeni kod alın</a>
                    </div>
                    <div id="confirmFeedBack" class="c-item-09 ncm-ff-A">
                        Onay kodu geçerli değil. Lütfen kontrol edip tekrar deneyin.
                    </div>

                </div>
                <div class="c-container-04">
                    <a href="#" onclick="Felece.Identity.Actions.nextSmsConfirm({ ev: event,sender:this })" class="c-item-01 mb-xs1-16px">Doğrula</a>
                    <a href="#" class="c-item-02">Tekrar Gönder</a>
                </div>
            </div>
            <div id="forgotPassContent">
                <div class="c-container-01">
                    Şifremi Unuttum
                </div>
                <div class="c-container-02 mb-xs1-24px mt-xs1-12px">
                    Şifrenizi e-posta adresinize veya cep telefonu numaranıza gönderebilmemiz için lütfen üyeliğinizi oluştururken kullandığınız e-posta adresinizi girin.
                </div>
                <div class="c-container-03">

                    <div id="radio-01" class="comp-form-04 mt-xs1-24px mb-xs1-8px">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.9375 6.25C10.6013 6.25 9.5 7.35132 9.5 8.6875V23.3125C9.5 24.6487 10.6013 25.75 11.9375 25.75H20.0625C21.3987 25.75 22.5 24.6487 22.5 23.3125V8.6875C22.5 7.35132 21.3987 6.25 20.0625 6.25H11.9375ZM11.9375 7.875H20.0625C20.5132 7.875 20.875 8.23682 20.875 8.6875V23.3125C20.875 23.7632 20.5132 24.125 20.0625 24.125H11.9375C11.4868 24.125 11.125 23.7632 11.125 23.3125V8.6875C11.125 8.23682 11.4868 7.875 11.9375 7.875ZM16 21.6875C15.5525 21.6875 15.1875 22.0525 15.1875 22.5C15.1875 22.9475 15.5525 23.3125 16 23.3125C16.4475 23.3125 16.8125 22.9475 16.8125 22.5C16.8125 22.0525 16.4475 21.6875 16 21.6875Z" fill="#373A37" />
                        </svg>
                        <p class="c-item-02">Cep telefonu numarama doğrulama kodu gönder</p>
                        <div class="rdb-A rdb-large c-item-01">
                            <input id="r-server3" type="radio" onchange="Felece.Identity.Actions.toggleCheck(this)" name="radiosample01" data-selection="phone" data-parent-selector="#radio-01">
                            <label for="r-server3"></label>
                        </div>
                    </div>
                    <div id="radio-01" class="comp-form-04 mb-xs1-16px">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.7715 24.5H7.27148C6.67475 24.5 6.10245 24.2629 5.68049 23.841C5.25854 23.419 5.02148 22.8467 5.02148 22.25V10.25C5.02148 9.65326 5.25854 9.08097 5.68049 8.65901C6.10245 8.23705 6.67475 8 7.27148 8H23.7715C24.3682 8 24.9405 8.23705 25.3625 8.65901C25.7844 9.08097 26.0215 9.65326 26.0215 10.25V22.25C26.0215 22.8467 25.7844 23.419 25.3625 23.841C24.9405 24.2629 24.3682 24.5 23.7715 24.5ZM7.27148 9.5C7.07257 9.5 6.88181 9.57902 6.74115 9.71967C6.6005 9.86032 6.52148 10.0511 6.52148 10.25V22.25C6.52148 22.4489 6.6005 22.6397 6.74115 22.7803C6.88181 22.921 7.07257 23 7.27148 23H23.7715C23.9704 23 24.1612 22.921 24.3018 22.7803C24.4425 22.6397 24.5215 22.4489 24.5215 22.25V10.25C24.5215 10.0511 24.4425 9.86032 24.3018 9.71967C24.1612 9.57902 23.9704 9.5 23.7715 9.5H7.27148Z" fill="black" />
                            <path d="M15.5221 17.7496C15.386 17.7496 15.2525 17.7125 15.1359 17.6424L5.38585 11.7826C5.29785 11.7337 5.22059 11.6677 5.15867 11.5883C5.09675 11.5089 5.05144 11.4179 5.02545 11.3207C4.99945 11.2234 4.99329 11.1219 5.00734 11.0222C5.0214 10.9226 5.05537 10.8267 5.10724 10.7405C5.15912 10.6542 5.22782 10.5793 5.30927 10.5201C5.39072 10.461 5.48324 10.4188 5.58133 10.3962C5.67941 10.3735 5.78105 10.3709 5.88018 10.3883C5.97932 10.4058 6.07392 10.4431 6.15836 10.4979L15.5221 16.1244L24.8859 10.4994C24.9703 10.4446 25.0649 10.4073 25.164 10.3898C25.2632 10.3724 25.3648 10.375 25.4629 10.3977C25.561 10.4203 25.6535 10.4625 25.7349 10.5216C25.8164 10.5808 25.8851 10.6557 25.937 10.742C25.9888 10.8282 26.0228 10.9241 26.0369 11.0237C26.0509 11.1234 26.0448 11.2249 26.0188 11.3222C25.9928 11.4194 25.9475 11.5104 25.8855 11.5898C25.8236 11.6692 25.7464 11.7352 25.6584 11.7841L15.9084 17.6439C15.7916 17.7135 15.6581 17.75 15.5221 17.7496Z" fill="black" />
                        </svg>

                        <p class="c-item-02">E-mailime doğrulama kodu gönder</p>
                        <div class="rdb-A rdb-large c-item-01">
                            <input id="r-server4" type="radio" onchange="Felece.Identity.Actions.toggleCheck(this)" name="radiosample01" data-selection="email" data-parent-selector="#radio-01">
                            <label for="r-server4"></label>
                        </div>
                    </div>
                    <div class="form-group-01  mb-xs1-24px">

                        <input id="email" type="text" name="email" value="" autocomplete="new-password" onkeyup="this.setAttribute('value', this.value);" class="gr-textbox">
                        <label for="email" class="tb-placeholder-01">
                            E-Posta
                        </label>
                        <div class="gr-note mb-xs1-12px">
                            Lütfen üyeliğinizi oluştururken kullandığınız e-posta adresinizi girin.
                        </div>
                    </div>
                </div>
                <div class="c-container-04">
                    <a href="#" onclick="Felece.Identity.Actions.nextConfirmation({ ev: event,sender:this })" class="c-item-01 mb-xs1-16px">Doğrulama Kodu Gönder</a>
                </div>
            </div>
            <div id="forgotResult">
                <div class="c-container-06">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                            <path d="M16.6509 42.5279V41.7779H15.9009H12.3736C10.9638 41.7779 9.75 40.5568 9.75 38.9727V15.5572C9.75 13.9718 10.9642 12.75 12.3736 12.75H50.9713C52.3851 12.75 53.6009 13.9732 53.6009 15.5567V38.9727C53.6009 40.5554 52.3854 41.7779 50.9713 41.7779H28.4604H28.1849L27.9749 41.9562L17.1072 51.1838C17.107 51.184 17.1068 51.1842 17.1065 51.1844C17.0549 51.2277 16.9906 51.25 16.9271 51.25C16.8828 51.25 16.8455 51.241 16.8147 51.2266L16.8104 51.2246C16.7152 51.1805 16.6509 51.0825 16.6509 50.9716V42.5279Z" stroke="#373A37" stroke-width="1.5" />
                            <path d="M12.5087 17.6094L23.0433 26.6186M23.0433 26.6186L12.4434 37.3986M23.0433 26.6186L29.3524 32.0141C29.9854 32.5571 30.7976 32.8285 31.6114 32.8285C32.4251 32.8285 33.2369 32.5571 33.8718 32.0151L40.2111 26.5939M40.2111 26.5939L50.1907 36.766M40.2111 26.5939L50.6106 17.6995" stroke="#373A37" stroke-width="1.5" />
                            <circle cx="50" cy="14" r="13.25" fill="#ECDECD" stroke="#373A37" stroke-width="1.5" />
                            <path d="M56.875 9.625L48.125 18.3746L43.75 14" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <rect width="63.9993" height="64" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>

                    <h5 class="c-item-01 mb-xs1-12px mt-xs1-24px">Harika.</h5>
                    <p class="c-item-02 mb-xs1-80px">
                        Şifreniz obi-wan@kenobi.com adresinize gönderildi.
                        <br />
                        Lütfen mailinizi kontrol ediniz.
                    </p>

                </div>

                <div class="c-container-04">
                    <a href="#" class="c-item-02">Anasayfaya Dön</a>
                </div>
            </div>
            
        </div>
        <div data-modal-section="footer" class="footer-01">
        </div>
    </section>
}

@section beforeScripts{


    <script src="~/Content/Plugins/Jquery.Validation/jquery.validate.js"></script>
    <script src="~/Content/Plugins/Jquery.Mask/jquery.mask.js"></script>
}


@section beforeBodyEnd{
    <script src="~/Content/Scripts/Form/Felece.Form.Validation.js"></script>
    <script src="~/Content/Scripts/Form/Felece.Form.Plugin.js"></script>
    <script src="~/Content/Scripts/Base/Felece.Common.jQuery.js"></script>
    <script src="~/Content/Scripts/Misc/Felece.Identity.Base.js"></script>
}
