
@{
    ViewBag.Title = "Index";
}



@section head{

}
<main data-body-class="no-footer no-header">
    <section class="comp-section-07">
        <a href="#" data-modal="modalDummyId01"
           onclick='Felece.Modal.Actions.show({
                ev: event,
                sender: this,
    type: "drw",
                      contentId: "resetPasswordModal",
                size: "lg",
                dir: ["r2l"],
                esc: true,
                overlay: false
            });'>
            Drawer:<br />
            <code>Feux.Modal.Actions.show({ ev: event, sender: this, type: "drw", size: "sm", dir: "l2r", esc: false, overlay: false });</code>
        </a>



    </section>

</main>


@section afterContentWrapper{

    <section id="resetPasswordModal" data-modal-section="content" class="comp-modal-01">
        <div data-modal-section="header">
        </div>

        <div data-modal-section="body">
            <div id="resetPassContainer">
                <div class="c-container-01">
                    Yeni Şifre Oluştur
                </div>
                <div class="c-container-02 mb-xs1-24px mt-xs1-12px">
                    Lütfen, kullanmak istediğiniz şifreyi girin. Şifreniz rakam, büyük ve küçük harf içermeli ve en az 8 karakter olmalıdır
                </div>
                <div class="c-container-03">
                    <div class="form-group-01  mb-xs1-16px">
                        <input id="pass" type="password" name="pass" value="" autocomplete="new-password" onkeyup="this.setAttribute('value', this.value);" class="gr-textbox pass">
                        <label for="pass" class="tb-placeholder-01">
                            Şifre
                        </label>
                        <a href="#" class="gr-pass">
                            <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                    <path d="M8 0C3.582 0 0 5.922 0 5.922C0 5.922 3.582 12 8 12C12.418 12 16 5.922 16 5.922C16 5.922 12.418 0 8 0ZM8 10C5.791 10 4 8.209 4 6C4 3.791 5.791 2 8 2C10.209 2 12 3.791 12 6C12 8.209 10.209 10 8 10ZM6 6C6 4.89544 6.89544 4 8 4C9.10456 4 10 4.89544 10 6C10 7.10456 9.10456 8 8 8C6.89544 8 6 7.10456 6 6Z" fill="#E4E6E8"></path>
                                </g>
                                <defs>
                                    <clipPath id="clip0">
                                        <rect width="16" height="12" fill="white"></rect>
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                        <div class="gr-note">Şifreniz rakam, büyük ve küçük harf içermeli ve en az 8 karakter olmalıdır</div>
                    </div>
                    <div class="form-group-01  mb-xs1-16px">
                        <input id="confirmPassword" type="password" name="confirmPassword" value="" autocomplete="new-password" onkeyup="this.setAttribute('value', this.value);" class="gr-textbox pass">
                        <label for="confirmPassword" class="tb-placeholder-01">
                            Şifre Doğrulama
                        </label>
                        <a href="#" class="gr-pass">
                            <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                    <path d="M8 0C3.582 0 0 5.922 0 5.922C0 5.922 3.582 12 8 12C12.418 12 16 5.922 16 5.922C16 5.922 12.418 0 8 0ZM8 10C5.791 10 4 8.209 4 6C4 3.791 5.791 2 8 2C10.209 2 12 3.791 12 6C12 8.209 10.209 10 8 10ZM6 6C6 4.89544 6.89544 4 8 4C9.10456 4 10 4.89544 10 6C10 7.10456 9.10456 8 8 8C6.89544 8 6 7.10456 6 6Z" fill="#E4E6E8"></path>
                                </g>
                                <defs>
                                    <clipPath id="clip0">
                                        <rect width="16" height="12" fill="white"></rect>
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="c-container-04">
                    <a href="#" onclick="Felece.Identity.Actions.resetPassword({ ev: event, sender: this })" class="c-item-01 mb-xs1-16px">Şifremi Oluştur</a>
                </div>
            </div>
            <div id="resetPassResultContainer" style="display:none">
                <div class="c-container-06">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M32.0337 16.996C33.2853 16.7682 34.5779 16.6533 35.8774 16.6533C46.4579 16.6533 55.0667 24.3381 55.0667 33.7846C55.0667 37.4375 53.8089 40.9 51.4222 43.8332L52.7102 50.6845C52.784 51.0713 52.6452 51.4696 52.3477 51.7286C52.1423 51.9059 51.8834 52 51.6198 52C51.5002 52 51.3795 51.9808 51.2625 51.9413L44.2626 49.5665C41.9596 50.2976 38.1663 50.9127 35.8763 50.9127C25.2947 50.9127 16.6875 43.23 16.6875 33.7846" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M23.9217 31.0397L23.9235 31.0406C23.9726 31.0666 24.0287 31.0805 24.0892 31.0805C24.1646 31.0805 24.2386 31.0571 24.2999 31.0125L23.9217 31.0397ZM23.9217 31.0397L18.7152 28.3041L18.3662 28.1207L18.0173 28.3042L12.8144 31.0397C12.6929 31.1036 12.5464 31.0934 12.4338 31.0117L12.433 31.0112C12.3235 30.932 12.2681 30.7962 12.2914 30.662L12.2917 30.6604L13.2854 24.8652L13.352 24.4767L13.0698 24.2015L8.85952 20.0958L8.85927 20.0955C8.76018 19.999 8.72548 19.8563 8.76765 19.7269L8.76819 19.7253C8.81001 19.596 8.92248 19.5005 9.05885 19.4806C9.05887 19.4806 9.05888 19.4806 9.0589 19.4806L14.8753 18.6357L15.2656 18.579L15.4401 18.2253L18.0425 12.9509C18.0425 12.9508 18.0425 12.9508 18.0426 12.9507C18.0426 12.9507 18.0426 12.9507 18.0426 12.9506C18.1034 12.8277 18.2285 12.75 18.3658 12.75C18.5029 12.75 18.6284 12.828 18.6891 12.9509L21.2931 18.225L21.4677 18.5785L21.8578 18.6352L27.6759 19.48C27.6761 19.48 27.6763 19.48 27.6764 19.48C27.812 19.5001 27.9248 19.595 27.9678 19.7257C28.01 19.8572 27.9743 20.0001 27.8765 20.0954L23.665 24.2009L23.3826 24.4762M23.9217 31.0397L23.3826 24.4762M23.3826 24.4762L23.4493 24.8648M23.3826 24.4762L23.4493 24.8648M23.4493 24.8648L24.444 30.6589C24.444 30.659 24.444 30.6591 24.444 30.6593M23.4493 24.8648L24.444 30.6593M24.444 30.6593C24.467 30.7948 24.4118 30.931 24.2999 31.0124L24.444 30.6593Z" fill="#ECDECD" stroke="#373A37" stroke-width="1.5" />
                        <path d="M29.1855 29.0688H45.7152" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M41.7998 32.7993H29.3203" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" />
                        <path d="M36.6 36.4385H29.3203" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" />
                    </svg>

                    <h5 class="c-item-01 mb-xs1-12px mt-xs1-24px">Yeni Şifreniz Oluşturuldu</h5>
                    <p class="c-item-02 mb-xs1-80px">
                        Yeni şifreniz başarıyla oluşturuldu.  İşlemlerinize devam edebilmeniz için anasayfaya yönlendiriliyorzunuz...
                    </p>

                </div>

                <div class="c-container-04">
                    <a href="#" class="c-item-02">Anasayfaya Dön</a>
                </div>
            </div>
        </div>
        <div data-modal-section="footer" class="footer-01">
        </div>
    </section>
}

@section beforeScripts{


    <script src="~/Content/Plugins/Jquery.Validation/jquery.validate.js"></script>
    <script src="~/Content/Plugins/Jquery.Mask/jquery.mask.js"></script>
}


@section beforeBodyEnd{
    <script src="~/Content/Scripts/Form/Felece.Form.Validation.js"></script>
    <script src="~/Content/Scripts/Form/Felece.Form.Plugin.js"></script>
    <script src="~/Content/Scripts/Base/Felece.Common.jQuery.js"></script>
    <script src="~/Content/Scripts/Misc/Felece.Identity.Base.js"></script>
}
