/* Common XS1 and XS2 */
@media all and (max-width: 767px) {
  .comp-section-03 .c-wrapper > .c-container-01 {
    display: flex;
    flex-direction: column; }
    .comp-section-03 .c-wrapper > .c-container-01 > .c-item-01 {
      margin-bottom: 16px; }
    .comp-section-03 .c-wrapper > .c-container-01 > .c-item-02 {
      display: flex;
      align-items: center; }
      .comp-section-03 .c-wrapper > .c-container-01 > .c-item-02 > .c-item-02-A {
        display: flex;
        align-items: center;
        padding: 0 16px;
        height: 40px; }
        .comp-section-03 .c-wrapper > .c-container-01 > .c-item-02 > .c-item-02-A.on {
          background: #F2F2F2;
          border-radius: 6px; }
  .comp-section-03 .c-wrapper .comp-product-01 {
    width: 306px; }
  .comp-section-03 .c-wrapper > .c-container-03 {
    display: flex;
    flex-wrap: wrap; }
    .comp-section-03 .c-wrapper > .c-container-03 > :nth-child(3n) {
      margin-right: 0; }

  .comp-section-03 .c-wrapper > .c-container-01 > .c-item-01 {
    font-family: Palanquin;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #373A37; }
  .comp-section-03 .c-wrapper > .c-container-01 > .c-item-02 > .c-item-02-A {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #7D8285; }
    .comp-section-03 .c-wrapper > .c-container-01 > .c-item-02 > .c-item-02-A.on {
      font-weight: 600;
      line-height: 24px;
      color: #373A37; } }
/* XS1 */
/* XS2 */
/* Common SM1 and SM2 */
/* SM1 */
/* SM2 */
/* Common MD and LG */
@media all and (min-width: 1296px) {
  .comp-section-03 .c-wrapper > .c-container-01 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; }
    .comp-section-03 .c-wrapper > .c-container-01 > .c-item-01 {
      position: absolute;
      left: 0; }
    .comp-section-03 .c-wrapper > .c-container-01 > .c-item-02 {
      display: flex;
      align-items: center; }
      .comp-section-03 .c-wrapper > .c-container-01 > .c-item-02 > .c-item-02-A {
        display: flex;
        align-items: center;
        padding: 0 16px;
        height: 40px; }
        .comp-section-03 .c-wrapper > .c-container-01 > .c-item-02 > .c-item-02-A.on {
          background: #F2F2F2;
          border-radius: 6px; }
  .comp-section-03 .c-wrapper > .c-container-03 {
    display: flex;
    flex-wrap: wrap; }
    .comp-section-03 .c-wrapper > .c-container-03 > :nth-child(3n) {
      margin-right: 0; }
  .comp-section-03.on .comp-micro-04 {
    transform: translateY(0) !important; }

  .comp-section-03 .c-wrapper > .c-container-01 > .c-item-01 {
    font-family: Palanquin;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #373A37; }
  .comp-section-03 .c-wrapper > .c-container-01 > .c-item-02 > .c-item-02-A {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #7D8285; }
    .comp-section-03 .c-wrapper > .c-container-01 > .c-item-02 > .c-item-02-A.on {
      font-weight: 600;
      line-height: 24px;
      color: #373A37; } }
/* MD */
/* LG */

/*# sourceMappingURL=03.css.map */
