/* Common XS1 and XS2 */
@media all and (max-width: 767px) {
  .comp-section-15 {
    overflow: hidden; }
    .comp-section-15 .c-wrapper > .c-container-01 {
      overflow: hidden; }
    .comp-section-15 .c-wrapper > .c-container-02 {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .comp-section-15 .c-wrapper > .c-container-02 > .c-item-03 {
        width: 100%; }
      .comp-section-15 .c-wrapper > .c-container-02 > .c-item-04 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 182px;
        mix-blend-mode: normal;
        border: 1px solid #E4E6E8;
        border-radius: 2px; }

  .comp-section-15 .c-wrapper > .c-container-02 > .c-item-01 {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.2em;
    color: #DBC1A2; }
  .comp-section-15 .c-wrapper > .c-container-02 > .c-item-02 {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #373A37; }
  .comp-section-15 .c-wrapper > .c-container-02 > .c-item-03 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #373A37; }
  .comp-section-15 .c-wrapper > .c-container-02 > .c-item-04 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #373A37; } }
/* XS1 */
/* XS2 */
/* Common SM1 and SM2 */
/* SM1 */
/* SM2 */
/* Common MD and LG */
@media all and (min-width: 1296px) {
  .comp-section-15 .c-wrapper {
    display: flex;
    justify-content: center; }
    .comp-section-15 .c-wrapper > .c-container-02 {
      padding-left: 75px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .comp-section-15 .c-wrapper > .c-container-02 > .c-item-03 {
        width: 526px; }
      .comp-section-15 .c-wrapper > .c-container-02 > .c-item-04 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 182px;
        mix-blend-mode: normal;
        border: 1px solid #E4E6E8;
        border-radius: 2px; }

  .comp-section-15 .c-wrapper > .c-container-02 > .c-item-01 {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.2em;
    color: #DBC1A2; }
  .comp-section-15 .c-wrapper > .c-container-02 > .c-item-02 {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #373A37; }
  .comp-section-15 .c-wrapper > .c-container-02 > .c-item-03 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #373A37; }
  .comp-section-15 .c-wrapper > .c-container-02 > .c-item-04 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #373A37; } }
/* MD */
/* LG */

/*# sourceMappingURL=15.css.map */
