/* Common XS1 and XS2 */
@media all and (max-width: 767px) {
  .comp-micro-07 > .accordion-item > .accordion-button {
    display: flex;
    align-items: center;
    height: 58px;
    border-bottom: 1px solid #373A37; }
    .comp-micro-07 > .accordion-item > .accordion-button:after {
      content: "";
      width: 15px;
      height: 16px;
      position: absolute;
      right: 16px;
      transition: transform .2s ease-in-out;
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M12%206L8%2010L4%206%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E%20"); }
    .comp-micro-07 > .accordion-item > .accordion-button:not(.collapsed):after {
      transform: rotate(-90deg);
      transition: transform .2s ease-in-out; }
    .comp-micro-07 > .accordion-item > .accordion-button.on {
      border-bottom: none;
      color: #A1413D;
      font-weight: 600; }
  .comp-micro-07 > .accordion-item > .accordion-collapse {
    height: 0;
    overflow: hidden;
    opacity: 0;
    -moz-transition: height 0.4s ease-in-out, opacity 0.3s;
    -o-transition: height 0.4s ease-in-out, opacity 0.3s;
    -webkit-transition: height 0.4s ease-in-out, opacity 0.3s;
    transition: height 0.4s ease-in-out, opacity 0.3s; }
    .comp-micro-07 > .accordion-item > .accordion-collapse.on {
      opacity: 1;
      -moz-transition: height 0.4s ease-in-out, opacity 1s;
      -o-transition: height 0.4s ease-in-out, opacity 1s;
      -webkit-transition: height 0.4s ease-in-out, opacity 1s;
      transition: height 0.4s ease-in-out, opacity 1s; }
    .comp-micro-07 > .accordion-item > .accordion-collapse > .accordion-body {
      padding: 16px 0; }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-03 {
      margin: 24px 0 40px 0;
      background: #FBFBFB;
      mix-blend-mode: normal;
      border: 0.5px solid #E4E6E8;
      border-radius: 2px; }
      .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-03 > .c-item-03-A {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        border-bottom: 0.5px solid #E4E6E8;
        height: 48px; }
        .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-03 > .c-item-03-A > .c-unit-01 {
          width: 150px;
          border-right: 0.5px solid #E4E6E8; }
        .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-03 > .c-item-03-A > .c-unit-02 {
          flex: 1;
          text-align: center; }
      .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-03 > :last-child {
        border-bottom: none; }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-04 {
      padding: 9px 0; }
      .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-04 > .c-item-04-A {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px; }
        .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-04 > .c-item-04-A > .c-unit-01 {
          mix-blend-mode: normal;
          border: 1px solid #E4E6E8;
          border-radius: 50%;
          width: 52px;
          height: 52px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          margin-right: 16px; }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-05 .c-item-05-A {
      margin-bottom: 24px; }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-05 .c-item-05-B {
      height: 58px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 18px;
      border-bottom: 1px solid #E4E6E8;
      background: rgba(228, 230, 232, 0.2); }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-06 .c-item-06-B {
      height: 72px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #E4E6E8; }
      .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-06 .c-item-06-B .c-unit-01 {
        display: flex;
        margin-right: 12px; }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-A {
      margin-bottom: 32px; }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-B {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 24px;
      border-bottom: 1px solid #E4E6E8; }
      .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-B .c-unit-01 {
        margin-bottom: 8px; }
      .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-B .c-unit-03 {
        width: 100%;
        margin-bottom: 8px; }
      .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-B .c-unit-04 {
        width: 100%; }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-08 .c-item-08-B {
      display: flex;
      align-items: center; }
      .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-08 .c-item-08-B .c-unit-01 {
        display: flex;
        margin-right: 24px; }
      .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-08 .c-item-08-B .c-unit-02 .c-unit-02-A {
        margin-bottom: 4px; }

  .comp-micro-07 > .accordion-item > .accordion-button {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #373A37; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-02 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #373A37; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-03 > .c-item-03-A {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 48px;
    color: #373A37; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-03 > :first-child {
    font-weight: 600; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-04 > .c-item-04-A > .c-unit-01 {
    font-family: Palanquin;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    color: #373A37; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-04 > .c-item-04-A > .c-unit-02 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    color: #3D3A36; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-05 .c-item-05-A {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #373A37; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-05 .c-item-05-B .c-unit-01 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #7D8285; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-05 .c-item-05-B .c-unit-02 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #373A37; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-06 .c-item-06-A {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #373A37; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-06 .c-item-06-B {
    height: 72px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E4E6E8; }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-06 .c-item-06-B .c-unit-02 {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      text-align: justify;
      color: #373A37; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-A {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #373A37; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-B .c-unit-01 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #000000; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-B .c-unit-02 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #000000; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-B .c-unit-03 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #A1413D; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-B .c-unit-04 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #3D3A36; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-C {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #3D3A36; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-08 .c-item-08-A {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #3D3A36; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-08 .c-item-08-B .c-unit-02 .c-unit-02-A {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #373A37; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-08 .c-item-08-B .c-unit-02 .c-unit-02-B {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #7D8285; }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-08 .c-item-08-B .c-unit-02 .c-unit-02-B a {
      font-weight: 600;
      color: #A1413D; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-09 .c-item-09-A {
    display: flex;
    margin-bottom: 24px; }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-09 .c-item-09-A > .c-item-01 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 160px;
      height: 40px;
      mix-blend-mode: normal;
      border: 1px solid #E4E6E8;
      border-radius: 2px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #373A37; }
      .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-09 .c-item-09-A > .c-item-01.on {
        background: rgba(228, 230, 232, 0.2);
        border-color: #97A0A9;
        font-weight: 600;
        text-align: center; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-09 .c-item-09-C {
    display: none; } }
/* XS1 */
/* XS2 */
/* Common SM1 and SM2 */
/* SM1 */
/* SM2 */
/* Common MD and LG */
@media all and (min-width: 1296px) {
  .comp-micro-07 > .accordion-item > .accordion-button {
    display: flex;
    align-items: center;
    height: 58px;
    border-bottom: 1px solid #373A37; }
    .comp-micro-07 > .accordion-item > .accordion-button:after {
      content: "";
      width: 15px;
      height: 16px;
      position: absolute;
      right: 16px;
      transition: transform .2s ease-in-out;
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M12%206L8%2010L4%206%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E%20"); }
    .comp-micro-07 > .accordion-item > .accordion-button:not(.collapsed):after {
      transform: rotate(-90deg);
      transition: transform .2s ease-in-out; }
    .comp-micro-07 > .accordion-item > .accordion-button.on {
      border-bottom: none;
      color: #A1413D;
      font-weight: 600; }
  .comp-micro-07 > .accordion-item > .accordion-collapse {
    height: 0;
    opacity: 0;
    -moz-transition: height 0.4s ease-in-out, opacity 0.3s;
    -o-transition: height 0.4s ease-in-out, opacity 0.3s;
    -webkit-transition: height 0.4s ease-in-out, opacity 0.3s;
    transition: height 0.4s ease-in-out, opacity 0.3s; }
    .comp-micro-07 > .accordion-item > .accordion-collapse.on {
      opacity: 1;
      -moz-transition: height 0.4s ease-in-out, opacity 1s;
      -o-transition: height 0.4s ease-in-out, opacity 1s;
      -webkit-transition: height 0.4s ease-in-out, opacity 1s;
      transition: height 0.4s ease-in-out, opacity 1s; }
    .comp-micro-07 > .accordion-item > .accordion-collapse .accordion-body {
      padding: 10px 0; }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-03 {
      margin: 24px 0 0 0;
      background: #FBFBFB;
      mix-blend-mode: normal;
      border: 0.5px solid #E4E6E8;
      border-radius: 2px; }
      .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-03 > .c-item-03-A {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        border-bottom: 0.5px solid #E4E6E8;
        height: 48px; }
        .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-03 > .c-item-03-A > .c-unit-01 {
          width: 450px;
          border-right: 0.5px solid #E4E6E8; }
        .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-03 > .c-item-03-A > .c-unit-02 {
          flex: 1;
          text-align: center; }
      .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-03 > :last-child {
        border-bottom: none; }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-04 > .c-item-04-A {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 52px;
      margin-bottom: 24px; }
      .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-04 > .c-item-04-A > .c-unit-01 {
        mix-blend-mode: normal;
        border: 1px solid #E4E6E8;
        border-radius: 50%;
        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center; }
      .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-04 > .c-item-04-A > .c-unit-02 {
        width: 445px; }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-05 .c-item-05-A {
      margin-bottom: 24px; }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-05 .c-item-05-B {
      height: 58px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 18px;
      border-bottom: 1px solid #E4E6E8;
      background: rgba(228, 230, 232, 0.2); }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-06 .c-item-06-B {
      height: 72px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #E4E6E8; }
      .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-06 .c-item-06-B .c-unit-01 {
        display: flex;
        margin-right: 12px; }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-A {
      margin-bottom: 32px; }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-B {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 24px;
      border-bottom: 1px solid #E4E6E8; }
      .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-B .c-unit-01 {
        margin-bottom: 8px; }
      .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-B .c-unit-03 {
        width: 100%;
        margin-bottom: 8px; }
      .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-B .c-unit-04 {
        width: 100%; }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-08 .c-item-08-B {
      display: flex;
      align-items: center; }
      .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-08 .c-item-08-B .c-unit-01 {
        display: flex;
        margin-right: 24px; }
      .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-08 .c-item-08-B .c-unit-02 .c-unit-02-A {
        margin-bottom: 4px; }

  .comp-micro-07 > .accordion-item > .accordion-button {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #373A37; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-02 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #373A37; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-03 > .c-item-03-A {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 48px;
    color: #373A37; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-03 > :first-child {
    font-weight: 600; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-04 > .c-item-04-A > .c-unit-01 {
    font-family: Palanquin;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    color: #373A37; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-04 > .c-item-04-A > .c-unit-02 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    color: #3D3A36; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-05 .c-item-05-A {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #373A37; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-05 .c-item-05-B .c-unit-01 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #7D8285; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-05 .c-item-05-B .c-unit-02 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #373A37; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-06 .c-item-06-A {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #373A37; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-06 .c-item-06-B {
    height: 72px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E4E6E8; }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-06 .c-item-06-B .c-unit-02 {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      text-align: justify;
      color: #373A37; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-A {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #373A37; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-B .c-unit-01 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #000000; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-B .c-unit-02 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #000000; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-B .c-unit-03 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #A1413D; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-B .c-unit-04 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #3D3A36; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-07 .c-item-07-C {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #3D3A36; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-08 .c-item-08-A {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #3D3A36; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-08 .c-item-08-B .c-unit-02 .c-unit-02-A {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #373A37; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-08 .c-item-08-B .c-unit-02 .c-unit-02-B {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #7D8285; }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-08 .c-item-08-B .c-unit-02 .c-unit-02-B a {
      font-weight: 600;
      color: #A1413D; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-09 .c-item-09-A {
    display: flex;
    margin-bottom: 24px; }
    .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-09 .c-item-09-A > .c-item-01 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 160px;
      height: 40px;
      mix-blend-mode: normal;
      border: 1px solid #E4E6E8;
      border-radius: 2px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #373A37; }
      .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-09 .c-item-09-A > .c-item-01.on {
        background: rgba(228, 230, 232, 0.2);
        border-color: #97A0A9;
        font-weight: 600;
        text-align: center; }
  .comp-micro-07 > .accordion-item > .accordion-collapse .c-item-09 .c-item-09-C {
    display: none; } }
/* MD */
/* LG */

/*# sourceMappingURL=07.css.map */
