/* Common XS1 and XS2 */
@media all and (max-width: 767px) {
  .comp-micro-22 > .c-container-01:before {
    content: "";
    position: absolute;
    left: 16px;
    top: 9px;
    width: 24px;
    height: 24px;
    z-index: 5;
    display: flex;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M5%2011C5%2015.4183%208.58172%2019%2013%2019C17.4183%2019%2021%2015.4183%2021%2011C21%206.58172%2017.4183%203%2013%203C8.58172%203%205%206.58172%205%2011Z%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3Cpath%20d%3D%22M7%2017L3%2021%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E%20");
    background-repeat: no-repeat; }
  .comp-micro-22 > .c-container-01:after {
    display: none; }
  .comp-micro-22 > .c-container-01 #closeSearchContainerMobile {
    position: absolute;
    right: 12px;
    top: 10px;
    width: 24px;
    height: 24px;
    z-index: 5;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M18.75%205.25L5.25%2018.75%22%20stroke%3D%22%23A1413D%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3Cpath%20d%3D%22M18.75%2018.75L5.25%205.25%22%20stroke%3D%22%23A1413D%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E%20");
    background-repeat: no-repeat; }
  .comp-micro-22 > .c-container-01 > .c-item-01 {
    height: 44px;
    width: 100%;
    padding-left: 48px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #7D8285;
    background: rgba(244, 247, 246, 0.5);
    border: 1px solid #E4E6E8;
    border-radius: 63px; }
    .comp-micro-22 > .c-container-01 > .c-item-01::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-family: Open Sans;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #7D8285; }
    .comp-micro-22 > .c-container-01 > .c-item-01::-moz-placeholder {
      /* Firefox 19+ */
      font-family: Open Sans;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #7D8285; }
    .comp-micro-22 > .c-container-01 > .c-item-01:-ms-input-placeholder {
      /* IE 10+ */
      font-family: Open Sans;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #7D8285; }
    .comp-micro-22 > .c-container-01 > .c-item-01:-moz-placeholder {
      /* Firefox 18- */
      font-family: Open Sans;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #7D8285; }
  .comp-micro-22 > .c-container-01 > .c-item-02 {
    display: flex;
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 5px;
    right: 12px; } }
/* XS1 */
/* XS2 */
/* Common SM1 and SM2 */
/* SM1 */
/* SM2 */
/* Common MD and LG */
@media all and (min-width: 1296px) {
  .comp-micro-22 > .c-container-01:before {
    content: "";
    position: absolute;
    left: 16px;
    top: 9px;
    width: 24px;
    height: 24px;
    z-index: 5;
    display: flex;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M5%2011C5%2015.4183%208.58172%2019%2013%2019C17.4183%2019%2021%2015.4183%2021%2011C21%206.58172%2017.4183%203%2013%203C8.58172%203%205%206.58172%205%2011Z%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3Cpath%20d%3D%22M7%2017L3%2021%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E%20");
    background-repeat: no-repeat; }
  .comp-micro-22 > .c-container-01 > .c-item-01 {
    height: 44px;
    width: 100%;
    padding-left: 48px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #7D8285;
    background: rgba(244, 247, 246, 0.5);
    border: 1px solid #E4E6E8;
    border-radius: 63px; }
    .comp-micro-22 > .c-container-01 > .c-item-01::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-family: Open Sans;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #7D8285; }
    .comp-micro-22 > .c-container-01 > .c-item-01::-moz-placeholder {
      /* Firefox 19+ */
      font-family: Open Sans;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #7D8285; }
    .comp-micro-22 > .c-container-01 > .c-item-01:-ms-input-placeholder {
      /* IE 10+ */
      font-family: Open Sans;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #7D8285; }
    .comp-micro-22 > .c-container-01 > .c-item-01:-moz-placeholder {
      /* Firefox 18- */
      font-family: Open Sans;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #7D8285; }
  .comp-micro-22 > .c-container-01 > .c-item-02 {
    display: flex;
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 5px;
    right: 12px; } }
/* MD */
/* LG */

/*# sourceMappingURL=22.css.map */
