
@{
    ViewBag.Title = "Index";
}



@section head{
    <link href="/Content/Plugins/OwlCarousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/Content/Plugins/OwlCarousel/owl.carousel.min.css" rel="stylesheet" />
}
<main>
    <section class="comp-breadcrumb-01">
        <div class="c-wrapper">
            <a href="#">Anasayfa</a>
            <a href="#">Koleksiyonlar</a>
        </div>
    </section>


    <section class="comp-section-06">
        <picture class="c-container-01">
            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/footerTop-large.png">
            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/footerTop-large.png">
            <img src="/Content/Visuals/Temp/footerTop-large.png" alt="">
        </picture>
        <div class="c-wrapper">
            <div class="c-container-02">
                <svg width="32" height="36" viewBox="0 0 32 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.00049 17.833H27.0005" stroke="white" stroke-width="1.5" stroke-linejoin="round"></path>
                    <path d="M18.0005 8.08301L27.0005 17.833L18.0005 27.583" stroke="white" stroke-width="1.5" stroke-linejoin="round"></path>
                </svg>
                <h5 class="c-item-01">Sento </h5>
                <p class="c-item-02">Yumuşak hatları, yalın inceliği ve asil renk alternatifleriyle, sıradanlıktan uzaklaşıyor. Alışılagelmiş batarya ve aksesuar algısına meydan okuyan Origin.</p>
                <div class="c-item-03">
                    <a href="#" class="c-item-03-A">
                        VitrA
                        Clean
                    </a>
                    <a href="#" class="c-item-03-A">
                        <svg width="24" height="27" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.5 15.9375C19.5 8.625 12 2.9375 12 2.9375C12 2.9375 4.5 8.625 4.5 15.9375C4.5 18.0924 5.29018 20.159 6.6967 21.6827C8.10322 23.2065 10.0109 24.0625 12 24.0625C13.9891 24.0625 15.8968 23.2065 17.3033 21.6827C18.7098 20.159 19.5 18.0924 19.5 15.9375Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M16.5 15.9375C16.5 17.2304 16.0259 18.4704 15.182 19.3846C14.3381 20.2989 13.1935 20.8125 12 20.8125" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                    <a href="#" class="c-item-03-A">
                        <svg width="24" height="27" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 20.8125H15" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M9.75 24.0625H14.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M7.49935 17.5629C6.24021 16.5397 5.31018 15.1132 4.84097 13.4855C4.37176 11.8578 4.38716 10.1114 4.885 8.49371C5.38284 6.87603 6.33787 5.46903 7.61483 4.47201C8.89179 3.47499 10.4259 2.93848 12 2.93848C13.574 2.93847 15.1082 3.47498 16.3852 4.472C17.6621 5.46902 18.6172 6.87601 19.115 8.49369C19.6128 10.1114 19.6282 11.8577 19.159 13.4854C18.6898 15.1131 17.7598 16.5397 16.5007 17.5629" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                    <a href="#" class="c-item-03-A">
                        <svg width="24" height="27" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 13.5H6.75L8.25 11.0625L11.25 15.9375L12.75 13.5H15" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M2.63571 10.2493C2.62862 10.1146 2.62505 9.97945 2.625 9.84376C2.62519 8.62311 3.01561 7.44021 3.72989 6.49617C4.44416 5.55213 5.4382 4.90522 6.54299 4.66543C7.64778 4.42564 8.79514 4.60777 9.78999 5.18085C10.7848 5.75394 11.5658 6.6826 12 7.80895L12 7.80896C12.4342 6.68261 13.2152 5.75394 14.21 5.18086C15.2049 4.60777 16.3522 4.42564 17.457 4.66543C18.5618 4.90522 19.5558 5.55213 20.2701 6.49617C20.9844 7.44021 21.3748 8.62311 21.375 9.84376C21.375 16.75 12 22.4375 12 22.4375C12 22.4375 8.25519 20.1657 5.49914 16.7501" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                    <a href="#" class="c-item-03-A">
                        <svg width="24" height="27" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.99951 24.874L10.4995 16.749L4.49951 14.3115L14.9995 2.12402L13.4995 10.249L19.4995 12.6865L8.99951 24.874Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="comp-section-13 mt-xs1-200px mb-xs1-100px">
        <div class="c-wrapper">
            <div class="c-container-01">
                <div class="c-item-01">
                    1950’lerin ikonik görüntüsünden esinlenen klasik bir atmosfer.
                </div>
                <div class="c-item-02">
                    Terri Pecora ve Design Studio VitrA iş birliğiyle tasarlanan Plural Koleksiyonu, 1950’lerin ikonik görüntüsünden esinlenen klasik bir atmosfer sunuyor. Banyoya yaratıcı bir şekilde uyum sağlayan hafif ve özgür mobilyalar, kullanıcılara özel zamanlarını paylaşabilecekleri yeni bir “sosyal alan” açıyor. Plural rafine tasarım diliyle duyuları harekete geçiren lüks bir atmosfer yaratıyor. Farklı kombinasyonlarla koleksiyon, bir araya getirilebilir estetik formlar, çizgiler ve renklerleinsanları incelikle tasarlanmış bir banyo atmosferine davet ediyor.
                </div>
            </div>
        </div>
    </section>
    <section class="comp-section-01 mb-xs1-100px">
        <div class="c-wrapper">
            <div class="c-container-02 mb-xs1-56px">Yer Aldığı Kategoriler</div>
            <div class="c-container-01">
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec01-large.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec01-large.png">
                            <img src="/Content/Visuals/Temp/sec01-large.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Bataryalar
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec02-large.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec02-large.png">
                            <img src="/Content/Visuals/Temp/sec02-large.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Lavabolar
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec03-large.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec03-large.png">
                            <img src="/Content/Visuals/Temp/sec03-large.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Klozetler
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec04-large.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec04-large.png">
                            <img src="/Content/Visuals/Temp/sec04-large.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Vitrifiyeler
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec05-large.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec05-large.png">
                            <img src="/Content/Visuals/Temp/sec05-large.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Vitrifiyeler
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec06-large.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec06-large.png">
                            <img src="/Content/Visuals/Temp/sec06-large.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Banyo Mobilyaları
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec07-large.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec07-large.png">
                            <img src="/Content/Visuals/Temp/sec07-large.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Aksesuarlar
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec08-large.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec08-large.png">
                            <img src="/Content/Visuals/Temp/sec08-large.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Ankastreler
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec09-large.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec09-large.png">
                            <img src="/Content/Visuals/Temp/sec09-large.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Pisuvarlar
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="comp-section-16 mb-xs1-100px">
        <div class="c-wrapper">
            <div id="owl-carousel-03" class="owl-carousel owl-theme slide-type-01 c-container-01">
                <div class="c-item-01">
                    <picture>
                        <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/combi01-small.png">
                        <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/combi01-large.png">
                        <img src="/Content/Visuals/Temp/combi01-large.png" alt="">
                    </picture>
                </div>
                <div class="c-item-01">
                    <picture>
                        <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/combi01-small.png">
                        <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/combi02-large.png">
                        <img src="/Content/Visuals/Temp/combi02-large.png" alt="">
                    </picture>
                </div>
                <div class="c-item-01">
                    <picture>
                        <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/combi01-small.png">
                        <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/combi01-large.png">
                        <img src="/Content/Visuals/Temp/combi01-large.png" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </section>
    <section class="comp-section-14 mb-xs1-100px">
        <div class="c-wrapper">
            <div class="c-container-01 mb-xs1-56px">
                <h6 class="c-item-01 mb-xs1-16px">
                    Teknolojinin Estetikle Buluşması
                </h6>
                <div class="c-item-02">
                    Origin Koleksiyonu, sunduğu çeşitlilik sayesinde tüm banyolar için özgün bir tamamlayıcıya dönüşüyor. Yalın tasarım felsefesi ile geliştirilen ve 200’den fazla ürünü buluşturan koleksiyon, farklı renk, malzeme ve boyut seçeneği sayesinde lavabo, klozet ve duş alanı için tasarım esnekliği sunarak farklı zevklere ve kullanım alışkanlıklarına hitap ediyor.
                </div>
            </div>

            <div id="owl-carousel-03" class="owl-carousel owl-theme slide-type-01">
                <a href="javascript:void(0);" class="comp-micro-04">
                    <picture class="c-container-01">
                        <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec12-large.png">
                        <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec12-large.png">
                        <img src="/Content/Visuals/Temp/sec12-large.png" alt="">
                    </picture>
                    <div class="c-container-02">
                        <h6 class="c-item-01">
                            No Touch
                        </h6>
                        <div class="c-item-02">
                            Sensörlerle maksimum hijyen ve su tasarrufu.
                        </div>
                    </div>
                </a>
                <a href="javascript:void(0);" class="comp-micro-04">
                    <picture class="c-container-01">
                        <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec13-large.png">
                        <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec13-large.png">
                        <img src="/Content/Visuals/Temp/sec13-large.png" alt="">
                    </picture>
                    <div class="c-container-02">
                        <h6 class="c-item-01">
                            Rim-Ex Teknolojisi
                        </h6>
                        <div class="c-item-02">
                            Hijyenik ve konforlu yeni nesil klozet deneyimi
                        </div>
                    </div>
                </a>
                <a href="javascript:void(0);" class="comp-micro-04">
                    <picture class="c-container-01">
                        <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec14-large.png">
                        <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec14-large.png">
                        <img src="/Content/Visuals/Temp/sec14-large.png" alt="">
                    </picture>
                    <div class="c-container-02">
                        <h6 class="c-item-01">
                            VitrA Hygiene
                        </h6>
                        <div class="c-item-02">
                            İyon katkılı özel sır teknolojisi ile daha hijyenik ortamlar
                        </div>
                    </div>
                </a>
                <a href="javascript:void(0);" class="comp-micro-04">
                    <picture class="c-container-01">
                        <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec12-large.png">
                        <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec12-large.png">
                        <img src="/Content/Visuals/Temp/sec12-large.png" alt="">
                    </picture>
                    <div class="c-container-02">
                        <h6 class="c-item-01">
                            No Touch
                        </h6>
                        <div class="c-item-02">
                            Sensörlerle maksimum hijyen ve su tasarrufu.
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="comp-section-03 mb-xs1-100px">
        <div class="c-wrapper">
            <div class="c-container-01 mb-xs1-48px">
                <h6 class="c-item-01">
                    Origin Koleksiyon Ürünleri
                </h6>
            </div>

            <div id="owl-carousel-02" class="owl-carousel owl-theme slide-type-01">
                <div class="comp-product-01">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/p1-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/p1-large.png" />
                            <img src="/Content/Visuals/Temp/p1-large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-07">
                        <div class="c-container-02">
                            <div class="c-item-01">

                            </div>
                            <div class="c-item-02">
                                <h5 class="c-item-02-A">
                                    Origin Lavabo Bataryası
                                </h5>
                                <a class="c-item-02-B" href="#">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.75 21L11.9993 17.25L5.25 21V3.75C5.25 3.55109 5.32902 3.36032 5.46967 3.21967C5.61032 3.07902 5.80109 3 6 3H18C18.1989 3 18.3897 3.07902 18.5303 3.21967C18.671 3.36032 18.75 3.55109 18.75 3.75V21Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="c-container-03">
                            <div class="c-item-01">
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c1.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c2.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c3.png')"></a>

                            </div>
                            <div class="c-item-02">
                                +2 Renk
                            </div>
                        </div>
                        <div class="c-container-04">
                            <div class="c-item-01">
                                4,950 TL
                            </div>
                        </div>
                        <div class="c-container-05">
                            <a href="#" class="c-item-01">60 cm.</a>
                            <a href="#" class="c-item-01">VitrA Clean Teknolojisi</a>
                        </div>
                        <div class="c-container-06">
                            <a href="#" class="c-item-01">Ürünü İncele</a>

                        </div>
                    </div>
                </div>
                <div class="comp-product-01">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/p2-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/p2-large.png" />
                            <img src="/Content/Visuals/Temp/p2-large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-07">
                        <div class="c-container-02">
                            <div class="c-item-01">

                            </div>
                            <div class="c-item-02">
                                <h5 class="c-item-02-A">
                                    Origin Lavabo Bataryası
                                </h5>
                                <a class="c-item-02-B" href="#">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.75 21L11.9993 17.25L5.25 21V3.75C5.25 3.55109 5.32902 3.36032 5.46967 3.21967C5.61032 3.07902 5.80109 3 6 3H18C18.1989 3 18.3897 3.07902 18.5303 3.21967C18.671 3.36032 18.75 3.55109 18.75 3.75V21Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="c-container-03">
                            <div class="c-item-01">
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c1.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c2.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c3.png')"></a>

                            </div>
                            <div class="c-item-02">
                                +2 Renk
                            </div>
                        </div>
                        <div class="c-container-04">
                            <div class="c-item-02">
                                <div class="c-item-02-A">%20</div>
                                <div class="c-item-02-B">
                                    <div class="c-unit-01">5,950 TL</div>
                                    <div class="c-unit-02">4,950 TL</div>
                                </div>
                                <div class="c-item-02-C">
                                    <div class="c-unit-01">Sepette %10 İndirim</div>
                                    <div class="c-unit-02">4,290 TL</div>
                                </div>
                            </div>
                        </div>
                        <div class="c-container-05">
                            <a href="#" class="c-item-01">60 cm.</a>
                            <a href="#" class="c-item-01">VitrA Clean Teknolojisi</a>
                        </div>
                        <div class="c-container-06">
                            <a href="#" class="c-item-01">Ürünü İncele</a>

                        </div>
                    </div>
                </div>
                <div class="comp-product-01">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/p3-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/p3-large.png" />
                            <img src="/Content/Visuals/Temp/p3-large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-07">
                        <div class="c-container-02">
                            <div class="c-item-01">

                            </div>
                            <div class="c-item-02">
                                <h5 class="c-item-02-A">
                                    Origin Lavabo Bataryası
                                </h5>
                                <a class="c-item-02-B" href="#">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.75 21L11.9993 17.25L5.25 21V3.75C5.25 3.55109 5.32902 3.36032 5.46967 3.21967C5.61032 3.07902 5.80109 3 6 3H18C18.1989 3 18.3897 3.07902 18.5303 3.21967C18.671 3.36032 18.75 3.55109 18.75 3.75V21Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="c-container-03">
                            <div class="c-item-01">
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c1.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c2.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c3.png')"></a>

                            </div>
                            <div class="c-item-02">
                                +2 Renk
                            </div>
                        </div>
                        <div class="c-container-04">
                            <div class="c-item-02">
                                <div class="c-item-02-A">%20</div>
                                <div class="c-item-02-B">
                                    <div class="c-unit-01">5,950 TL</div>
                                    <div class="c-unit-02">4,950 TL</div>
                                </div>
                                <div class="c-item-02-C">
                                    <div class="c-unit-01">Sepette %10 İndirim</div>
                                    <div class="c-unit-02">4,290 TL</div>
                                </div>
                            </div>
                        </div>
                        <div class="c-container-05">
                            <a href="#" class="c-item-01">60 cm.</a>
                            <a href="#" class="c-item-01">VitrA Clean Teknolojisi</a>
                        </div>
                        <div class="c-container-06">
                            <a href="#" class="c-item-01">Ürünü İncele</a>

                        </div>
                    </div>
                </div>
                <div class="comp-product-01">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/p4-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/p4-large.png" />
                            <img src="/Content/Visuals/Temp/p4-large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-07">
                        <div class="c-container-02">
                            <div class="c-item-01">

                            </div>
                            <div class="c-item-02">
                                <h5 class="c-item-02-A">
                                    Origin Lavabo Bataryası
                                </h5>
                                <a class="c-item-02-B" href="#">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.75 21L11.9993 17.25L5.25 21V3.75C5.25 3.55109 5.32902 3.36032 5.46967 3.21967C5.61032 3.07902 5.80109 3 6 3H18C18.1989 3 18.3897 3.07902 18.5303 3.21967C18.671 3.36032 18.75 3.55109 18.75 3.75V21Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="c-container-03">
                            <div class="c-item-01">
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c1.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c2.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c3.png')"></a>

                            </div>
                            <div class="c-item-02">
                                +2 Renk
                            </div>
                        </div>
                        <div class="c-container-04">
                            <div class="c-item-02">
                                <div class="c-item-02-A">%20</div>
                                <div class="c-item-02-B">
                                    <div class="c-unit-01">5,950 TL</div>
                                    <div class="c-unit-02">4,950 TL</div>
                                </div>
                                <div class="c-item-02-C">
                                    <div class="c-unit-01">Sepette %10 İndirim</div>
                                    <div class="c-unit-02">4,290 TL</div>
                                </div>
                            </div>
                        </div>
                        <div class="c-container-05">
                            <a href="#" class="c-item-01">60 cm.</a>
                            <a href="#" class="c-item-01">VitrA Clean Teknolojisi</a>
                        </div>
                        <div class="c-container-06">
                            <a href="#" class="c-item-01">Ürünü İncele</a>

                        </div>

                    </div>
                </div>
                <div class="comp-product-01">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/p5-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/p5-large.png" />
                            <img src="/Content/Visuals/Temp/p5-large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-07">
                        <div class="c-container-02">
                            <div class="c-item-01">

                            </div>
                            <div class="c-item-02">
                                <h5 class="c-item-02-A">
                                    Origin Lavabo Bataryası
                                </h5>
                                <a class="c-item-02-B" href="#">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.75 21L11.9993 17.25L5.25 21V3.75C5.25 3.55109 5.32902 3.36032 5.46967 3.21967C5.61032 3.07902 5.80109 3 6 3H18C18.1989 3 18.3897 3.07902 18.5303 3.21967C18.671 3.36032 18.75 3.55109 18.75 3.75V21Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="c-container-03">
                            <div class="c-item-01">
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c1.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c2.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c3.png')"></a>

                            </div>
                            <div class="c-item-02">
                                +2 Renk
                            </div>
                        </div>
                        <div class="c-container-04">
                            <div class="c-item-02">
                                <div class="c-item-02-A">%20</div>
                                <div class="c-item-02-B">
                                    <div class="c-unit-01">5,950 TL</div>
                                    <div class="c-unit-02">4,950 TL</div>
                                </div>
                                <div class="c-item-02-C">
                                    <div class="c-unit-01">Sepette %10 İndirim</div>
                                    <div class="c-unit-02">4,290 TL</div>
                                </div>
                            </div>
                        </div>
                        <div class="c-container-05">
                            <a href="#" class="c-item-01">60 cm.</a>
                            <a href="#" class="c-item-01">VitrA Clean Teknolojisi</a>
                        </div>
                        <div class="c-container-06">
                            <a href="#" class="c-item-01">Ürünü İncele</a>

                        </div>
                    </div>
                </div>
                <div class="comp-product-01">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/p6-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/p6-large.png" />
                            <img src="/Content/Visuals/Temp/p6-large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-07">
                        <div class="c-container-02">
                            <div class="c-item-01">

                            </div>
                            <div class="c-item-02">
                                <h5 class="c-item-02-A">
                                    Asma Klozetler için Taharetli Açık
                                    Gri Platform
                                </h5>
                                <a class="c-item-02-B" href="#">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.75 21L11.9993 17.25L5.25 21V3.75C5.25 3.55109 5.32902 3.36032 5.46967 3.21967C5.61032 3.07902 5.80109 3 6 3H18C18.1989 3 18.3897 3.07902 18.5303 3.21967C18.671 3.36032 18.75 3.55109 18.75 3.75V21Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="c-container-03">
                            <div class="c-item-01">
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c1.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c2.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c3.png')"></a>

                            </div>
                            <div class="c-item-02">
                                +2 Renk
                            </div>
                        </div>
                        <div class="c-container-04">
                            <div class="c-item-02">
                                <div class="c-item-02-A">%20</div>
                                <div class="c-item-02-B">
                                    <div class="c-unit-01">5,950 TL</div>
                                    <div class="c-unit-02">4,950 TL</div>
                                </div>
                                <div class="c-item-02-C">
                                    <div class="c-unit-01">Sepette %10 İndirim</div>
                                    <div class="c-unit-02">4,290 TL</div>
                                </div>
                            </div>
                        </div>
                        <div class="c-container-05">
                            <a href="#" class="c-item-01">60 cm.</a>
                            <a href="#" class="c-item-01">VitrA Clean Teknolojisi</a>
                        </div>
                        <div class="c-container-06">
                            <a href="#" class="c-item-01">Ürünü İncele</a>

                        </div>
                    </div>
                </div>
                <div class="comp-product-01">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/p7-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/p7-large.png" />
                            <img src="/Content/Visuals/Temp/p7-large.png" alt="" />
                        </picture>
                        <div class="c-item-01">20₺ Tasarruf</div>
                    </div>
                    <div class="c-container-07">
                        <div class="c-container-02">
                            <div class="c-item-01">
                                YENİ
                            </div>
                            <div class="c-item-02">
                                <h5 class="c-item-02-A">
                                    Origin Lavabo Bataryası
                                </h5>
                                <a class="c-item-02-B" href="#">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.75 21L11.9993 17.25L5.25 21V3.75C5.25 3.55109 5.32902 3.36032 5.46967 3.21967C5.61032 3.07902 5.80109 3 6 3H18C18.1989 3 18.3897 3.07902 18.5303 3.21967C18.671 3.36032 18.75 3.55109 18.75 3.75V21Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="c-container-03">
                            <div class="c-item-01">
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c1.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c2.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c3.png')"></a>

                            </div>
                        </div>
                        <div class="c-container-04">
                            <div class="c-item-02">
                                <div class="c-item-02-A">%20</div>
                                <div class="c-item-02-B">
                                    <div class="c-unit-01">5,950 TL</div>
                                    <div class="c-unit-02">4,950 TL</div>
                                </div>
                                <div class="c-item-02-C">
                                    <div class="c-unit-01">Sepette %10 İndirim</div>
                                    <div class="c-unit-02">4,290 TL</div>
                                </div>
                            </div>
                        </div>
                        <div class="c-container-05">
                            <a href="#" class="c-item-01">60 cm.</a>
                            <a href="#" class="c-item-01">VitrA Clean Teknolojisi</a>
                        </div>
                        <div class="c-container-06">
                            <a href="#" class="c-item-01">Ürünü İncele</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="comp-section-15 mb-xs1-80px">
        <div class="c-wrapper">
            <div class="c-container-01">
                <picture>
                    <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/abrahamsmall.png" />
                    <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/abrahamlarge.png" />
                    <img src="/Content/Visuals/Temp/abrahamlarge.png" alt="" />
                </picture>
            </div>
            <div class="c-container-02">
                <div class="c-item-01">TASARIMCIYI KEŞFEDİN</div>
                <h6 class="c-item-02 mb-xs1-24px mt-xs1-8px">Abraham Terri Pecora</h6>
                <p class="c-item-03 mb-xs1-24px">Çalışmalarını Milano’da sürdüren Amerikalı tasarımcı Terri Pecora; mobilya ve banyo ürünleri, gözlük ve moda aksesuarları ile çocuk ürünlerinin yanı sıra, stant ve perakende iç mekanlarının tasarımında çalıştı. Estetik ve işlevsel çözümleri tercih eden Pecora, tasarım yaparken, her müşterisinin potansiyeline ve pazarın ihtiyaçlarına uygun cevaplar arıyor.</p>
                <a href="#" class="c-item-04">Daha fazla öğren</a>
            </div>
        </div>
    </section>
</main>



@section beforeBodyEnd{
    <script src="~/Content/Scripts/Base/Felece.Common.jQuery.js"></script>
    <script src="~/Content/Plugins/OwlCarousel/owl.carousel.min.js"></script>
    <script src="~/Content/Scripts/Misc/Felece.Sliders.js"></script>
    <script src="~/Content/Scripts/Misc/Felece.Category.Base.js"></script>
}
