
@{
    ViewBag.Title = "Index";
}



@section head{
    <link href="/Content/Plugins/OwlCarousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/Content/Plugins/OwlCarousel/owl.carousel.min.css" rel="stylesheet" />
}
<main>
    <section class="comp-breadcrumb-01">
        <div class="c-wrapper">
            <a href="#">Anasayfa</a>
            <a href="#">Koleksiyonlar</a>
            <a href="#">Juno Classic</a>
        </div>
    </section>


    <section class="comp-showcase-03">
        <picture>
            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/invDetail01-small.png">
            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/invDetail01-large.png">
            <img src="/Content/Visuals/Temp/invDetail01-large.png" alt="">
        </picture>
        <div class="c-container-01">
            <div class="c-item-01 md-mb-16px">Rim-Ex Teknolojisi</div>
            <div class="c-item-02">Hijyenik ve konforlu yeni nesil klozet deneyimi </div>
        </div>
    </section>

    <section class="comp-section-13 mt-md-200px mb-md-100px mt-xs1-72px mb-xs1-72px">
        <div class="c-wrapper">
            <div class="c-container-01">
                <div class="c-item-01">
                    1950’lerin ikonik görüntüsünden esinlenen klasik bir atmosfer.
                </div>
                <div class="c-item-02">
                    Terri Pecora ve Design Studio VitrA iş birliğiyle tasarlanan Plural Koleksiyonu, 1950’lerin ikonik görüntüsünden esinlenen klasik bir atmosfer sunuyor. Banyoya yaratıcı bir şekilde uyum sağlayan hafif ve özgür mobilyalar, kullanıcılara özel zamanlarını paylaşabilecekleri yeni bir “sosyal alan” açıyor. Plural rafine tasarım diliyle duyuları harekete geçiren lüks bir atmosfer yaratıyor. Farklı kombinasyonlarla koleksiyon, bir araya getirilebilir estetik formlar, çizgiler ve renklerleinsanları incelikle tasarlanmış bir banyo atmosferine davet ediyor.
                </div>
            </div>
        </div>
    </section>
    <section class="comp-section-01 mb-xs1-100px">
        <div class="c-wrapper">
            <div class="c-container-02 mb-xs1-56px">Yer Aldığı Kategoriler</div>
            <div class="c-container-01">
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec01-large.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec01-large.png">
                            <img src="/Content/Visuals/Temp/sec01-large.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Bataryalar
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec02-large.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec02-large.png">
                            <img src="/Content/Visuals/Temp/sec02-large.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Lavabolar
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec03-large.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec03-large.png">
                            <img src="/Content/Visuals/Temp/sec03-large.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Klozetler
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec04-large.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec04-large.png">
                            <img src="/Content/Visuals/Temp/sec04-large.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Vitrifiyeler
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec05-large.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec05-large.png">
                            <img src="/Content/Visuals/Temp/sec05-large.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Vitrifiyeler
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec06-large.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec06-large.png">
                            <img src="/Content/Visuals/Temp/sec06-large.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Banyo Mobilyaları
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec07-large.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec07-large.png">
                            <img src="/Content/Visuals/Temp/sec07-large.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Aksesuarlar
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec08-large.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec08-large.png">
                            <img src="/Content/Visuals/Temp/sec08-large.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Ankastreler
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec09-large.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec09-large.png">
                            <img src="/Content/Visuals/Temp/sec09-large.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Pisuvarlar
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="comp-section-16 mb-xs1-100px">
        <div class="c-wrapper">
            <div id="owl-carousel-03" class="owl-carousel owl-theme slide-type-01 c-container-01 owl-loaded owl-drag">



                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transition: all 0s ease 0s; width: 1077px; transform: translate3d(-6px, 0px, 0px);">
                        <div class="owl-item active center" style="width: auto; margin-right: 12px;">
                            <div class="c-item-01">
                                <picture>
                                    <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/combi01-small.png">
                                    <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/combi01-large.png">
                                    <img src="https://localhost:44376/Content/Visuals/Temp/combi01-large.png" alt="" style="opacity: 1;">
                                </picture>
                            </div>
                        </div><div class="owl-item" style="width: auto; margin-right: 12px;">
                            <div class="c-item-01">
                                <picture>
                                    <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/combi01-small.png">
                                    <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/combi02-large.png">
                                    <img src="https://localhost:44376/Content/Visuals/Temp/combi02-large.png" alt="" style="opacity: 1;">
                                </picture>
                            </div>
                        </div><div class="owl-item" style="width: auto; margin-right: 12px;">
                            <div class="c-item-01">
                                <picture>
                                    <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/combi01-small.png">
                                    <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/combi01-large.png">
                                    <img src="https://localhost:44376/Content/Visuals/Temp/combi01-large.png" alt="" style="opacity: 1;">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div><div class="owl-nav">
                    <button type="button" role="presentation" class="owl-prev disabled">
                        <a href="javascript:void(0);" class="prev nav">
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.25 22.75L13.4837 21.5163L6.85125 14.875H24.5V13.125H6.85125L13.4837 6.48375L12.25 5.25L3.5 14L12.25 22.75Z" fill="#fff"></path>
                            </svg>
                        </a>
                    </button><button type="button" role="presentation" class="owl-next">
                        <a href="javascript:void(0);" class="next nav">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5 16H27" stroke="white" stroke-width="1.5" stroke-linejoin="round"></path>
                                <path d="M18 7L27 16L18 25" stroke="white" stroke-width="1.5" stroke-linejoin="round"></path>
                            </svg>

                        </a>
                    </button>
                </div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
            </div>
        </div>
    </section>
    <section class="comp-section-14 mb-xs1-100px">
        <div class="c-wrapper">
            <div class="c-container-01 mb-xs1-56px">
                <h6 class="c-item-01 mb-xs1-16px">
                    Teknolojinin Estetikle Buluşması
                </h6>
                <div class="c-item-02">
                    Origin Koleksiyonu, sunduğu çeşitlilik sayesinde tüm banyolar için özgün bir tamamlayıcıya dönüşüyor. Yalın tasarım felsefesi ile geliştirilen ve 200’den fazla ürünü buluşturan koleksiyon, farklı renk, malzeme ve boyut seçeneği sayesinde lavabo, klozet ve duş alanı için tasarım esnekliği sunarak farklı zevklere ve kullanım alışkanlıklarına hitap ediyor.
                </div>
            </div>

            <div id="owl-carousel-03" class="owl-carousel owl-theme slide-type-01">
                <a href="javascript:void(0);" class="comp-micro-04">
                    <picture class="c-container-01">
                        <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec12-large.png">
                        <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec12-large.png">
                        <img src="/Content/Visuals/Temp/sec12-large.png" alt="">
                    </picture>
                    <div class="c-container-02">
                        <h6 class="c-item-01">
                            No Touch
                        </h6>
                        <div class="c-item-02">
                            Sensörlerle maksimum hijyen ve su tasarrufu.
                        </div>
                    </div>
                </a>
                <a href="javascript:void(0);" class="comp-micro-04">
                    <picture class="c-container-01">
                        <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec13-large.png">
                        <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec13-large.png">
                        <img src="/Content/Visuals/Temp/sec13-large.png" alt="">
                    </picture>
                    <div class="c-container-02">
                        <h6 class="c-item-01">
                            Rim-Ex Teknolojisi
                        </h6>
                        <div class="c-item-02">
                            Hijyenik ve konforlu yeni nesil klozet deneyimi
                        </div>
                    </div>
                </a>
                <a href="javascript:void(0);" class="comp-micro-04">
                    <picture class="c-container-01">
                        <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec14-large.png">
                        <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec14-large.png">
                        <img src="/Content/Visuals/Temp/sec14-large.png" alt="">
                    </picture>
                    <div class="c-container-02">
                        <h6 class="c-item-01">
                            VitrA Hygiene
                        </h6>
                        <div class="c-item-02">
                            İyon katkılı özel sır teknolojisi ile daha hijyenik ortamlar
                        </div>
                    </div>
                </a>
                <a href="javascript:void(0);" class="comp-micro-04">
                    <picture class="c-container-01">
                        <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec12-large.png">
                        <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec12-large.png">
                        <img src="/Content/Visuals/Temp/sec12-large.png" alt="">
                    </picture>
                    <div class="c-container-02">
                        <h6 class="c-item-01">
                            No Touch
                        </h6>
                        <div class="c-item-02">
                            Sensörlerle maksimum hijyen ve su tasarrufu.
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="comp-section-03 mb-xs1-100px">
        <div class="c-wrapper">
            <div class="c-container-01 mb-xs1-48px">
                <h6 class="c-item-01">
                    Origin Koleksiyon Ürünleri
                </h6>
            </div>

            <div id="owl-carousel-02" class="owl-carousel owl-theme slide-type-01">
                <div class="comp-product-01">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/p1-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/p1-large.png" />
                            <img src="/Content/Visuals/Temp/p1-large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-07">
                        <div class="c-container-02">
                            <div class="c-item-01">

                            </div>
                            <div class="c-item-02">
                                <h5 class="c-item-02-A">
                                    Origin Lavabo Bataryası
                                </h5>
                                <a class="c-item-02-B" href="#">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.75 21L11.9993 17.25L5.25 21V3.75C5.25 3.55109 5.32902 3.36032 5.46967 3.21967C5.61032 3.07902 5.80109 3 6 3H18C18.1989 3 18.3897 3.07902 18.5303 3.21967C18.671 3.36032 18.75 3.55109 18.75 3.75V21Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="c-container-03">
                            <div class="c-item-01">
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c1.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c2.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c3.png')"></a>

                            </div>
                            <div class="c-item-02">
                                +2 Renk
                            </div>
                        </div>
                        <div class="c-container-04">
                            <div class="c-item-01">
                                4,950 TL
                            </div>
                        </div>
                        <div class="c-container-05">
                            <a href="#" class="c-item-01">60 cm.</a>
                            <a href="#" class="c-item-01">VitrA Clean Teknolojisi</a>
                        </div>
                        <div class="c-container-06">
                            <a href="#" class="c-item-01">Ürünü İncele</a>

                        </div>
                    </div>
                </div>
                <div class="comp-product-01">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/p2-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/p2-large.png" />
                            <img src="/Content/Visuals/Temp/p2-large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-07">
                        <div class="c-container-02">
                            <div class="c-item-01">

                            </div>
                            <div class="c-item-02">
                                <h5 class="c-item-02-A">
                                    Origin Lavabo Bataryası
                                </h5>
                                <a class="c-item-02-B" href="#">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.75 21L11.9993 17.25L5.25 21V3.75C5.25 3.55109 5.32902 3.36032 5.46967 3.21967C5.61032 3.07902 5.80109 3 6 3H18C18.1989 3 18.3897 3.07902 18.5303 3.21967C18.671 3.36032 18.75 3.55109 18.75 3.75V21Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="c-container-03">
                            <div class="c-item-01">
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c1.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c2.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c3.png')"></a>

                            </div>
                            <div class="c-item-02">
                                +2 Renk
                            </div>
                        </div>
                        <div class="c-container-04">
                            <div class="c-item-02">
                                <div class="c-item-02-A">%20</div>
                                <div class="c-item-02-B">
                                    <div class="c-unit-01">5,950 TL</div>
                                    <div class="c-unit-02">4,950 TL</div>
                                </div>
                                <div class="c-item-02-C">
                                    <div class="c-unit-01">Sepette %10 İndirim</div>
                                    <div class="c-unit-02">4,290 TL</div>
                                </div>
                            </div>
                        </div>
                        <div class="c-container-05">
                            <a href="#" class="c-item-01">60 cm.</a>
                            <a href="#" class="c-item-01">VitrA Clean Teknolojisi</a>
                        </div>
                        <div class="c-container-06">
                            <a href="#" class="c-item-01">Ürünü İncele</a>

                        </div>
                    </div>
                </div>
                <div class="comp-product-01">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/p3-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/p3-large.png" />
                            <img src="/Content/Visuals/Temp/p3-large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-07">
                        <div class="c-container-02">
                            <div class="c-item-01">

                            </div>
                            <div class="c-item-02">
                                <h5 class="c-item-02-A">
                                    Origin Lavabo Bataryası
                                </h5>
                                <a class="c-item-02-B" href="#">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.75 21L11.9993 17.25L5.25 21V3.75C5.25 3.55109 5.32902 3.36032 5.46967 3.21967C5.61032 3.07902 5.80109 3 6 3H18C18.1989 3 18.3897 3.07902 18.5303 3.21967C18.671 3.36032 18.75 3.55109 18.75 3.75V21Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="c-container-03">
                            <div class="c-item-01">
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c1.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c2.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c3.png')"></a>

                            </div>
                            <div class="c-item-02">
                                +2 Renk
                            </div>
                        </div>
                        <div class="c-container-04">
                            <div class="c-item-02">
                                <div class="c-item-02-A">%20</div>
                                <div class="c-item-02-B">
                                    <div class="c-unit-01">5,950 TL</div>
                                    <div class="c-unit-02">4,950 TL</div>
                                </div>
                                <div class="c-item-02-C">
                                    <div class="c-unit-01">Sepette %10 İndirim</div>
                                    <div class="c-unit-02">4,290 TL</div>
                                </div>
                            </div>
                        </div>
                        <div class="c-container-05">
                            <a href="#" class="c-item-01">60 cm.</a>
                            <a href="#" class="c-item-01">VitrA Clean Teknolojisi</a>
                        </div>
                        <div class="c-container-06">
                            <a href="#" class="c-item-01">Ürünü İncele</a>

                        </div>
                    </div>
                </div>
                <div class="comp-product-01">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/p4-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/p4-large.png" />
                            <img src="/Content/Visuals/Temp/p4-large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-07">
                        <div class="c-container-02">
                            <div class="c-item-01">

                            </div>
                            <div class="c-item-02">
                                <h5 class="c-item-02-A">
                                    Origin Lavabo Bataryası
                                </h5>
                                <a class="c-item-02-B" href="#">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.75 21L11.9993 17.25L5.25 21V3.75C5.25 3.55109 5.32902 3.36032 5.46967 3.21967C5.61032 3.07902 5.80109 3 6 3H18C18.1989 3 18.3897 3.07902 18.5303 3.21967C18.671 3.36032 18.75 3.55109 18.75 3.75V21Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="c-container-03">
                            <div class="c-item-01">
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c1.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c2.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c3.png')"></a>

                            </div>
                            <div class="c-item-02">
                                +2 Renk
                            </div>
                        </div>
                        <div class="c-container-04">
                            <div class="c-item-02">
                                <div class="c-item-02-A">%20</div>
                                <div class="c-item-02-B">
                                    <div class="c-unit-01">5,950 TL</div>
                                    <div class="c-unit-02">4,950 TL</div>
                                </div>
                                <div class="c-item-02-C">
                                    <div class="c-unit-01">Sepette %10 İndirim</div>
                                    <div class="c-unit-02">4,290 TL</div>
                                </div>
                            </div>
                        </div>
                        <div class="c-container-05">
                            <a href="#" class="c-item-01">60 cm.</a>
                            <a href="#" class="c-item-01">VitrA Clean Teknolojisi</a>
                        </div>
                        <div class="c-container-06">
                            <a href="#" class="c-item-01">Ürünü İncele</a>

                        </div>

                    </div>
                </div>
                <div class="comp-product-01">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/p5-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/p5-large.png" />
                            <img src="/Content/Visuals/Temp/p5-large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-07">
                        <div class="c-container-02">
                            <div class="c-item-01">

                            </div>
                            <div class="c-item-02">
                                <h5 class="c-item-02-A">
                                    Origin Lavabo Bataryası
                                </h5>
                                <a class="c-item-02-B" href="#">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.75 21L11.9993 17.25L5.25 21V3.75C5.25 3.55109 5.32902 3.36032 5.46967 3.21967C5.61032 3.07902 5.80109 3 6 3H18C18.1989 3 18.3897 3.07902 18.5303 3.21967C18.671 3.36032 18.75 3.55109 18.75 3.75V21Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="c-container-03">
                            <div class="c-item-01">
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c1.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c2.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c3.png')"></a>

                            </div>
                            <div class="c-item-02">
                                +2 Renk
                            </div>
                        </div>
                        <div class="c-container-04">
                            <div class="c-item-02">
                                <div class="c-item-02-A">%20</div>
                                <div class="c-item-02-B">
                                    <div class="c-unit-01">5,950 TL</div>
                                    <div class="c-unit-02">4,950 TL</div>
                                </div>
                                <div class="c-item-02-C">
                                    <div class="c-unit-01">Sepette %10 İndirim</div>
                                    <div class="c-unit-02">4,290 TL</div>
                                </div>
                            </div>
                        </div>
                        <div class="c-container-05">
                            <a href="#" class="c-item-01">60 cm.</a>
                            <a href="#" class="c-item-01">VitrA Clean Teknolojisi</a>
                        </div>
                        <div class="c-container-06">
                            <a href="#" class="c-item-01">Ürünü İncele</a>

                        </div>
                    </div>
                </div>
                <div class="comp-product-01">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/p6-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/p6-large.png" />
                            <img src="/Content/Visuals/Temp/p6-large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-07">
                        <div class="c-container-02">
                            <div class="c-item-01">

                            </div>
                            <div class="c-item-02">
                                <h5 class="c-item-02-A">
                                    Asma Klozetler için Taharetli Açık
                                    Gri Platform
                                </h5>
                                <a class="c-item-02-B" href="#">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.75 21L11.9993 17.25L5.25 21V3.75C5.25 3.55109 5.32902 3.36032 5.46967 3.21967C5.61032 3.07902 5.80109 3 6 3H18C18.1989 3 18.3897 3.07902 18.5303 3.21967C18.671 3.36032 18.75 3.55109 18.75 3.75V21Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="c-container-03">
                            <div class="c-item-01">
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c1.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c2.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c3.png')"></a>

                            </div>
                            <div class="c-item-02">
                                +2 Renk
                            </div>
                        </div>
                        <div class="c-container-04">
                            <div class="c-item-02">
                                <div class="c-item-02-A">%20</div>
                                <div class="c-item-02-B">
                                    <div class="c-unit-01">5,950 TL</div>
                                    <div class="c-unit-02">4,950 TL</div>
                                </div>
                                <div class="c-item-02-C">
                                    <div class="c-unit-01">Sepette %10 İndirim</div>
                                    <div class="c-unit-02">4,290 TL</div>
                                </div>
                            </div>
                        </div>
                        <div class="c-container-05">
                            <a href="#" class="c-item-01">60 cm.</a>
                            <a href="#" class="c-item-01">VitrA Clean Teknolojisi</a>
                        </div>
                        <div class="c-container-06">
                            <a href="#" class="c-item-01">Ürünü İncele</a>

                        </div>
                    </div>
                </div>
                <div class="comp-product-01">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/p7-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/p7-large.png" />
                            <img src="/Content/Visuals/Temp/p7-large.png" alt="" />
                        </picture>
                        <div class="c-item-01">20₺ Tasarruf</div>
                    </div>
                    <div class="c-container-07">
                        <div class="c-container-02">
                            <div class="c-item-01">
                                YENİ
                            </div>
                            <div class="c-item-02">
                                <h5 class="c-item-02-A">
                                    Origin Lavabo Bataryası
                                </h5>
                                <a class="c-item-02-B" href="#">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18.75 21L11.9993 17.25L5.25 21V3.75C5.25 3.55109 5.32902 3.36032 5.46967 3.21967C5.61032 3.07902 5.80109 3 6 3H18C18.1989 3 18.3897 3.07902 18.5303 3.21967C18.671 3.36032 18.75 3.55109 18.75 3.75V21Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="c-container-03">
                            <div class="c-item-01">
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c1.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c2.png')"></a>
                                <a href="#" class="c-item-01-A" style="background-image:url('/Content/Visuals/Temp/c3.png')"></a>

                            </div>
                        </div>
                        <div class="c-container-04">
                            <div class="c-item-02">
                                <div class="c-item-02-A">%20</div>
                                <div class="c-item-02-B">
                                    <div class="c-unit-01">5,950 TL</div>
                                    <div class="c-unit-02">4,950 TL</div>
                                </div>
                                <div class="c-item-02-C">
                                    <div class="c-unit-01">Sepette %10 İndirim</div>
                                    <div class="c-unit-02">4,290 TL</div>
                                </div>
                            </div>
                        </div>
                        <div class="c-container-05">
                            <a href="#" class="c-item-01">60 cm.</a>
                            <a href="#" class="c-item-01">VitrA Clean Teknolojisi</a>
                        </div>
                        <div class="c-container-06">
                            <a href="#" class="c-item-01">Ürünü İncele</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="comp-section-15 mb-xs1-80px">
        <div class="c-wrapper">
            <div class="c-container-01">
                <picture>
                    <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/terrismall.png" />
                    <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/terrilarge.png" />
                    <img src="/Content/Visuals/Temp/terrilarge.png" alt="" />
                </picture>
            </div>
            <div class="c-container-02">
                <div class="c-item-01">TASARIMCIYI KEŞFEDİN</div>
                <h6 class="c-item-02 mb-xs1-24px mt-xs1-8px">Abraham Terri Pecora</h6>
                <p class="c-item-03 mb-xs1-24px">Çalışmalarını Milano’da sürdüren Amerikalı tasarımcı Terri Pecora; mobilya ve banyo ürünleri, gözlük ve moda aksesuarları ile çocuk ürünlerinin yanı sıra, stant ve perakende iç mekanlarının tasarımında çalıştı. Estetik ve işlevsel çözümleri tercih eden Pecora, tasarım yaparken, her müşterisinin potansiyeline ve pazarın ihtiyaçlarına uygun cevaplar arıyor.</p>
                <a href="#" class="c-item-04">Daha fazla öğren</a>
            </div>
        </div>
    </section>
</main>



@section beforeBodyEnd{
    <script src="~/Content/Scripts/Base/Felece.Common.jQuery.js"></script>
    <script src="~/Content/Plugins/OwlCarousel/owl.carousel.min.js"></script>
    <script src="~/Content/Scripts/Misc/Felece.Sliders.js"></script>
    <script src="~/Content/Scripts/Misc/Felece.Category.Base.js"></script>
}
