
@{
    ViewBag.Title = "Index";
}



@section head{
    <link href="/Content/Plugins/OwlCarousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/Content/Plugins/OwlCarousel/owl.carousel.min.css" rel="stylesheet" />
}
<main>
    <section class="comp-breadcrumb-01">
        <div class="c-wrapper">
            <a href="#">Anasayfa</a>
            <a href="#">Inovatif Çözümler</a>
        </div>
    </section>
    <section class="comp-showcase-02">
        <div class="c-wrapper">
            <div class="c-container-01 mb-xs1-16px">
                İnovatif Çözümler
            </div>
            <div class="c-container-02">
                Birbirinden farklı stiller ve akılcı çözümlerle mekanlarınızı farklılaştırabilirsiniz.
            </div>
        </div>
    </section>
    <section class="comp-section-01 mb-xs1-48px mt-xs1-48px">
        <div class="c-wrapper">
            <div class="c-container-01">
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec01-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec01-large.png" />
                            <img src="/Content/Visuals/Temp/sec01-large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Bataryalar
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec02-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec02-large.png" />
                            <img src="/Content/Visuals/Temp/sec02-large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Lavabolar
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec03-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec03-large.png" />
                            <img src="/Content/Visuals/Temp/sec03-large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Klozetler
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec04-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec04-large.png" />
                            <img src="/Content/Visuals/Temp/sec04-large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Vitrifiyeler
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec05-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec05-large.png" />
                            <img src="/Content/Visuals/Temp/sec05-large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Vitrifiyeler
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec06-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec06-large.png" />
                            <img src="/Content/Visuals/Temp/sec06-large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Banyo Mobilyaları
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec07-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec07-large.png" />
                            <img src="/Content/Visuals/Temp/sec07-large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Aksesuarlar
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01 mr-md-48px">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec08-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec08-large.png" />
                            <img src="/Content/Visuals/Temp/sec08-large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Ankastreler
                    </div>
                </a>
                <a href="#" onclick="Felece.Category.Actions.selectItem({ ev: event,sender:this })" class="comp-category-01">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec09-large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec09-large.png" />
                            <img src="/Content/Visuals/Temp/sec09-large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Pisuvarlar
                    </div>
                </a>
            </div>
        </div>
    </section>
  <section class="comp-section-17 mb-xs1-80px">
      <div class="c-wrapper">
          <a href="javascript:void(0);" class="comp-micro-04">
              <picture class="c-container-01">
                  <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec12-small.png">
                  <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec12-large.png">
                  <img src="/Content/Visuals/Temp/sec12-large.png" alt="">
              </picture>
              <div class="c-container-02">
                  <h6 class="c-item-01">
                      No Touch
                  </h6>
                  <div class="c-item-02">
                      Sensörlerle maksimum hijyen ve su tasarrufu.
                  </div>
              </div>
          </a>
          <a href="javascript:void(0);" class="comp-micro-04">
              <picture class="c-container-01">
                  <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec13-small.png">
                  <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec13-large.png">
                  <img src="/Content/Visuals/Temp/sec13-large.png" alt="">
              </picture>
              <div class="c-container-02">
                  <h6 class="c-item-01">
                      Rim-Ex Teknolojisi
                  </h6>
                  <div class="c-item-02">
                      Hijyenik ve konforlu yeni nesil klozet deneyimi
                  </div>
              </div>
          </a>
          <a href="javascript:void(0);" class="comp-micro-04">
              <picture class="c-container-01">
                  <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec14-small.png">
                  <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec14-large.png">
                  <img src="/Content/Visuals/Temp/sec14-large.png" alt="">
              </picture>
              <div class="c-container-02">
                  <h6 class="c-item-01">
                      VitrA Hygiene
                  </h6>
                  <div class="c-item-02">
                      İyon katkılı özel sır teknolojisi ile daha hijyenik ortamlar
                  </div>
              </div>
          </a>
          <a href="javascript:void(0);" class="comp-micro-04">
              <picture class="c-container-01">
                  <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec12-small.png">
                  <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec12-large.png">
                  <img src="/Content/Visuals/Temp/sec12-large.png" alt="">
              </picture>
              <div class="c-container-02">
                  <h6 class="c-item-01">
                      No Touch
                  </h6>
                  <div class="c-item-02">
                      Sensörlerle maksimum hijyen ve su tasarrufu.
                  </div>
              </div>
          </a>
          <a href="javascript:void(0);" class="comp-micro-04">
              <picture class="c-container-01">
                  <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec12-small.png">
                  <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec12-large.png">
                  <img src="/Content/Visuals/Temp/sec12-large.png" alt="">
              </picture>
              <div class="c-container-02">
                  <h6 class="c-item-01">
                      No Touch
                  </h6>
                  <div class="c-item-02">
                      Sensörlerle maksimum hijyen ve su tasarrufu.
                  </div>
              </div>
          </a>
          <a href="javascript:void(0);" class="comp-micro-04">
              <picture class="c-container-01">
                  <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec13-small.png">
                  <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec13-large.png">
                  <img src="/Content/Visuals/Temp/sec13-large.png" alt="">
              </picture>
              <div class="c-container-02">
                  <h6 class="c-item-01">
                      Rim-Ex Teknolojisi
                  </h6>
                  <div class="c-item-02">
                      Hijyenik ve konforlu yeni nesil klozet deneyimi
                  </div>
              </div>
          </a>
          <a href="javascript:void(0);" class="comp-micro-04">
              <picture class="c-container-01">
                  <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec14-small.png">
                  <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec14-large.png">
                  <img src="/Content/Visuals/Temp/sec14-large.png" alt="">
              </picture>
              <div class="c-container-02">
                  <h6 class="c-item-01">
                      VitrA Hygiene
                  </h6>
                  <div class="c-item-02">
                      İyon katkılı özel sır teknolojisi ile daha hijyenik ortamlar
                  </div>
              </div>
          </a>
          <a href="javascript:void(0);" class="comp-micro-04">
              <picture class="c-container-01">
                  <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/sec12-small.png">
                  <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/sec12-large.png">
                  <img src="/Content/Visuals/Temp/sec12-large.png" alt="">
              </picture>
              <div class="c-container-02">
                  <h6 class="c-item-01">
                      No Touch
                  </h6>
                  <div class="c-item-02">
                      Sensörlerle maksimum hijyen ve su tasarrufu.
                  </div>
              </div>
          </a>
      </div>
  </section>

</main>


@section beforeBodyEnd{
    <script src="~/Content/Scripts/Base/Felece.Common.jQuery.js"></script>
    <script src="~/Content/Plugins/OwlCarousel/owl.carousel.min.js"></script>
    <script src="~/Content/Scripts/Misc/Felece.Sliders.js"></script>
    <script src="~/Content/Scripts/Misc/Felece.Category.Base.js"></script>
}

