@import "../../../Base/Global.scss";
@import "../../../Base/Global.scss";

/* Common XS1 and XS2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
    // Related UI
    .comp-micro-20 {
        background: #F4F7F6;
        padding: 24px 32px;

        > .c-column-01 {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-bottom:14px;

            > .c-container-01, .c-container-02 {
                width: calc(50% - 6px);

                > .c-item-01 {
                    margin-bottom: 14px;
                }

                > :last-child {
                    margin-bottom: 0;
                }
            }

            > .c-container-02 {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }
    }
    // Related Typography
    .comp-micro-20 {

        > .c-column-01 {

            > .c-container-01 {

                > .c-item-01 {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 16px;
                    color: #7D8285;
                }
            }

            > .c-container-02 {

                > .c-item-01 {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 16px;
                    color: #373A37;
                }
            }
        }
    }
}

/* XS1 */
@media all and (max-width: #{($mq-xs2 - 1) + "px"}) {
}

/* XS2 */
@media all and (min-width: #{$mq-xs2 + "px"}) and (max-width: #{($mq-sm1 - 1) + "px"}) {
}

/* Common SM1 and SM2 */
@media all and (min-width: #{$mq-sm1 + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
}

/* SM1 */
@media all and (min-width: #{$mq-sm1 + "px"}) and (max-width: #{($mq-sm2 - 1) + "px"}) {
}

/* SM2 */
@media all and (min-width: #{$mq-sm2 + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
}

/* Common MD and LG */
@media all and (min-width: #{$mq-md + "px"}) {


    // Related UI
    .comp-micro-20 {
        background: #F4F7F6;
        padding: 24px 32px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        > .c-column-01 {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            width: calc(50% - 12px);

            > .c-container-01, .c-container-02 {
                width: calc(50% - 6px);

                > .c-item-01 {
                    margin-bottom: 14px;
                }

                > :last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    // Related Typography
    .comp-micro-20 {

        > .c-column-01 {

            > .c-container-01 {

                > .c-item-01 {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #7D8285;
                }
            }

            > .c-container-02 {

                > .c-item-01 {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #373A37;
                }
            }
        }
    }
}
/* MD */
@media all and (min-width: #{$mq-md + "px"}) and (max-width: #{($mq-lg - 1) + "px"}) {
}

/* LG */
@media all and (min-width: #{$mq-lg + "px"}) {
}
