@import "../../../Base/Global.scss";
@import "../../../Base/Global.scss";

/* Common XS1 and XS2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {

    // Related UI
    .comp-micro-30 {

        > .accordion-item {

            > .accordion-button {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 56px;
                border-bottom: 1px solid #E4E6E8;

                &:after {
                    content: "";
                    width: 15px;
                    height: 16px;
                    position: absolute;
                    right: 0;
                    transition: transform .2s ease-in-out;
                    background-image: svg-background-image('<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M12 6L8 10L4 6" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg> ')
                }

                &:not(.collapsed) {

                    &:after {
                        transform: rotate( -90deg);
                        transition: transform .2s ease-in-out;
                    }
                }

                > .c-unit-01 {
                    width: 16px;
                    height: 16px;
                    margin-right: auto;
                    margin-left: 8px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #373A37;
                }

                > .c-unit-02 {
                    margin-right: auto;
                    margin-left: 16px;
                }
            }

            > .accordion-collapse {
                height: 0;
                overflow: hidden;
                opacity: 0;
                -moz-transition: height 0.4s ease-in-out, opacity 0.3s;
                -o-transition: height 0.4s ease-in-out, opacity 0.3s;
                -webkit-transition: height 0.4s ease-in-out, opacity 0.3s;
                transition: height 0.4s ease-in-out, opacity 0.3s;


                &.on {
                    opacity: 1;
                    -moz-transition: height 0.4s ease-in-out, opacity 1s;
                    -o-transition: height 0.4s ease-in-out, opacity 1s;
                    -webkit-transition: height 0.4s ease-in-out, opacity 1s;
                    transition: height 0.4s ease-in-out, opacity 1s;
                }

                .accordion-body {

                    > .c-item-01 {
                        display: flex;
                        flex-direction: column;

                        > li {
                            display: flex;
                            align-items: center;
                            border-bottom: 1px solid #E4E6E8;
                            height: 62px;

                            > a {
                                height: 100%;
                                display: flex;
                                align-items: center;
                                font-family: Palanquin;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 24px;
                                color: #373A37;

                                svg {
                                    margin-right: 12px;
                                }
                            }
                        }
                    }


                    > .c-item-02 {

                        > a {
                            display: flex;
                            width: 100%;
                            height: 222px;
                            padding: 32px 0 24px 24px;
                            margin: 0 0 24px 0;
                            background: #97A0A9;

                            > picture {
                                position: absolute;
                                top: 0;
                                right: 0;
                                left: 0;
                                bottom: 0;
                                overflow: hidden;
                                display: flex;
                                justify-content: center;
                            }

                            > .c-unit-01 {
                                max-width: 237px;
                                font-family: Palanquin;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 24px;
                                line-height: 32px;
                                color: #FFFFFF;
                            }
                        }
                    }

                    > .c-column-01 {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        > .c-container-01 {
                            border-radius: 8px;
                            overflow: hidden;
                        }

                        > .c-container-02 {
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 327px;

                            > .c-item-01 {
                                font-family: Palanquin;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 40px;
                                line-height: 48px;
                                text-align: center;
                                color: #FFFFFF;
                            }

                            > .c-item-02 {
                                font-family: Open Sans;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 24px;
                                text-align: center;
                                color: #FFFFFF;
                                margin: 8px 0 20px 0;
                            }

                            > .c-item-03 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 226px;
                                height: 48px;
                                background: linear-gradient( 0deg, #A2413D, #A2413D);
                                border-radius: 6px;
                                font-family: Open Sans;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 24px;
                                color: #FFFFFF;
                            }
                        }
                    }

                    > .c-column-02 {
                        > :last-child {
                            margin-bottom: 0;
                        }
                    }

                    > .c-column-03 {
                        font-family: Palanquin;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 32px;
                        text-align: center;
                        color: #373A37;
                    }
                }
            }
        }
    }
    // Related Typography
    .comp-micro-30 {

        > .accordion-item {

            > .accordion-button {
                font-family: Palanquin;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #373A37;

                > .c-unit-01 {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 20px;
                    color: #FFFFFF;
                }

                > .c-unit-02 {
                    margin-right: auto;
                    margin-left: 8px;
                    font-family: Palanquin;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #373A37;
                }
            }

            > .accordion-collapse {
            }
        }
    }
}

/* XS1 */
@media all and (max-width: #{($mq-xs2 - 1) + "px"}) {
}

/* XS2 */
@media all and (min-width: #{$mq-xs2 + "px"}) and (max-width: #{($mq-sm1 - 1) + "px"}) {
}

/* Common SM1 and SM2 */
@media all and (min-width: #{$mq-sm1 + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
}

/* SM1 */
@media all and (min-width: #{$mq-sm1 + "px"}) and (max-width: #{($mq-sm2 - 1) + "px"}) {
}

/* SM2 */
@media all and (min-width: #{$mq-sm2 + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
}

/* Common MD and LG */
@media all and (min-width: #{$mq-md + "px"}) {


    // Related UI
    .comp-micro-30 {
        display: none;
    }
}
/* MD */
@media all and (min-width: #{$mq-md + "px"}) and (max-width: #{($mq-lg - 1) + "px"}) {
}

/* LG */
@media all and (min-width: #{$mq-lg + "px"}) {
}
