
@{
    ViewBag.Title = "Index";
}



@section head{
}
<main>
    <section class="comp-section-27 pt-md-80px mb-xs1-80px">
        <div class="c-wrapper">
            <div class="c-container-01">
                <div class="comp-aside-02">
                    <div class="c-column-01 mb-xs1-24px">
                        <div class="c-container-01">Berkay Çınar</div>
                    </div>
                    <div class="c-column-02">
                        <ul class="c-container-01">
                            <li>
                                <a href="#">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20.25 12H6.75C6.33579 12 6 12.3358 6 12.75V23.25C6 23.6642 6.33579 24 6.75 24H20.25C20.6642 24 21 23.6642 21 23.25V12.75C21 12.3358 20.6642 12 20.25 12Z" fill="white" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M10 8H24.25C24.4489 8 24.6397 8.07902 24.7803 8.21967C24.921 8.36032 25 8.55109 25 8.75V20" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Siparişlerim
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M22.75 25L15.9993 21.25L9.25 25V7.75C9.25 7.55109 9.32902 7.36032 9.46967 7.21967C9.61032 7.07902 9.80109 7 10 7H22C22.1989 7 22.3897 7.07902 22.5303 7.21967C22.671 7.36032 22.75 7.55109 22.75 7.75V25Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                    Favorilerim
                                    <span class="c-item-01">12</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 16V27" stroke="#373A37" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M26 21.0642V10.9358C26 10.7842 25.9591 10.6353 25.8815 10.5044C25.8039 10.3735 25.6924 10.2652 25.5583 10.1906L16.4279 5.11079C16.2973 5.03817 16.1499 5 16 5C15.8501 5 15.7027 5.03817 15.5721 5.11079L6.44169 10.1906C6.30763 10.2652 6.1961 10.3735 6.1185 10.5044C6.04089 10.6353 6 10.7842 6 10.9358V21.0642C6 21.2158 6.04089 21.3647 6.1185 21.4956C6.1961 21.6265 6.30763 21.7348 6.44169 21.8094L15.5721 26.8892C15.7027 26.9618 15.8501 27 16 27C16.1499 27 16.2973 26.9618 16.4279 26.8892L25.5583 21.8094C25.6924 21.7348 25.8039 21.6265 25.8815 21.4956C25.9591 21.3647 26 21.2158 26 21.0642V21.0642Z" stroke="#373A37" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M26 11.0011L16.1164 16L6 11" stroke="#373A37" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M21 18V13.1924L11 8" stroke="#373A37" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Stok Habercim
                                    <span class="c-item-01">12</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="on">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M24.25 11.5H7.75C7.33579 11.5 7 11.8358 7 12.25V15.25C7 15.6642 7.33579 16 7.75 16H24.25C24.6642 16 25 15.6642 25 15.25V12.25C25 11.8358 24.6642 11.5 24.25 11.5Z" stroke="#373A37" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M23.5 16V22.75C23.5 22.9489 23.421 23.1397 23.2803 23.2803C23.1397 23.421 22.9489 23.5 22.75 23.5H9.25C9.05109 23.5 8.86032 23.421 8.71967 23.2803C8.57902 23.1397 8.5 22.9489 8.5 22.75V16" stroke="#373A37" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M16 11.5V23.5" stroke="#373A37" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M20.2426 10.4377C19.182 11.4984 16 11.4984 16 11.4984C16 11.4984 16 8.31642 17.0607 7.25576C17.4827 6.8342 18.0549 6.59749 18.6514 6.59766C19.2479 6.59783 19.8199 6.83487 20.2417 7.25667C20.6635 7.67847 20.9006 8.2505 20.9007 8.84702C20.9009 9.44353 20.6642 10.0157 20.2426 10.4377V10.4377Z" stroke="#373A37" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M11.7577 10.4377C12.8184 11.4984 16.0004 11.4984 16.0004 11.4984C16.0004 11.4984 16.0004 8.31642 14.9397 7.25576C14.5177 6.8342 13.9455 6.59749 13.349 6.59766C12.7525 6.59783 12.1804 6.83487 11.7586 7.25667C11.3368 7.67847 11.0998 8.2505 11.0996 8.84702C11.0994 9.44353 11.3362 10.0157 11.7577 10.4377V10.4377Z" stroke="#373A37" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                    Kupon Kodlarım
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7 23.5V9.25C7 9.05109 7.07902 8.86032 7.21967 8.71967C7.36032 8.57902 7.55109 8.5 7.75 8.5H24.25C24.4489 8.5 24.6397 8.57902 24.7803 8.71967C24.921 8.86032 25 9.05109 25 9.25V23.5L22 22L19 23.5L16 22L13 23.5L10 22L7 23.5Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M11.125 13.75H20.875" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M11.125 16.75H20.875" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                    Taleplerim
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.25 25.75H22.75" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M23.5 13.75C23.5 20.5 16 25.75 16 25.75C16 25.75 8.5 20.5 8.5 13.75C8.5 11.7609 9.29018 9.85322 10.6967 8.4467C12.1032 7.04018 14.0109 6.25 16 6.25C17.9891 6.25 19.8968 7.04018 21.3033 8.4467C22.7098 9.85322 23.5 11.7609 23.5 13.75Z" fill="white" fill-opacity="0.3" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M16 16.75C17.6569 16.75 19 15.4069 19 13.75C19 12.0931 17.6569 10.75 16 10.75C14.3431 10.75 13 12.0931 13 13.75C13 15.4069 14.3431 16.75 16 16.75Z" fill="white" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                    Adreslerim
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M23.4995 12.25H8.49951C8.0853 12.25 7.74951 12.5858 7.74951 13V23.5C7.74951 23.9142 8.0853 24.25 8.49951 24.25H23.4995C23.9137 24.25 24.2495 23.9142 24.2495 23.5V13C24.2495 12.5858 23.9137 12.25 23.4995 12.25Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M12.6245 12.25V8.875C12.6245 7.97989 12.9801 7.12145 13.613 6.48851C14.246 5.85558 15.1044 5.5 15.9995 5.5C16.8946 5.5 17.7531 5.85558 18.386 6.48851C19.0189 7.12145 19.3745 7.97989 19.3745 8.875V12.25" fill="white" fill-opacity="0.3" />
                                        <path d="M12.6245 12.25V8.875C12.6245 7.97989 12.9801 7.12145 13.613 6.48851C14.246 5.85558 15.1044 5.5 15.9995 5.5C16.8946 5.5 17.7531 5.85558 18.386 6.48851C19.0189 7.12145 19.3745 7.97989 19.3745 8.875V12.25" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Kişisel Bilgilerim
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.26855 13.7499C9.26731 12.8605 9.44213 11.9795 9.78294 11.1579C10.1238 10.3363 10.6238 9.59025 11.2543 8.9628C11.8848 8.33535 12.6332 7.83889 13.4564 7.50204C14.2797 7.16519 15.1615 6.99461 16.0509 7.00013C19.7625 7.02772 22.7312 10.1128 22.7312 13.8347V14.4999C22.7312 17.8577 23.4337 19.8061 24.0524 20.871C24.1191 20.9848 24.1546 21.1142 24.1553 21.246C24.156 21.3779 24.1219 21.5076 24.0565 21.6221C23.991 21.7366 23.8966 21.8318 23.7826 21.8982C23.6686 21.9645 23.5392 21.9996 23.4073 21.9999H8.59173C8.45985 21.9996 8.33038 21.9645 8.2164 21.8981C8.10242 21.8318 8.00795 21.7366 7.94252 21.622C7.8771 21.5075 7.84303 21.3778 7.84376 21.2459C7.84449 21.114 7.87999 20.9846 7.94667 20.8709C8.56573 19.8059 9.26855 17.8575 9.26855 14.4999L9.26855 13.7499Z" fill="white" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M13 22V22.75C13 23.5456 13.3161 24.3087 13.8787 24.8713C14.4413 25.4339 15.2044 25.75 16 25.75C16.7956 25.75 17.5587 25.4339 18.1213 24.8713C18.6839 24.3087 19 23.5456 19 22.75V22" fill="white" fill-opacity="0.3" />
                                        <path d="M13 22V22.75C13 23.5456 13.3161 24.3087 13.8787 24.8713C14.4413 25.4339 15.2044 25.75 16 25.75C16.7956 25.75 17.5587 25.4339 18.1213 24.8713C18.6839 24.3087 19 23.5456 19 22.75V22" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                    İletişim İzinlerim
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 7.75V24.25" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M8.85498 11.875L23.1444 20.125" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M8.85498 20.125L23.1444 11.875" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                    Şifre Değiştirme
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Content/Visuals/Temp/signouticon.svg" />
                                    Çıkış Yap
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="c-container-02">
                <div class="comp-division-04 mb-xs1-48px">
                    <div class="c-item-01">Kupon Kodlarım</div>
                    <div class="c-item-02">4</div>
                </div>
                <div class="c-item-06 mb-xs1-24px">
                    <div id="copuonHeader" class="comp-division-05">
                        <a href="#" onclick="Felece.Order.Actions.showAllCopuon({ ev: event, sender: this })" class="c-container-01 on">Tümü</a>
                        <a href="#" onclick="Felece.Order.Actions.showActiveCopuon({ ev: event, sender: this })" class="c-container-01">Aktif Kuponlarım (3)</a>
                        <a href="#" onclick="Felece.Order.Actions.showAExpiredCopuon({ ev: event, sender: this })" class="c-container-01">Geçmiş Kuponlarım (1)</a>
                    </div>
                </div>
                <div class="c-item-02">
                    <div id="allCoupon">
                        <div class="comp-micro-18">
                            <div class="c-container-01 mb-xs1-8px">
                                <div class="c-item-01">Kupon Kod    </div>
                                <div class="c-item-02">Açıklama</div>
                                <div class="c-item-03">Başlangıç Tarihi</div>
                                <div class="c-item-04">Bitiş Tarihi</div>
                                <div class="c-item-05">Durum</div>
                            </div>
                            <div class="c-container-02 continue">
                                <div class="c-column-01">
                                    <div class="c-item-01">İNDİRİM100TL</div>
                                    <div class="c-item-02">Doğum Gününe Özel</div>
                                </div>
                                <div class="c-column-02">
                                    <div class="c-item-03">15/02/2021</div>
                                    <div class="c-item-04">15/03/2021</div>
                                </div>
                                <div class="c-item-05">Devam ediyor</div>
                            </div>
                            <div class="c-container-02 continue">
                                <div class="c-column-01">
                                    <div class="c-item-01">İNDİRİM100TL</div>
                                    <div class="c-item-02">Doğum Gününe Özel</div>
                                </div>
                                <div class="c-column-02">
                                    <div class="c-item-03">15/02/2021</div>
                                    <div class="c-item-04">15/03/2021</div>
                                </div>
                                <div class="c-item-05">Devam ediyor</div>
                            </div>
                            <div class="c-container-02 continue">
                                <div class="c-column-01">
                                    <div class="c-item-01">İNDİRİM100TL</div>
                                    <div class="c-item-02">Doğum Gününe Özel</div>
                                </div>
                                <div class="c-column-02">
                                    <div class="c-item-03">15/02/2021</div>
                                    <div class="c-item-04">15/03/2021</div>
                                </div>
                                <div class="c-item-05">Devam ediyor</div>
                            </div>
                            <div class="c-container-02">
                                <div class="c-column-01">
                                    <div class="c-item-01">İNDİRİM100TL</div>
                                    <div class="c-item-02">Doğum Gününe Özel</div>
                                </div>
                                <div class="c-column-02">
                                    <div class="c-item-03">15/02/2021</div>
                                    <div class="c-item-04">15/03/2021</div>
                                </div>
                                <div class="c-item-05">Sona Erdi</div>
                            </div>
                        </div>
                    </div>
                    <div id="activeCoupon" style="display:none">
                        <div class="comp-micro-18">
                            <div class="c-container-01 mb-xs1-8px">
                                <div class="c-item-01">Kupon Kod    </div>
                                <div class="c-item-02">Açıklama</div>
                                <div class="c-item-03">Başlangıç Tarihi</div>
                                <div class="c-item-04">Bitiş Tarihi</div>
                                <div class="c-item-05">Durum</div>
                            </div>
                            <div class="c-container-02 continue">
                                <div class="c-column-01">
                                    <div class="c-item-01">İNDİRİM100TL</div>
                                    <div class="c-item-02">Doğum Gününe Özel</div>
                                </div>
                                <div class="c-column-02">
                                    <div class="c-item-03">15/02/2021</div>
                                    <div class="c-item-04">15/03/2021</div>
                                </div>
                                <div class="c-item-05">Devam ediyor</div>
                            </div>
                            <div class="c-container-02 continue">
                                <div class="c-column-01">
                                    <div class="c-item-01">İNDİRİM100TL</div>
                                    <div class="c-item-02">Doğum Gününe Özel</div>
                                </div>
                                <div class="c-column-02">
                                    <div class="c-item-03">15/02/2021</div>
                                    <div class="c-item-04">15/03/2021</div>
                                </div>
                                <div class="c-item-05">Devam ediyor</div>
                            </div>
                            <div class="c-container-02 continue">
                                <div class="c-column-01">
                                    <div class="c-item-01">İNDİRİM100TL</div>
                                    <div class="c-item-02">Doğum Gününe Özel</div>
                                </div>
                                <div class="c-column-02">
                                    <div class="c-item-03">15/02/2021</div>
                                    <div class="c-item-04">15/03/2021</div>
                                </div>
                                <div class="c-item-05">Devam ediyor</div>
                            </div>
                        </div>
                    </div>
                    <div id="expiredCoupon" style="display:none">
                        <div class="comp-micro-18">
                            <div class="c-container-01 mb-xs1-8px">
                                <div class="c-item-01">Kupon Kod    </div>
                                <div class="c-item-02">Açıklama</div>
                                <div class="c-item-03">Başlangıç Tarihi</div>
                                <div class="c-item-04">Bitiş Tarihi</div>
                                <div class="c-item-05">Durum</div>
                            </div>
                            <div class="c-container-02">
                                <div class="c-column-01">
                                    <div class="c-item-01">İNDİRİM100TL</div>
                                    <div class="c-item-02">Doğum Gününe Özel</div>
                                </div>
                                <div class="c-column-02">
                                    <div class="c-item-03">15/02/2021</div>
                                    <div class="c-item-04">15/03/2021</div>
                                </div>
                                <div class="c-item-05">Sona Erdi</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



@section beforeBodyEnd{
    <script src="~/Content/Scripts/Misc/Felece.Order.Base.js"></script>
    <script src="~/Content/Scripts/Misc/Felece.Order.Base.js"></script>
}
