
@{
    ViewBag.Title = "Index";
}



@section head{
}
<main>


    <section class="comp-section-27 mb-md-80px mb-md-80px">
        <div class="c-wrapper">
            <div class="c-container-01">
                <div class="comp-aside-02">
                    <div class="c-column-01 mb-md-24px">
                        <div class="c-container-01">Berkay Çınar</div>
                    </div>
                    <div class="c-column-02">
                        <ul class="c-container-01">
                            <li>
                                <a href="#">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20.25 12H6.75C6.33579 12 6 12.3358 6 12.75V23.25C6 23.6642 6.33579 24 6.75 24H20.25C20.6642 24 21 23.6642 21 23.25V12.75C21 12.3358 20.6642 12 20.25 12Z" fill="white" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M10 8H24.25C24.4489 8 24.6397 8.07902 24.7803 8.21967C24.921 8.36032 25 8.55109 25 8.75V20" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Siparişlerim
                                </a>
                            </li>
                            <li>
                                <a href="#" >
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M22.75 25L15.9993 21.25L9.25 25V7.75C9.25 7.55109 9.32902 7.36032 9.46967 7.21967C9.61032 7.07902 9.80109 7 10 7H22C22.1989 7 22.3897 7.07902 22.5303 7.21967C22.671 7.36032 22.75 7.55109 22.75 7.75V25Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                    Favorilerim
                                    <span class="c-item-01">12</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="on">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 16V27" stroke="#373A37" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M26 21.0642V10.9358C26 10.7842 25.9591 10.6353 25.8815 10.5044C25.8039 10.3735 25.6924 10.2652 25.5583 10.1906L16.4279 5.11079C16.2973 5.03817 16.1499 5 16 5C15.8501 5 15.7027 5.03817 15.5721 5.11079L6.44169 10.1906C6.30763 10.2652 6.1961 10.3735 6.1185 10.5044C6.04089 10.6353 6 10.7842 6 10.9358V21.0642C6 21.2158 6.04089 21.3647 6.1185 21.4956C6.1961 21.6265 6.30763 21.7348 6.44169 21.8094L15.5721 26.8892C15.7027 26.9618 15.8501 27 16 27C16.1499 27 16.2973 26.9618 16.4279 26.8892L25.5583 21.8094C25.6924 21.7348 25.8039 21.6265 25.8815 21.4956C25.9591 21.3647 26 21.2158 26 21.0642V21.0642Z" stroke="#373A37" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M26 11.0011L16.1164 16L6 11" stroke="#373A37" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M21 18V13.1924L11 8" stroke="#373A37" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Stok Habercim
                                    <span class="c-item-01">12</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M24.25 11.5H7.75C7.33579 11.5 7 11.8358 7 12.25V15.25C7 15.6642 7.33579 16 7.75 16H24.25C24.6642 16 25 15.6642 25 15.25V12.25C25 11.8358 24.6642 11.5 24.25 11.5Z" stroke="#373A37" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M23.5 16V22.75C23.5 22.9489 23.421 23.1397 23.2803 23.2803C23.1397 23.421 22.9489 23.5 22.75 23.5H9.25C9.05109 23.5 8.86032 23.421 8.71967 23.2803C8.57902 23.1397 8.5 22.9489 8.5 22.75V16" stroke="#373A37" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M16 11.5V23.5" stroke="#373A37" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M20.2426 10.4377C19.182 11.4984 16 11.4984 16 11.4984C16 11.4984 16 8.31642 17.0607 7.25576C17.4827 6.8342 18.0549 6.59749 18.6514 6.59766C19.2479 6.59783 19.8199 6.83487 20.2417 7.25667C20.6635 7.67847 20.9006 8.2505 20.9007 8.84702C20.9009 9.44353 20.6642 10.0157 20.2426 10.4377V10.4377Z" stroke="#373A37" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M11.7577 10.4377C12.8184 11.4984 16.0004 11.4984 16.0004 11.4984C16.0004 11.4984 16.0004 8.31642 14.9397 7.25576C14.5177 6.8342 13.9455 6.59749 13.349 6.59766C12.7525 6.59783 12.1804 6.83487 11.7586 7.25667C11.3368 7.67847 11.0998 8.2505 11.0996 8.84702C11.0994 9.44353 11.3362 10.0157 11.7577 10.4377V10.4377Z" stroke="#373A37" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                    Kupon Kodlarım
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7 23.5V9.25C7 9.05109 7.07902 8.86032 7.21967 8.71967C7.36032 8.57902 7.55109 8.5 7.75 8.5H24.25C24.4489 8.5 24.6397 8.57902 24.7803 8.71967C24.921 8.86032 25 9.05109 25 9.25V23.5L22 22L19 23.5L16 22L13 23.5L10 22L7 23.5Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M11.125 13.75H20.875" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M11.125 16.75H20.875" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                    Taleplerim
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.25 25.75H22.75" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M23.5 13.75C23.5 20.5 16 25.75 16 25.75C16 25.75 8.5 20.5 8.5 13.75C8.5 11.7609 9.29018 9.85322 10.6967 8.4467C12.1032 7.04018 14.0109 6.25 16 6.25C17.9891 6.25 19.8968 7.04018 21.3033 8.4467C22.7098 9.85322 23.5 11.7609 23.5 13.75Z" fill="white" fill-opacity="0.3" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M16 16.75C17.6569 16.75 19 15.4069 19 13.75C19 12.0931 17.6569 10.75 16 10.75C14.3431 10.75 13 12.0931 13 13.75C13 15.4069 14.3431 16.75 16 16.75Z" fill="white" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                    Adreslerim
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M23.4995 12.25H8.49951C8.0853 12.25 7.74951 12.5858 7.74951 13V23.5C7.74951 23.9142 8.0853 24.25 8.49951 24.25H23.4995C23.9137 24.25 24.2495 23.9142 24.2495 23.5V13C24.2495 12.5858 23.9137 12.25 23.4995 12.25Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M12.6245 12.25V8.875C12.6245 7.97989 12.9801 7.12145 13.613 6.48851C14.246 5.85558 15.1044 5.5 15.9995 5.5C16.8946 5.5 17.7531 5.85558 18.386 6.48851C19.0189 7.12145 19.3745 7.97989 19.3745 8.875V12.25" fill="white" fill-opacity="0.3" />
                                        <path d="M12.6245 12.25V8.875C12.6245 7.97989 12.9801 7.12145 13.613 6.48851C14.246 5.85558 15.1044 5.5 15.9995 5.5C16.8946 5.5 17.7531 5.85558 18.386 6.48851C19.0189 7.12145 19.3745 7.97989 19.3745 8.875V12.25" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    Kişisel Bilgilerim
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.26855 13.7499C9.26731 12.8605 9.44213 11.9795 9.78294 11.1579C10.1238 10.3363 10.6238 9.59025 11.2543 8.9628C11.8848 8.33535 12.6332 7.83889 13.4564 7.50204C14.2797 7.16519 15.1615 6.99461 16.0509 7.00013C19.7625 7.02772 22.7312 10.1128 22.7312 13.8347V14.4999C22.7312 17.8577 23.4337 19.8061 24.0524 20.871C24.1191 20.9848 24.1546 21.1142 24.1553 21.246C24.156 21.3779 24.1219 21.5076 24.0565 21.6221C23.991 21.7366 23.8966 21.8318 23.7826 21.8982C23.6686 21.9645 23.5392 21.9996 23.4073 21.9999H8.59173C8.45985 21.9996 8.33038 21.9645 8.2164 21.8981C8.10242 21.8318 8.00795 21.7366 7.94252 21.622C7.8771 21.5075 7.84303 21.3778 7.84376 21.2459C7.84449 21.114 7.87999 20.9846 7.94667 20.8709C8.56573 19.8059 9.26855 17.8575 9.26855 14.4999L9.26855 13.7499Z" fill="white" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M13 22V22.75C13 23.5456 13.3161 24.3087 13.8787 24.8713C14.4413 25.4339 15.2044 25.75 16 25.75C16.7956 25.75 17.5587 25.4339 18.1213 24.8713C18.6839 24.3087 19 23.5456 19 22.75V22" fill="white" fill-opacity="0.3" />
                                        <path d="M13 22V22.75C13 23.5456 13.3161 24.3087 13.8787 24.8713C14.4413 25.4339 15.2044 25.75 16 25.75C16.7956 25.75 17.5587 25.4339 18.1213 24.8713C18.6839 24.3087 19 23.5456 19 22.75V22" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                    İletişim İzinlerim
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 7.75V24.25" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M8.85498 11.875L23.1444 20.125" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M8.85498 20.125L23.1444 11.875" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                    Şifre Değiştirme
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Content/Visuals/Temp/signouticon.svg" />
                                    Çıkış Yap
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="c-container-02">
                <div class="c-item-01">Stok Habercim</div>
                <div class="c-item-02">
                    <div class="comp-micro-15">
                        <div class="c-container-01">
                            <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M62.0433 20.3268C62.044 20.0352 61.9708 19.755 61.8375 19.5084C61.7499 19.3462 61.6363 19.1986 61.5007 19.0719C61.4115 18.9885 61.3127 18.9141 61.2055 18.8506C61.1624 18.825 61.1179 18.8012 61.0721 18.7793L31.7727 4.66957C31.3025 4.44348 30.7553 4.44348 30.2834 4.66957L0.973762 18.7467C0.924089 18.7707 0.895827 18.7981 0.877842 18.8264C0.867304 18.8322 0.855698 18.8367 0.843998 18.8411C0.830025 18.8465 0.815918 18.8519 0.803332 18.8598C0.66102 18.9494 0.53457 19.0581 0.426503 19.1814C0.238808 19.3957 0.106563 19.654 0.042963 19.933C0.0147067 20.0569 0 20.1849 0 20.3149V51.8469C0 52.5064 0.378542 53.1084 0.972905 53.3945L30.2714 67.5025C30.5078 67.6155 30.7638 67.6712 31.0174 67.6712V33.7408L62.0433 20.3268ZM30.0603 32.3508C30.1496 32.2893 30.2457 32.2359 30.3477 32.1918L59.1638 19.7333L31.0414 6.19037C31.0413 6.19035 31.0415 6.1904 31.0414 6.19037C31.0343 6.18702 31.0242 6.18585 31.0126 6.19138C31.0126 6.19139 31.0126 6.19137 31.0126 6.19138L3.18172 19.5583L11.7191 23.6216L25.8783 17.6381C26.1146 17.5383 26.3834 17.5513 26.6088 17.6735L35.1327 22.2936C35.4132 22.4456 35.5839 22.7429 35.5739 23.0618C35.564 23.3807 35.375 23.6666 35.0855 23.8008L23.4403 29.2001L30.0603 32.3508ZM29.3299 33.872L22.2997 30.5261V42.1239C22.2997 42.4752 22.0821 42.7897 21.7533 42.9135C21.4246 43.0373 21.0536 42.9446 20.8218 42.6806L16.2333 37.4537C16.2178 37.436 16.203 37.4177 16.189 37.3988C16.0202 37.1704 15.7557 37.0445 15.486 37.0445C15.3425 37.0445 15.1959 37.0803 15.0576 37.1573C15.0574 37.1574 15.0579 37.1572 15.0576 37.1573L12.2092 38.7549C11.9479 38.9014 11.6285 38.8985 11.37 38.747C11.1115 38.5956 10.9527 38.3185 10.9527 38.0189L10.9535 25.1261L1.6875 20.716V51.8469C1.6875 51.852 1.68872 51.8571 1.69219 51.8626C1.69567 51.8681 1.6998 51.8716 1.70471 51.8739L29.3299 65.1761V33.872ZM12.641 25.9292L12.6403 36.5783L14.2346 35.6841C14.6272 35.465 15.0576 35.357 15.486 35.357C16.2609 35.357 17.0243 35.7115 17.5225 36.3643L20.6122 39.8839V29.723L12.641 25.9292ZM21.4641 28.2563L32.8515 22.9766L26.1614 19.3504L13.8396 24.5575L21.4641 28.2563Z" fill="#373A37" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M42.69 49.4413C42.8692 49.8715 42.6658 50.3655 42.2356 50.5447L35.5298 53.3388C35.0997 53.518 34.6057 53.3146 34.4265 52.8845C34.2472 52.4543 34.4506 51.9603 34.8808 51.7811L41.5866 48.987C42.0167 48.8078 42.5107 49.0112 42.69 49.4413Z" fill="#373A37" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M45.4952 53.9383C45.6588 54.3747 45.4377 54.861 45.0014 55.0246L40.5309 56.7011C40.0945 56.8647 39.6082 56.6436 39.4446 56.2073C39.281 55.771 39.502 55.2847 39.9383 55.121L44.4089 53.4446C44.8452 53.281 45.3316 53.502 45.4952 53.9383Z" fill="#373A37" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M47.7765 59.0919C47.9589 59.5208 47.7591 60.0162 47.3302 60.1986L30.7796 67.2363C30.3508 67.4186 29.8553 67.2188 29.673 66.79C29.4906 66.3612 29.6904 65.8657 30.1193 65.6834L46.6699 58.6456C47.0987 58.4633 47.5942 58.6631 47.7765 59.0919Z" fill="#373A37" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M61.2793 19.1953C61.7453 19.1953 62.123 19.5731 62.123 20.0391V28.5305C62.123 28.9965 61.7453 29.3742 61.2793 29.3742C60.8133 29.3742 60.4355 28.9965 60.4355 28.5305V20.0391C60.4355 19.5731 60.8133 19.1953 61.2793 19.1953Z" fill="#373A37" />
                                <path d="M43.0393 34.1327C37.8098 39.3625 37.8098 47.8717 43.0393 53.1004C45.5717 55.6324 48.9424 57.0282 52.5267 57.0303C56.1111 57.0303 59.4776 55.6335 62.0089 53.1015C64.5434 50.5674 65.9405 47.1994 65.9405 43.6187C65.9405 40.0349 64.5445 36.6668 62.0089 34.1327C59.4776 31.6007 56.1111 30.207 52.5267 30.207C48.9434 30.207 45.5738 31.6028 43.0393 34.1327Z" fill="#ECDECD" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M62.0089 34.1327C59.4776 31.6007 56.1111 30.207 52.5267 30.207C48.9434 30.207 45.5738 31.6028 43.0393 34.1327C37.8098 39.3625 37.8098 47.8717 43.0393 53.1004C45.5717 55.6324 48.9424 57.0282 52.5267 57.0303C56.1111 57.0303 59.4776 55.6335 62.0089 53.1015C64.5434 50.5674 65.9405 47.1994 65.9405 43.6187C65.9405 40.0349 64.5445 36.6668 62.0089 34.1327ZM52.5277 55.3428C55.6637 55.3426 58.6006 54.1239 60.8155 51.9084L60.8158 51.9081C63.0343 49.6899 64.253 46.7509 64.253 43.6187C64.253 40.4828 63.035 37.5441 60.816 35.3263L60.8155 35.3258C58.6011 33.1108 55.6641 31.8945 52.5267 31.8945C49.3911 31.8945 46.4502 33.1125 44.2319 35.3267C39.662 39.8976 39.6624 47.3377 44.2325 51.9071C46.4482 54.1225 49.3899 55.341 52.5277 55.3428Z" fill="#373A37" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M45.1637 48.2054C45.1637 48.2054 45.1636 48.2054 45.1636 48.2054C45.1103 48.1586 45.0576 48.1058 45.0058 48.0462C44.9388 47.9685 44.8831 47.8849 44.8387 47.7974C44.7758 47.6736 44.7353 47.542 44.7168 47.4084C44.7067 47.3357 44.7032 47.2624 44.706 47.1895C44.7151 46.9593 44.7882 46.7322 44.9231 46.5366C44.9819 46.4514 45.0525 46.3722 45.1347 46.3013C45.6431 45.8603 46.4093 45.9097 46.859 46.408C46.8775 46.4241 46.8942 46.4401 46.9121 46.4574C47.0189 46.5642 47.1021 46.6857 47.1617 46.8154C47.1869 46.8704 47.2079 46.9269 47.2247 46.9843C47.2706 47.1416 47.2847 47.3063 47.2669 47.4681C47.2575 47.5539 47.2392 47.6388 47.2119 47.7215C47.1532 47.8991 47.0533 48.066 46.9121 48.2072C46.8114 48.3079 46.6978 48.3876 46.5767 48.4462C46.5763 48.4464 46.5759 48.4466 46.5755 48.4468C46.5236 48.4718 46.4704 48.493 46.4162 48.5103C46.4157 48.5105 46.4151 48.5107 46.4145 48.5109C46.4138 48.5111 46.4131 48.5113 46.4125 48.5116C46.4125 48.5116 46.4124 48.5116 46.4124 48.5116C46.2908 48.5501 46.1644 48.5693 46.0379 48.5693C46.0205 48.5693 46.0031 48.5689 45.9856 48.5682C45.9854 48.5682 45.9851 48.5682 45.9849 48.5682C45.9722 48.5676 45.9595 48.5669 45.9469 48.566C45.9466 48.5659 45.9463 48.5659 45.946 48.5659C45.8835 48.5613 45.8213 48.552 45.7599 48.5379C45.7598 48.5379 45.7598 48.5379 45.7597 48.5379C45.741 48.5336 45.7224 48.5289 45.7038 48.5237C45.7038 48.5237 45.7038 48.5237 45.7038 48.5237C45.5056 48.4685 45.3182 48.3631 45.1619 48.2072C45.3002 48.3401 45.4898 48.4404 45.7031 48.491C45.524 48.4484 45.3404 48.3604 45.1637 48.2054ZM45.816 48.5102C45.7992 48.5081 45.7825 48.5056 45.7658 48.5027C45.7827 48.5055 45.7994 48.508 45.816 48.5102ZM45.9849 48.5218C46.0025 48.5218 46.0202 48.5214 46.0379 48.5206C46.1555 48.5154 46.2735 48.4928 46.392 48.4521C46.2863 48.4884 46.1653 48.5128 46.0379 48.5199C46.0203 48.5209 46.0026 48.5215 45.9849 48.5218ZM46.4866 48.4147C46.5071 48.4056 46.5269 48.3962 46.5462 48.3867C46.5264 48.3969 46.5065 48.4061 46.4866 48.4147Z" fill="#373A37" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M46.7599 38.5516C47.0895 38.8809 47.0898 39.4152 46.7604 39.7448C45.8984 40.6075 45.4625 41.7999 45.5631 43.0214C45.6013 43.4858 45.2558 43.8933 44.7914 43.9315C44.3269 43.9697 43.9195 43.6242 43.8812 43.1598C43.7403 41.4471 44.3526 39.7671 45.5667 38.5521C45.896 38.2224 46.4303 38.2222 46.7599 38.5516Z" fill="#373A37" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M60.6827 52.8409C61.0122 52.5114 61.5464 52.5114 61.8759 52.8409L64.1259 55.0909C64.4554 55.4204 64.4554 55.9546 64.1259 56.2841C63.7964 56.6136 63.2622 56.6136 62.9327 56.2841L60.6827 54.0341C60.3532 53.7046 60.3532 53.1704 60.6827 52.8409Z" fill="#373A37" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M67.8908 58.4691L65.9627 56.541C65.5258 56.1041 64.8175 56.1041 64.3806 56.541C63.9438 56.9779 63.9438 57.6862 64.3806 58.1231L66.3087 60.0511C66.7456 60.488 67.4539 60.488 67.8908 60.0511C68.3276 59.6143 68.3276 58.906 67.8908 58.4691ZM63.1874 55.3478C62.0915 56.4436 62.0915 58.2204 63.1874 59.3163L65.1155 61.2444C66.2113 62.3403 67.9881 62.3403 69.084 61.2444C70.1799 60.1485 70.1799 58.3717 69.084 57.2758L67.1559 55.3478C66.06 54.2519 64.2833 54.2519 63.1874 55.3478Z" fill="#373A37" />
                            </svg>

                            <div class="c-item-01">0</div>
                        </div>
                        <div class="c-container-02">
                            Takip Ettiğiniz Ürün Yok
                        </div>
                        <div class="c-container-03">
                            Stok durumunu takip ettiğiniz bir ürün yok.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>




@section afterContentWrapper{



}
@section beforeBodyEnd{

}
