/* Common XS1 and XS2 */
@media all and (max-width: 767px) {
  .comp-modal-05 #modal-header {
    padding: 0 24px !important; }
    .comp-modal-05 #modal-header > .c-container-01 {
      display: flex;
      align-items: center; }
      .comp-modal-05 #modal-header > .c-container-01 > .c-item-01 {
        height: 32px;
        margin-right: 12px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #E4E6E8;
        border-radius: 22px;
        transition: all 0.2s;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 24px;
        color: #7D8285; }
        .comp-modal-05 #modal-header > .c-container-01 > .c-item-01.on {
          color: #A1413D;
          border-color: #A1413D; }
  .comp-modal-05 #modal-body {
    padding: 0 24px !important; }
    .comp-modal-05 #modal-body #modal-close {
      display: none; }
    .comp-modal-05 #modal-body hr {
      flex-basis: auto; }
    .comp-modal-05 #modal-body > div {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .comp-modal-05 #modal-body #stepOne > .c-container-01, .comp-modal-05 #modal-body #stepTwo > .c-container-01, .comp-modal-05 #modal-body #stepThree > .c-container-01, .comp-modal-05 #modal-body #stepFour > .c-container-01, .comp-modal-05 #modal-body #stepFive > .c-container-01 {
      display: flex; }
    .comp-modal-05 #modal-body #stepOne > .c-container-02, .comp-modal-05 #modal-body #stepTwo > .c-container-02, .comp-modal-05 #modal-body #stepThree > .c-container-02, .comp-modal-05 #modal-body #stepFour > .c-container-02, .comp-modal-05 #modal-body #stepFive > .c-container-02 {
      font-family: Palanquin;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      color: #2A2E38;
      text-align: center; }
    .comp-modal-05 #modal-body #stepOne > .c-container-03, .comp-modal-05 #modal-body #stepTwo > .c-container-03, .comp-modal-05 #modal-body #stepThree > .c-container-03, .comp-modal-05 #modal-body #stepFour > .c-container-03, .comp-modal-05 #modal-body #stepFive > .c-container-03 {
      width: 342px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #373A37; }
    .comp-modal-05 #modal-body #stepOne > .c-container-04, .comp-modal-05 #modal-body #stepTwo > .c-container-04, .comp-modal-05 #modal-body #stepThree > .c-container-04, .comp-modal-05 #modal-body #stepFour > .c-container-04, .comp-modal-05 #modal-body #stepFive > .c-container-04 {
      width: 100%; }
    .comp-modal-05 #modal-body #stepOne > .c-container-05, .comp-modal-05 #modal-body #stepTwo > .c-container-05, .comp-modal-05 #modal-body #stepThree > .c-container-05, .comp-modal-05 #modal-body #stepFour > .c-container-05, .comp-modal-05 #modal-body #stepFive > .c-container-05 {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: #A1413D;
      display: flex;
      align-items: center; }
      .comp-modal-05 #modal-body #stepOne > .c-container-05 svg, .comp-modal-05 #modal-body #stepTwo > .c-container-05 svg, .comp-modal-05 #modal-body #stepThree > .c-container-05 svg, .comp-modal-05 #modal-body #stepFour > .c-container-05 svg, .comp-modal-05 #modal-body #stepFive > .c-container-05 svg {
        margin-left: 4px; }
    .comp-modal-05 #modal-body #stepOne > .c-container-06, .comp-modal-05 #modal-body #stepTwo > .c-container-06, .comp-modal-05 #modal-body #stepThree > .c-container-06, .comp-modal-05 #modal-body #stepFour > .c-container-06, .comp-modal-05 #modal-body #stepFive > .c-container-06 {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #E4E6E8;
      border-radius: 6px;
      width: 100%;
      height: 48px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #373A37; }
    .comp-modal-05 #modal-body #stepOne > .c-container-07, .comp-modal-05 #modal-body #stepTwo > .c-container-07, .comp-modal-05 #modal-body #stepThree > .c-container-07, .comp-modal-05 #modal-body #stepFour > .c-container-07, .comp-modal-05 #modal-body #stepFive > .c-container-07 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 48px;
      background: linear-gradient(0deg, #A2413D, #A2413D);
      border-radius: 6px;
      font-family: Open Sans;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF; }
    .comp-modal-05 #modal-body #stepOne > .c-container-08, .comp-modal-05 #modal-body #stepTwo > .c-container-08, .comp-modal-05 #modal-body #stepThree > .c-container-08, .comp-modal-05 #modal-body #stepFour > .c-container-08, .comp-modal-05 #modal-body #stepFive > .c-container-08 {
      width: 100%; }
    .comp-modal-05 #modal-body #stepOne > .c-container-09 > .c-item-01, .comp-modal-05 #modal-body #stepTwo > .c-container-09 > .c-item-01, .comp-modal-05 #modal-body #stepThree > .c-container-09 > .c-item-01, .comp-modal-05 #modal-body #stepFour > .c-container-09 > .c-item-01, .comp-modal-05 #modal-body #stepFive > .c-container-09 > .c-item-01 {
      margin-bottom: 6px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #7D8285; }
    .comp-modal-05 #modal-body #stepOne > .c-container-09 > .c-item-02, .comp-modal-05 #modal-body #stepTwo > .c-container-09 > .c-item-02, .comp-modal-05 #modal-body #stepThree > .c-container-09 > .c-item-02, .comp-modal-05 #modal-body #stepFour > .c-container-09 > .c-item-02, .comp-modal-05 #modal-body #stepFive > .c-container-09 > .c-item-02 {
      width: 176px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #F4F7F6;
      border-radius: 46px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 5px;
      color: #373A37; }
  .comp-modal-05 #modal-close {
    display: none; }
  .comp-modal-05 #modal-footer {
    display: none !important; } }
/* XS1 */
/* XS2 */
/* Common SM1 and SM2 */
/* SM1 */
/* SM2 */
/* Common MD and LG */
@media all and (min-width: 1296px) {
  .comp-modal-05 #modal-header {
    padding: 0 98px 0 98px !important; }
    .comp-modal-05 #modal-header > .c-container-01 {
      display: flex;
      align-items: center; }
      .comp-modal-05 #modal-header > .c-container-01 > .c-item-01 {
        height: 32px;
        margin-right: 28px;
        padding: 0 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #E4E6E8;
        border-radius: 22px;
        transition: all 0.2s;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 24px;
        color: #7D8285; }
        .comp-modal-05 #modal-header > .c-container-01 > .c-item-01.on {
          color: #A1413D;
          border-color: #A1413D; }
  .comp-modal-05 #modal-body {
    padding: 0 98px 0 98px !important; }
    .comp-modal-05 #modal-body #modal-close {
      display: none; }
    .comp-modal-05 #modal-body hr {
      flex-basis: auto; }
    .comp-modal-05 #modal-body > div {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .comp-modal-05 #modal-body #stepOne > .c-container-01, .comp-modal-05 #modal-body #stepTwo > .c-container-01, .comp-modal-05 #modal-body #stepThree > .c-container-01, .comp-modal-05 #modal-body #stepFour > .c-container-01, .comp-modal-05 #modal-body #stepFive > .c-container-01 {
      display: flex; }
    .comp-modal-05 #modal-body #stepOne > .c-container-02, .comp-modal-05 #modal-body #stepTwo > .c-container-02, .comp-modal-05 #modal-body #stepThree > .c-container-02, .comp-modal-05 #modal-body #stepFour > .c-container-02, .comp-modal-05 #modal-body #stepFive > .c-container-02 {
      font-family: Palanquin;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      color: #2A2E38;
      text-align: center; }
    .comp-modal-05 #modal-body #stepOne > .c-container-03, .comp-modal-05 #modal-body #stepTwo > .c-container-03, .comp-modal-05 #modal-body #stepThree > .c-container-03, .comp-modal-05 #modal-body #stepFour > .c-container-03, .comp-modal-05 #modal-body #stepFive > .c-container-03 {
      width: 342px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #373A37; }
    .comp-modal-05 #modal-body #stepOne > .c-container-04, .comp-modal-05 #modal-body #stepTwo > .c-container-04, .comp-modal-05 #modal-body #stepThree > .c-container-04, .comp-modal-05 #modal-body #stepFour > .c-container-04, .comp-modal-05 #modal-body #stepFive > .c-container-04 {
      width: 100%; }
    .comp-modal-05 #modal-body #stepOne > .c-container-05, .comp-modal-05 #modal-body #stepTwo > .c-container-05, .comp-modal-05 #modal-body #stepThree > .c-container-05, .comp-modal-05 #modal-body #stepFour > .c-container-05, .comp-modal-05 #modal-body #stepFive > .c-container-05 {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: #A1413D;
      display: flex;
      align-items: center; }
      .comp-modal-05 #modal-body #stepOne > .c-container-05 svg, .comp-modal-05 #modal-body #stepTwo > .c-container-05 svg, .comp-modal-05 #modal-body #stepThree > .c-container-05 svg, .comp-modal-05 #modal-body #stepFour > .c-container-05 svg, .comp-modal-05 #modal-body #stepFive > .c-container-05 svg {
        margin-left: 4px; }
    .comp-modal-05 #modal-body #stepOne > .c-container-06, .comp-modal-05 #modal-body #stepTwo > .c-container-06, .comp-modal-05 #modal-body #stepThree > .c-container-06, .comp-modal-05 #modal-body #stepFour > .c-container-06, .comp-modal-05 #modal-body #stepFive > .c-container-06 {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #E4E6E8;
      border-radius: 6px;
      width: 100%;
      height: 48px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #373A37; }
    .comp-modal-05 #modal-body #stepOne > .c-container-07, .comp-modal-05 #modal-body #stepTwo > .c-container-07, .comp-modal-05 #modal-body #stepThree > .c-container-07, .comp-modal-05 #modal-body #stepFour > .c-container-07, .comp-modal-05 #modal-body #stepFive > .c-container-07 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 48px;
      background: linear-gradient(0deg, #A2413D, #A2413D);
      border-radius: 6px;
      font-family: Open Sans;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF; }
    .comp-modal-05 #modal-body #stepOne > .c-container-08, .comp-modal-05 #modal-body #stepTwo > .c-container-08, .comp-modal-05 #modal-body #stepThree > .c-container-08, .comp-modal-05 #modal-body #stepFour > .c-container-08, .comp-modal-05 #modal-body #stepFive > .c-container-08 {
      width: 100%; }
    .comp-modal-05 #modal-body #stepOne > .c-container-09 > .c-item-01, .comp-modal-05 #modal-body #stepTwo > .c-container-09 > .c-item-01, .comp-modal-05 #modal-body #stepThree > .c-container-09 > .c-item-01, .comp-modal-05 #modal-body #stepFour > .c-container-09 > .c-item-01, .comp-modal-05 #modal-body #stepFive > .c-container-09 > .c-item-01 {
      margin-bottom: 6px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #7D8285; }
    .comp-modal-05 #modal-body #stepOne > .c-container-09 > .c-item-02, .comp-modal-05 #modal-body #stepTwo > .c-container-09 > .c-item-02, .comp-modal-05 #modal-body #stepThree > .c-container-09 > .c-item-02, .comp-modal-05 #modal-body #stepFour > .c-container-09 > .c-item-02, .comp-modal-05 #modal-body #stepFive > .c-container-09 > .c-item-02 {
      width: 176px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #F4F7F6;
      border-radius: 46px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 5px;
      color: #373A37; }
  .comp-modal-05 #modal-footer {
    display: none !important; } }
/* MD */
/* LG */

/*# sourceMappingURL=05.css.map */
