// Colour Table of Main Colours
$CT-DeepBlack: #2A2E38;
$CT-DarkGray: #72767E;
$CT-LightGray: #CBD5E0;
$CT-Ghost: #E5EAEF;
$CT-BrandColor: #3A614F;
$CT-B2: #4D8D70;
$CT-B3: #57A580;
$CT-B4: #67BE93;


// Colour Table of Light
$CT-L100: #fff;
