
@{
    ViewBag.Title = "Index";
}



@section head{
}
<main>

    <section class="comp-breadcrumb-01 mb-xs1-96px">
        <div class="c-wrapper">
            <a href="#">Anasayfa</a>
            <a href="#">Kurumsal</a>
            <a href="#">Tasarım</a>
        </div>
    </section>
    <div id="bulletNavigation">
        <div class="comp-aside-03">
            <a href="#" class="c-container-01 on"></a>
            <a href="#" class="c-container-01"></a>
            <a href="#" class="c-container-01"></a>
            <a href="#" class="c-container-01"></a>
        </div>
    </div>
    <section data-on-screen="on" data-screen-index="1" class="comp-section-35">
        <div class="c-wrapper">
            <div class="c-column-01">
                <h5 class="c-container-01">VitrA ve Tasarım</h5>
                <p class="c-container-02">VitrA, yaratıcı uygulamalarla tasarım kültürünü yaşam alanlarına yansıtıyor. Tasarımın yalnızca estetikle ilgili bir kavram olmadığına; iyi bir tasarımın inovasyon içermesi, kullanıcıların.</p>
                <div class="c-container-03">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.875 2.25H10.125C7.22551 2.25 4.875 4.60051 4.875 7.5V16.5C4.875 19.3995 7.22551 21.75 10.125 21.75H13.875C16.7745 21.75 19.125 19.3995 19.125 16.5V7.5C19.125 4.60051 16.7745 2.25 13.875 2.25Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M4.875 9.75H19.125" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12 9.75L12 2.25" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>Kaydır ve Keşfet
                </div>
            </div>
        </div>
    </section>
    <section data-on-screen="off"data-screen-index="2" class="comp-section-35">
        <div class="c-wrapper">
            <div class="c-column-01">
                <h5 class="c-container-01">VitrA ve Tasarım</h5>
                <p class="c-container-02">VitrA, yaratıcı uygulamalarla tasarım kültürünü yaşam alanlarına yansıtıyor. Tasarımın yalnızca estetikle ilgili bir kavram olmadığına; iyi bir tasarımın inovasyon içermesi, kullanıcıların.</p>
                <div class="c-container-03">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.875 2.25H10.125C7.22551 2.25 4.875 4.60051 4.875 7.5V16.5C4.875 19.3995 7.22551 21.75 10.125 21.75H13.875C16.7745 21.75 19.125 19.3995 19.125 16.5V7.5C19.125 4.60051 16.7745 2.25 13.875 2.25Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M4.875 9.75H19.125" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12 9.75L12 2.25" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>Kaydır ve Keşfet
                </div>
            </div>
        </div>
    </section>
    <section data-on-screen="off"data-screen-index="3" class="comp-section-35">
        <div class="c-wrapper">
            <div class="c-column-01">
                <h5 class="c-container-01">VitrA ve Tasarım</h5>
                <p class="c-container-02">VitrA, yaratıcı uygulamalarla tasarım kültürünü yaşam alanlarına yansıtıyor. Tasarımın yalnızca estetikle ilgili bir kavram olmadığına; iyi bir tasarımın inovasyon içermesi, kullanıcıların.</p>
                <div class="c-container-03">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.875 2.25H10.125C7.22551 2.25 4.875 4.60051 4.875 7.5V16.5C4.875 19.3995 7.22551 21.75 10.125 21.75H13.875C16.7745 21.75 19.125 19.3995 19.125 16.5V7.5C19.125 4.60051 16.7745 2.25 13.875 2.25Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M4.875 9.75H19.125" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12 9.75L12 2.25" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>Kaydır ve Keşfet
                </div>
            </div>
        </div>
    </section>
</main>


@section beforeBodyEnd{
    <script src="~/Content/Scripts/Base/Felece.Common.jQuery.js"></script>
    <script src="~/Content/Scripts/Misc/Felece.Design.Base.js"></script>
}
