
@{
    ViewBag.Title = "Index";
}



@section head{
}
<main>

    <section class="comp-breadcrumb-01 mb-xs1-24px">
        <div class="c-wrapper">
            <a href="#">Anasayfa</a>
            <a href="#">Destek</a>
        </div>
    </section>

    <section class="comp-section-18 mb-xs1-48px">
        <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.4589 29.6523H3.93278L2.9624 34.5043L3.93278 40.8117L20.9145 41.2969L21.3997 40.3265V32.5635V30.1375L19.4589 29.6523Z" fill="#ECDECD" />
            <path d="M65.5521 29.6523H50.026L49.0557 34.5043L50.026 40.8117L67.0077 41.2969L67.4929 40.3265V32.5635V30.1375L65.5521 29.6523Z" fill="#ECDECD" />
            <path d="M29.6519 5.39023L29.6519 20.9163L34.5038 21.8867L40.8112 20.9163L41.2964 3.93466L40.326 3.44947L32.563 3.44947L30.137 3.44947L29.6519 5.39023Z" fill="#ECDECD" />
            <path d="M29.6519 52.941L29.6519 68.4671L34.5038 69.4375L40.8112 68.4671L41.2964 51.4854L40.326 51.0002L32.563 51.0002L30.137 51.0002L29.6519 52.941Z" fill="#ECDECD" />
            <mask id="path-5-inside-1" fill="white">
                <path d="M35.4719 1.9375C33.9709 1.9375 32.4753 2.08488 31.2799 2.37417C30.6795 2.51609 30.1937 2.67438 29.7079 2.94184C29.4622 3.07285 29.2057 3.24751 28.9655 3.50952C28.84 3.65144 28.709 3.8534 28.6162 4.07719C27.7319 4.26824 26.8531 4.51386 25.9962 4.77587C25.3357 4.5084 23.1032 3.65144 20.0574 3.46585C19.6098 3.43856 19.1404 3.41673 18.6601 3.42218C15.3141 3.47131 11.3677 4.4702 7.91795 7.9199C0.570948 15.2669 4.23899 24.7754 4.77391 26.0418C4.51737 26.8878 4.26628 27.7448 4.07524 28.6181C3.85144 28.7109 3.64948 28.8419 3.50756 28.9675C3.24556 29.2076 3.07089 29.4642 2.93989 29.7098C2.67243 30.1956 2.51414 30.6814 2.37222 31.2818C2.08292 32.4772 1.93555 33.9728 1.93555 35.4739C1.93555 36.9749 2.08292 38.4705 2.37222 39.6659C2.51414 40.2664 2.67243 40.7522 2.93989 41.2379C3.07089 41.4836 3.24556 41.7401 3.50756 41.9803C3.64948 42.1058 3.85144 42.2368 4.07524 42.3296C4.26628 43.2084 4.51191 44.0545 4.77391 44.906C4.23899 46.1723 0.570948 55.6809 7.91795 63.0279C15.265 70.3749 24.7735 66.7068 26.0398 66.1719C26.8695 66.4285 27.7156 66.6413 28.5725 66.8269C28.6653 67.078 28.8291 67.2854 28.9655 67.4382C29.2057 67.7003 29.4622 67.8749 29.7079 68.0059C30.1937 68.2734 30.6795 68.4317 31.2799 68.5736C32.4753 68.8629 33.9709 69.0103 35.4719 69.0103C36.973 69.0103 38.4686 68.8629 39.664 68.5736C40.2644 68.4317 40.7502 68.2734 41.236 68.0059C41.4816 67.8749 41.7382 67.7003 41.9783 67.4382C42.1039 67.2963 42.2349 67.0944 42.3277 66.8706C43.201 66.6795 44.058 66.4339 44.904 66.1719C46.1704 66.7068 55.6789 70.3749 63.0259 63.0279C70.2965 55.7573 66.7649 46.3798 66.17 44.9497C66.4374 44.0927 66.6776 43.2193 66.8686 42.3296C67.0924 42.2368 67.2944 42.1058 67.4363 41.9803C67.6983 41.7401 67.873 41.4836 68.004 41.2379C68.2714 40.7522 68.4297 40.2664 68.5716 39.6659C68.8609 38.4705 69.0083 36.9749 69.0083 35.4739C69.0083 33.9728 68.8609 32.4772 68.5716 31.2818C68.4297 30.6814 68.2714 30.1956 68.004 29.7098C67.873 29.4642 67.6983 29.2076 67.4363 28.9675C67.2944 28.8419 67.0924 28.7109 66.8686 28.6181C66.6776 27.7393 66.432 26.8933 66.17 26.0418C66.7049 24.7754 70.3729 15.2669 63.0259 7.9199C59.5762 4.4702 55.6298 3.47131 52.2838 3.42218C51.8035 3.41673 51.334 3.43856 50.8864 3.46585C47.7697 3.65144 45.4935 4.5357 44.904 4.77587C44.0634 4.51932 43.201 4.26824 42.3277 4.07719C42.2349 3.8534 42.1039 3.65144 41.9783 3.50952C41.7382 3.24751 41.4816 3.07285 41.236 2.94184C40.7502 2.67438 40.2644 2.51609 39.664 2.37417C38.4686 2.08488 36.973 1.9375 35.4719 1.9375ZM35.4719 4.7322C36.7656 4.7322 38.0647 4.8632 38.9653 5.08154C39.2928 5.16341 39.4893 5.27258 39.664 5.34354V18.8804C39.4456 19.2352 39.402 19.6664 39.533 20.0594C39.0963 19.9065 37.9228 19.5354 35.4719 19.5354C32.8792 19.5354 31.6947 19.972 31.3236 20.103C31.4709 19.7373 31.4546 19.3225 31.2799 18.9677V5.95488C31.4273 5.74746 31.5201 5.50729 31.5419 5.2562C31.6729 5.19616 31.7711 5.13066 31.9786 5.08154C32.8792 4.8632 34.1783 4.7322 35.4719 4.7322ZM18.8347 6.17322C19.9264 6.15684 20.9253 6.2278 21.8041 6.39155C15.0521 9.5738 9.57184 15.0104 6.3896 21.7624C5.82738 18.6675 5.90926 13.946 9.92664 9.92859C12.8196 7.03564 16.0783 6.21142 18.8347 6.17322ZM50.9738 6.17322C53.9377 5.98217 57.7149 6.62626 61.0172 9.92859C65.0564 13.9678 65.1274 18.7112 64.5543 21.8061C61.3775 15.0595 55.93 9.5738 49.1834 6.39155C49.7347 6.2933 50.3351 6.21688 50.9738 6.17322ZM28.4852 6.95922V18.7057C24.0748 20.5452 20.5869 24.0768 18.7474 28.4871H6.95727C9.54455 17.8924 17.8904 9.5465 28.4852 6.95922ZM42.4587 7.00289C53.037 9.59017 61.3556 17.9088 63.9429 28.4871H52.2401C50.4006 24.0768 46.8691 20.5943 42.4587 18.7494V7.00289ZM28.9219 21.5877C29.4186 22.3792 30.2919 22.8977 31.2799 22.8977C31.46 22.9032 31.6347 22.8704 31.8039 22.8104C31.8039 22.8104 32.8683 22.3301 35.4719 22.3301C38.0756 22.3301 39.14 22.8104 39.14 22.8104C39.3092 22.8704 39.4839 22.9032 39.664 22.8977C40.6519 22.8977 41.5253 22.3792 42.022 21.5877C45.2425 23.1106 47.8352 25.7034 49.3581 28.9238C48.5666 29.4205 48.0481 30.2939 48.0481 31.2818C48.0426 31.462 48.0754 31.6366 48.1354 31.8058C48.1354 31.8058 48.6157 32.8702 48.6157 35.4739C48.6157 38.0775 48.1354 39.1419 48.1354 39.1419C48.0754 39.3111 48.0426 39.4858 48.0481 39.6659C48.0481 40.6539 48.5666 41.5272 49.3581 42.024C47.8352 45.239 45.2479 47.8426 42.022 49.36C41.5253 48.5686 40.6519 48.05 39.664 48.05C39.4839 48.0446 39.3092 48.0773 39.14 48.1374C39.14 48.1374 38.0756 48.6177 35.4719 48.6177C32.8683 48.6177 31.8039 48.1374 31.8039 48.1374C31.6347 48.0773 31.46 48.0446 31.2799 48.05C30.281 48.05 29.4186 48.5959 28.9219 49.4037C25.7123 47.8808 23.1032 45.2444 21.5858 42.024C22.3772 41.5272 22.8958 40.6539 22.8958 39.6659C22.9012 39.4858 22.8685 39.3111 22.8085 39.1419C22.8085 39.1419 22.3281 38.0775 22.3281 35.4739C22.3281 32.8702 22.8085 31.8058 22.8085 31.8058C22.8685 31.6366 22.9012 31.462 22.8958 31.2818C22.8958 30.3102 22.3991 29.426 21.6294 28.9238C23.1469 25.7088 25.7014 23.1052 28.9219 21.5877ZM5.55992 31.2818H20.1011C19.981 31.6203 19.5334 32.8211 19.5334 35.4739C19.5334 37.9247 19.9046 39.0983 20.0574 39.5349C19.85 39.4531 19.6262 39.4258 19.4024 39.4476C19.1841 39.4694 18.9767 39.5458 18.7911 39.6659H5.34159C5.27063 39.4913 5.16146 39.2948 5.07958 38.9673C4.86125 38.0666 4.73025 36.7675 4.73025 35.4739C4.73025 34.1802 4.86125 32.8811 5.07958 31.9805C5.156 31.6694 5.27063 31.4893 5.34159 31.3255C5.418 31.3146 5.48896 31.3037 5.55992 31.2818ZM50.8428 31.2818H65.6023C65.6732 31.4565 65.7824 31.653 65.8643 31.9805C66.0826 32.8811 66.2136 34.1802 66.2136 35.4739C66.2136 36.7675 66.0826 38.0666 65.8643 38.9673C65.8042 39.2129 65.7551 39.3493 65.6896 39.4913C65.6459 39.4913 65.6023 39.4913 65.5586 39.4913C65.373 39.5131 65.1984 39.5731 65.0346 39.6659H50.8428C50.9629 39.3275 51.4104 38.1267 51.4104 35.4739C51.4104 32.8211 50.9629 31.6203 50.8428 31.2818ZM7.00094 42.4606H18.7474C20.5869 46.8601 24.0803 50.3589 28.4852 52.1984V63.9449C17.9068 61.3521 9.58822 53.0445 7.00094 42.4606ZM52.1965 42.4606H63.9866C61.3993 53.0608 53.0589 61.4013 42.4587 63.9885V52.2421C46.8581 50.3971 50.357 46.8656 52.1965 42.4606ZM64.5543 49.1417C65.1274 52.2366 65.0564 56.98 61.0172 61.0192C56.978 65.0584 52.2347 65.1293 49.1398 64.5562C55.9027 61.374 61.3666 55.8937 64.5543 49.1417ZM6.3896 49.1854C9.5773 55.9265 15.0521 61.3849 21.8041 64.5562C18.7092 65.1293 13.9659 65.0584 9.92664 61.0192C5.90926 57.0018 5.82738 52.2803 6.3896 49.1854ZM39.664 50.8447C39.5494 51.1559 39.5494 51.4943 39.664 51.8054V65.1239C39.5876 65.2876 39.5439 65.4678 39.533 65.6479C39.3801 65.7134 39.2328 65.8007 38.9653 65.8662C38.0647 66.0846 36.7656 66.2156 35.4719 66.2156C34.1783 66.2156 32.8792 66.0846 31.9786 65.8662C31.7329 65.8062 31.5965 65.7571 31.4546 65.6916C31.4491 65.4623 31.3891 65.2385 31.2799 65.0366V52.1984C31.5528 51.8163 31.6183 51.3251 31.4546 50.8884C31.9185 51.0467 33.0812 51.4124 35.4719 51.4124C38.1247 51.4124 39.3256 50.9648 39.664 50.8447Z" />
            </mask>
            <path d="M35.4719 1.9375C33.9709 1.9375 32.4753 2.08488 31.2799 2.37417C30.6795 2.51609 30.1937 2.67438 29.7079 2.94184C29.4622 3.07285 29.2057 3.24751 28.9655 3.50952C28.84 3.65144 28.709 3.8534 28.6162 4.07719C27.7319 4.26824 26.8531 4.51386 25.9962 4.77587C25.3357 4.5084 23.1032 3.65144 20.0574 3.46585C19.6098 3.43856 19.1404 3.41673 18.6601 3.42218C15.3141 3.47131 11.3677 4.4702 7.91795 7.9199C0.570948 15.2669 4.23899 24.7754 4.77391 26.0418C4.51737 26.8878 4.26628 27.7448 4.07524 28.6181C3.85144 28.7109 3.64948 28.8419 3.50756 28.9675C3.24556 29.2076 3.07089 29.4642 2.93989 29.7098C2.67243 30.1956 2.51414 30.6814 2.37222 31.2818C2.08292 32.4772 1.93555 33.9728 1.93555 35.4739C1.93555 36.9749 2.08292 38.4705 2.37222 39.6659C2.51414 40.2664 2.67243 40.7522 2.93989 41.2379C3.07089 41.4836 3.24556 41.7401 3.50756 41.9803C3.64948 42.1058 3.85144 42.2368 4.07524 42.3296C4.26628 43.2084 4.51191 44.0545 4.77391 44.906C4.23899 46.1723 0.570948 55.6809 7.91795 63.0279C15.265 70.3749 24.7735 66.7068 26.0398 66.1719C26.8695 66.4285 27.7156 66.6413 28.5725 66.8269C28.6653 67.078 28.8291 67.2854 28.9655 67.4382C29.2057 67.7003 29.4622 67.8749 29.7079 68.0059C30.1937 68.2734 30.6795 68.4317 31.2799 68.5736C32.4753 68.8629 33.9709 69.0103 35.4719 69.0103C36.973 69.0103 38.4686 68.8629 39.664 68.5736C40.2644 68.4317 40.7502 68.2734 41.236 68.0059C41.4816 67.8749 41.7382 67.7003 41.9783 67.4382C42.1039 67.2963 42.2349 67.0944 42.3277 66.8706C43.201 66.6795 44.058 66.4339 44.904 66.1719C46.1704 66.7068 55.6789 70.3749 63.0259 63.0279C70.2965 55.7573 66.7649 46.3798 66.17 44.9497C66.4374 44.0927 66.6776 43.2193 66.8686 42.3296C67.0924 42.2368 67.2944 42.1058 67.4363 41.9803C67.6983 41.7401 67.873 41.4836 68.004 41.2379C68.2714 40.7522 68.4297 40.2664 68.5716 39.6659C68.8609 38.4705 69.0083 36.9749 69.0083 35.4739C69.0083 33.9728 68.8609 32.4772 68.5716 31.2818C68.4297 30.6814 68.2714 30.1956 68.004 29.7098C67.873 29.4642 67.6983 29.2076 67.4363 28.9675C67.2944 28.8419 67.0924 28.7109 66.8686 28.6181C66.6776 27.7393 66.432 26.8933 66.17 26.0418C66.7049 24.7754 70.3729 15.2669 63.0259 7.9199C59.5762 4.4702 55.6298 3.47131 52.2838 3.42218C51.8035 3.41673 51.334 3.43856 50.8864 3.46585C47.7697 3.65144 45.4935 4.5357 44.904 4.77587C44.0634 4.51932 43.201 4.26824 42.3277 4.07719C42.2349 3.8534 42.1039 3.65144 41.9783 3.50952C41.7382 3.24751 41.4816 3.07285 41.236 2.94184C40.7502 2.67438 40.2644 2.51609 39.664 2.37417C38.4686 2.08488 36.973 1.9375 35.4719 1.9375ZM35.4719 4.7322C36.7656 4.7322 38.0647 4.8632 38.9653 5.08154C39.2928 5.16341 39.4893 5.27258 39.664 5.34354V18.8804C39.4456 19.2352 39.402 19.6664 39.533 20.0594C39.0963 19.9065 37.9228 19.5354 35.4719 19.5354C32.8792 19.5354 31.6947 19.972 31.3236 20.103C31.4709 19.7373 31.4546 19.3225 31.2799 18.9677V5.95488C31.4273 5.74746 31.5201 5.50729 31.5419 5.2562C31.6729 5.19616 31.7711 5.13066 31.9786 5.08154C32.8792 4.8632 34.1783 4.7322 35.4719 4.7322ZM18.8347 6.17322C19.9264 6.15684 20.9253 6.2278 21.8041 6.39155C15.0521 9.5738 9.57184 15.0104 6.3896 21.7624C5.82738 18.6675 5.90926 13.946 9.92664 9.92859C12.8196 7.03564 16.0783 6.21142 18.8347 6.17322ZM50.9738 6.17322C53.9377 5.98217 57.7149 6.62626 61.0172 9.92859C65.0564 13.9678 65.1274 18.7112 64.5543 21.8061C61.3775 15.0595 55.93 9.5738 49.1834 6.39155C49.7347 6.2933 50.3351 6.21688 50.9738 6.17322ZM28.4852 6.95922V18.7057C24.0748 20.5452 20.5869 24.0768 18.7474 28.4871H6.95727C9.54455 17.8924 17.8904 9.5465 28.4852 6.95922ZM42.4587 7.00289C53.037 9.59017 61.3556 17.9088 63.9429 28.4871H52.2401C50.4006 24.0768 46.8691 20.5943 42.4587 18.7494V7.00289ZM28.9219 21.5877C29.4186 22.3792 30.2919 22.8977 31.2799 22.8977C31.46 22.9032 31.6347 22.8704 31.8039 22.8104C31.8039 22.8104 32.8683 22.3301 35.4719 22.3301C38.0756 22.3301 39.14 22.8104 39.14 22.8104C39.3092 22.8704 39.4839 22.9032 39.664 22.8977C40.6519 22.8977 41.5253 22.3792 42.022 21.5877C45.2425 23.1106 47.8352 25.7034 49.3581 28.9238C48.5666 29.4205 48.0481 30.2939 48.0481 31.2818C48.0426 31.462 48.0754 31.6366 48.1354 31.8058C48.1354 31.8058 48.6157 32.8702 48.6157 35.4739C48.6157 38.0775 48.1354 39.1419 48.1354 39.1419C48.0754 39.3111 48.0426 39.4858 48.0481 39.6659C48.0481 40.6539 48.5666 41.5272 49.3581 42.024C47.8352 45.239 45.2479 47.8426 42.022 49.36C41.5253 48.5686 40.6519 48.05 39.664 48.05C39.4839 48.0446 39.3092 48.0773 39.14 48.1374C39.14 48.1374 38.0756 48.6177 35.4719 48.6177C32.8683 48.6177 31.8039 48.1374 31.8039 48.1374C31.6347 48.0773 31.46 48.0446 31.2799 48.05C30.281 48.05 29.4186 48.5959 28.9219 49.4037C25.7123 47.8808 23.1032 45.2444 21.5858 42.024C22.3772 41.5272 22.8958 40.6539 22.8958 39.6659C22.9012 39.4858 22.8685 39.3111 22.8085 39.1419C22.8085 39.1419 22.3281 38.0775 22.3281 35.4739C22.3281 32.8702 22.8085 31.8058 22.8085 31.8058C22.8685 31.6366 22.9012 31.462 22.8958 31.2818C22.8958 30.3102 22.3991 29.426 21.6294 28.9238C23.1469 25.7088 25.7014 23.1052 28.9219 21.5877ZM5.55992 31.2818H20.1011C19.981 31.6203 19.5334 32.8211 19.5334 35.4739C19.5334 37.9247 19.9046 39.0983 20.0574 39.5349C19.85 39.4531 19.6262 39.4258 19.4024 39.4476C19.1841 39.4694 18.9767 39.5458 18.7911 39.6659H5.34159C5.27063 39.4913 5.16146 39.2948 5.07958 38.9673C4.86125 38.0666 4.73025 36.7675 4.73025 35.4739C4.73025 34.1802 4.86125 32.8811 5.07958 31.9805C5.156 31.6694 5.27063 31.4893 5.34159 31.3255C5.418 31.3146 5.48896 31.3037 5.55992 31.2818ZM50.8428 31.2818H65.6023C65.6732 31.4565 65.7824 31.653 65.8643 31.9805C66.0826 32.8811 66.2136 34.1802 66.2136 35.4739C66.2136 36.7675 66.0826 38.0666 65.8643 38.9673C65.8042 39.2129 65.7551 39.3493 65.6896 39.4913C65.6459 39.4913 65.6023 39.4913 65.5586 39.4913C65.373 39.5131 65.1984 39.5731 65.0346 39.6659H50.8428C50.9629 39.3275 51.4104 38.1267 51.4104 35.4739C51.4104 32.8211 50.9629 31.6203 50.8428 31.2818ZM7.00094 42.4606H18.7474C20.5869 46.8601 24.0803 50.3589 28.4852 52.1984V63.9449C17.9068 61.3521 9.58822 53.0445 7.00094 42.4606ZM52.1965 42.4606H63.9866C61.3993 53.0608 53.0589 61.4013 42.4587 63.9885V52.2421C46.8581 50.3971 50.357 46.8656 52.1965 42.4606ZM64.5543 49.1417C65.1274 52.2366 65.0564 56.98 61.0172 61.0192C56.978 65.0584 52.2347 65.1293 49.1398 64.5562C55.9027 61.374 61.3666 55.8937 64.5543 49.1417ZM6.3896 49.1854C9.5773 55.9265 15.0521 61.3849 21.8041 64.5562C18.7092 65.1293 13.9659 65.0584 9.92664 61.0192C5.90926 57.0018 5.82738 52.2803 6.3896 49.1854ZM39.664 50.8447C39.5494 51.1559 39.5494 51.4943 39.664 51.8054V65.1239C39.5876 65.2876 39.5439 65.4678 39.533 65.6479C39.3801 65.7134 39.2328 65.8007 38.9653 65.8662C38.0647 66.0846 36.7656 66.2156 35.4719 66.2156C34.1783 66.2156 32.8792 66.0846 31.9786 65.8662C31.7329 65.8062 31.5965 65.7571 31.4546 65.6916C31.4491 65.4623 31.3891 65.2385 31.2799 65.0366V52.1984C31.5528 51.8163 31.6183 51.3251 31.4546 50.8884C31.9185 51.0467 33.0812 51.4124 35.4719 51.4124C38.1247 51.4124 39.3256 50.9648 39.664 50.8447Z" fill="#373A37" stroke="white" stroke-width="1.2" mask="url(#path-5-inside-1)" />
        </svg>

        <div class="c-item-01 mt-xs1-24px mb-xs1-8px">VitrA Destek</div>
        <div class="c-item-02 mb-xs1-16px">Farklı konularda ihtiyacınız olan desteği verebilmek için buradayız </div>
        <div class="c-item-04 mb-xs1-24px mt-xs1-24px">
            <div class="comp-micro-22">
                <div class="c-container-01">
                    <input type="text" placeholder="Destek İçeriklerinde Ara..." class="c-item-01" />
                </div>
            </div>
        </div>
    </section>

    <section class="comp-section-28">
        <div class="c-wrapper">
            <div class="c-container-01 mb-xs1-32px">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 19.5V5.25C3 5.05109 3.07902 4.86032 3.21967 4.71967C3.36032 4.57902 3.55109 4.5 3.75 4.5H20.25C20.4489 4.5 20.6397 4.57902 20.7803 4.71967C20.921 4.86032 21 5.05109 21 5.25V19.5L18 18L15 19.5L12 18L9 19.5L6 18L3 19.5Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M7.125 9.75H16.875" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M7.125 12.75H16.875" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Destek Talebi Oluştur
            </div>
            <div class="c-container-02">
                <a href="#" class="comp-micro-23">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/support02large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/support02large.png" />
                            <img src="/Content/Visuals/Temp/support02large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Bataryalar
                    </div>
                    <div class="c-container-03">
                    </div>
                </a>
                <a href="#" class="comp-micro-23">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/support01large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/support01large.png" />
                            <img src="/Content/Visuals/Temp/support01large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Klozetler
                    </div>
                    <div class="c-container-03">
                    </div>
                </a>

                <a href="#" class="comp-micro-23">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/support03large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/support03large.png" />
                            <img src="/Content/Visuals/Temp/support03large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Klozetler
                    </div>
                    <div class="c-container-03">
                    </div>
                </a>
                <a href="#" class="comp-micro-23">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/support04large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/support04large.png" />
                            <img src="/Content/Visuals/Temp/support04large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Vitrifiyeler
                    </div>
                    <div class="c-container-03">
                    </div>
                </a>
                <a href="#" class="comp-micro-23">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/support05large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/support05large.png" />
                            <img src="/Content/Visuals/Temp/support05large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Yıkanma Alanları
                    </div>
                    <div class="c-container-03">
                    </div>
                </a>

                <a href="#" class="comp-micro-23">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/support06large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/support06large.png" />
                            <img src="/Content/Visuals/Temp/support06large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Banyo Mobilyaları
                    </div>
                    <div class="c-container-03">
                    </div>
                </a>


                <a href="#" class="comp-micro-23">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/support07large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/support07large.png" />
                            <img src="/Content/Visuals/Temp/support07large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Aksesuarlar
                    </div>
                    <div class="c-container-03">
                    </div>
                </a>
                <a href="#" class="comp-micro-23">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/support08large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/support08large.png" />
                            <img src="/Content/Visuals/Temp/support08large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Ankastreler
                    </div>
                    <div class="c-container-03">
                    </div>
                </a>

                <a href="#" class="comp-micro-23">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/support09large.png" />
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/support09large.png" />
                            <img src="/Content/Visuals/Temp/support09large.png" alt="" />
                        </picture>
                    </div>
                    <div class="c-container-02">
                        Pisuvarlar
                    </div>
                    <div class="c-container-03">
                    </div>
                </a>
            </div>

        </div>
    </section>
    <section class="comp-section-29 mt-xs1-64px">
        <div class="c-wrapper">
            <div class="c-column-01">
                <div class="c-container-01">
                    <div class="c-item-01">Her Zaman Yanınızda</div>
                    <div class="c-item-02">
                        Size en iyi hizmeti verebilmek için bütün gücümüzle çalışıyoruz.

                        Öneri ve şikayetlerinizden, kargo bilgilerine, ürün hakkında sorularınızdan montaj detaylarına kadar sorularınıza cevap bulalım.
                    </div>
                    <div class="c-item-03">
                        <div class="c-item-03-A">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <mask id="path-1-inside-1" fill="white">
                                    <path d="M18.3332 2.66483C18.2007 2.66295 18.0691 2.68743 17.9461 2.73685C17.8232 2.78626 17.7112 2.85962 17.6169 2.95267C17.5225 3.04571 17.4476 3.15658 17.3964 3.27884C17.3453 3.4011 17.3189 3.5323 17.3189 3.66483C17.3189 3.79735 17.3453 3.92856 17.3964 4.05081C17.4476 4.17307 17.5225 4.28394 17.6169 4.37699C17.7112 4.47003 17.8232 4.54339 17.9461 4.59281C18.0691 4.64222 18.2007 4.6667 18.3332 4.66483C23.3154 4.66483 27.3332 8.68264 27.3332 13.6648C27.3313 13.7973 27.3558 13.9289 27.4052 14.0519C27.4546 14.1748 27.528 14.2868 27.621 14.3811C27.7141 14.4755 27.8249 14.5504 27.9472 14.6016C28.0694 14.6527 28.2006 14.6791 28.3332 14.6791C28.4657 14.6791 28.5969 14.6527 28.7192 14.6016C28.8414 14.5504 28.9523 14.4755 29.0453 14.3811C29.1384 14.2868 29.2117 14.1748 29.2611 14.0519C29.3106 13.9289 29.335 13.7973 29.3332 13.6648C29.3332 7.60168 24.3963 2.66483 18.3332 2.66483ZM9.36051 2.67394C8.92167 2.64202 8.47202 2.68687 8.03109 2.81717H8.02978L6.45296 3.28462C4.77133 3.78196 3.45739 5.11621 3.01286 6.80024C2.02581 10.5454 3.15495 14.9784 6.09359 19.9682C9.02809 24.9512 12.3718 28.1181 16.1483 29.1518C17.8489 29.6173 19.683 29.1726 20.9712 27.976L22.1717 26.8627C23.515 25.6155 23.7153 23.5381 22.63 22.062L20.8957 19.7065C19.966 18.4437 18.3271 17.9061 16.8201 18.3588L14.1066 19.1713C13.9927 19.2046 13.7201 19.0495 13.4829 18.8445L13.4816 18.8432C13.0591 18.4758 12.4737 17.7333 11.8475 16.6713V16.67C11.176 15.5296 10.8896 14.7837 10.7746 14.3432C10.6595 13.9025 10.6875 13.8489 10.7043 13.7C10.713 13.6257 10.7483 13.5568 10.8084 13.5021L10.8097 13.5008L12.8332 11.6505C13.9924 10.5907 14.3424 8.89717 13.6886 7.47212L12.4673 4.81066V4.80936C11.8929 3.55729 10.6767 2.76969 9.36051 2.67394ZM9.21598 4.66873C9.82811 4.71447 10.3918 5.08164 10.6496 5.64399L11.8696 8.30545C12.1652 8.94974 12.017 9.68701 11.4829 10.1752L9.46077 12.0242C9.04597 12.4024 8.7807 12.9181 8.71728 13.4747V13.476C8.70076 13.6224 8.66172 14.1668 8.83968 14.8484C9.01764 15.5301 9.38505 16.4317 10.1235 17.6857H10.1248C10.8139 18.8543 11.4651 19.7422 12.1704 20.3549H12.1717C12.4008 20.5532 13.3607 21.4732 14.6665 21.0919L14.6704 21.0906L17.3957 20.2742C18.1033 20.0616 18.86 20.3155 19.285 20.8927L21.0194 23.2482C21.5105 23.9173 21.4247 24.8268 20.811 25.3966L19.6105 26.5112C18.8427 27.2247 17.7026 27.5032 16.6756 27.2221C13.6227 26.3865 10.6017 23.6816 7.81754 18.9539C5.02951 14.2197 4.1575 10.3042 4.94645 7.31066C5.20725 6.32269 6.0063 5.50258 7.02067 5.20259L8.59749 4.73514C8.8029 4.67444 9.01194 4.65349 9.21598 4.66873ZM18.3332 6.66483C18.2007 6.66295 18.0691 6.68743 17.9461 6.73685C17.8232 6.78626 17.7112 6.85962 17.6169 6.95267C17.5225 7.04571 17.4476 7.15658 17.3964 7.27884C17.3453 7.4011 17.3189 7.5323 17.3189 7.66483C17.3189 7.79735 17.3453 7.92856 17.3964 8.05081C17.4476 8.17307 17.5225 8.28394 17.6169 8.37699C17.7112 8.47003 17.8232 8.54339 17.9461 8.59281C18.0691 8.64222 18.2007 8.6667 18.3332 8.66483C21.1068 8.66483 23.3332 10.8912 23.3332 13.6648C23.3313 13.7973 23.3558 13.9289 23.4052 14.0519C23.4546 14.1748 23.528 14.2868 23.621 14.3811C23.7141 14.4755 23.8249 14.5504 23.9472 14.6016C24.0694 14.6527 24.2006 14.6791 24.3332 14.6791C24.4657 14.6791 24.5969 14.6527 24.7192 14.6016C24.8414 14.5504 24.9523 14.4755 25.0453 14.3811C25.1384 14.2868 25.2117 14.1748 25.2611 14.0519C25.3106 13.9289 25.335 13.7973 25.3332 13.6648C25.3332 9.81049 22.1875 6.66483 18.3332 6.66483ZM18.3332 10.6648C18.2007 10.663 18.0691 10.6874 17.9461 10.7368C17.8232 10.7863 17.7112 10.8596 17.6169 10.9527C17.5225 11.0457 17.4476 11.1566 17.3964 11.2788C17.3453 11.4011 17.3189 11.5323 17.3189 11.6648C17.3189 11.7974 17.3453 11.9286 17.3964 12.0508C17.4476 12.1731 17.5225 12.2839 17.6169 12.377C17.7112 12.47 17.8232 12.5434 17.9461 12.5928C18.0691 12.6422 18.2007 12.6667 18.3332 12.6648C18.8975 12.6648 19.3332 13.1005 19.3332 13.6648C19.3313 13.7973 19.3558 13.9289 19.4052 14.0519C19.4546 14.1748 19.528 14.2868 19.621 14.3811C19.7141 14.4755 19.8249 14.5504 19.9472 14.6016C20.0694 14.6527 20.2006 14.6791 20.3332 14.6791C20.4657 14.6791 20.5969 14.6527 20.7192 14.6016C20.8414 14.5504 20.9523 14.4755 21.0453 14.3811C21.1384 14.2868 21.2117 14.1748 21.2611 14.0519C21.3106 13.9289 21.335 13.7973 21.3332 13.6648C21.3332 12.0198 19.9782 10.6648 18.3332 10.6648Z" />
                                </mask>
                                <path d="M18.3332 2.66483C18.2007 2.66295 18.0691 2.68743 17.9461 2.73685C17.8232 2.78626 17.7112 2.85962 17.6169 2.95267C17.5225 3.04571 17.4476 3.15658 17.3964 3.27884C17.3453 3.4011 17.3189 3.5323 17.3189 3.66483C17.3189 3.79735 17.3453 3.92856 17.3964 4.05081C17.4476 4.17307 17.5225 4.28394 17.6169 4.37699C17.7112 4.47003 17.8232 4.54339 17.9461 4.59281C18.0691 4.64222 18.2007 4.6667 18.3332 4.66483C23.3154 4.66483 27.3332 8.68264 27.3332 13.6648C27.3313 13.7973 27.3558 13.9289 27.4052 14.0519C27.4546 14.1748 27.528 14.2868 27.621 14.3811C27.7141 14.4755 27.8249 14.5504 27.9472 14.6016C28.0694 14.6527 28.2006 14.6791 28.3332 14.6791C28.4657 14.6791 28.5969 14.6527 28.7192 14.6016C28.8414 14.5504 28.9523 14.4755 29.0453 14.3811C29.1384 14.2868 29.2117 14.1748 29.2611 14.0519C29.3106 13.9289 29.335 13.7973 29.3332 13.6648C29.3332 7.60168 24.3963 2.66483 18.3332 2.66483ZM9.36051 2.67394C8.92167 2.64202 8.47202 2.68687 8.03109 2.81717H8.02978L6.45296 3.28462C4.77133 3.78196 3.45739 5.11621 3.01286 6.80024C2.02581 10.5454 3.15495 14.9784 6.09359 19.9682C9.02809 24.9512 12.3718 28.1181 16.1483 29.1518C17.8489 29.6173 19.683 29.1726 20.9712 27.976L22.1717 26.8627C23.515 25.6155 23.7153 23.5381 22.63 22.062L20.8957 19.7065C19.966 18.4437 18.3271 17.9061 16.8201 18.3588L14.1066 19.1713C13.9927 19.2046 13.7201 19.0495 13.4829 18.8445L13.4816 18.8432C13.0591 18.4758 12.4737 17.7333 11.8475 16.6713V16.67C11.176 15.5296 10.8896 14.7837 10.7746 14.3432C10.6595 13.9025 10.6875 13.8489 10.7043 13.7C10.713 13.6257 10.7483 13.5568 10.8084 13.5021L10.8097 13.5008L12.8332 11.6505C13.9924 10.5907 14.3424 8.89717 13.6886 7.47212L12.4673 4.81066V4.80936C11.8929 3.55729 10.6767 2.76969 9.36051 2.67394ZM9.21598 4.66873C9.82811 4.71447 10.3918 5.08164 10.6496 5.64399L11.8696 8.30545C12.1652 8.94974 12.017 9.68701 11.4829 10.1752L9.46077 12.0242C9.04597 12.4024 8.7807 12.9181 8.71728 13.4747V13.476C8.70076 13.6224 8.66172 14.1668 8.83968 14.8484C9.01764 15.5301 9.38505 16.4317 10.1235 17.6857H10.1248C10.8139 18.8543 11.4651 19.7422 12.1704 20.3549H12.1717C12.4008 20.5532 13.3607 21.4732 14.6665 21.0919L14.6704 21.0906L17.3957 20.2742C18.1033 20.0616 18.86 20.3155 19.285 20.8927L21.0194 23.2482C21.5105 23.9173 21.4247 24.8268 20.811 25.3966L19.6105 26.5112C18.8427 27.2247 17.7026 27.5032 16.6756 27.2221C13.6227 26.3865 10.6017 23.6816 7.81754 18.9539C5.02951 14.2197 4.1575 10.3042 4.94645 7.31066C5.20725 6.32269 6.0063 5.50258 7.02067 5.20259L8.59749 4.73514C8.8029 4.67444 9.01194 4.65349 9.21598 4.66873ZM18.3332 6.66483C18.2007 6.66295 18.0691 6.68743 17.9461 6.73685C17.8232 6.78626 17.7112 6.85962 17.6169 6.95267C17.5225 7.04571 17.4476 7.15658 17.3964 7.27884C17.3453 7.4011 17.3189 7.5323 17.3189 7.66483C17.3189 7.79735 17.3453 7.92856 17.3964 8.05081C17.4476 8.17307 17.5225 8.28394 17.6169 8.37699C17.7112 8.47003 17.8232 8.54339 17.9461 8.59281C18.0691 8.64222 18.2007 8.6667 18.3332 8.66483C21.1068 8.66483 23.3332 10.8912 23.3332 13.6648C23.3313 13.7973 23.3558 13.9289 23.4052 14.0519C23.4546 14.1748 23.528 14.2868 23.621 14.3811C23.7141 14.4755 23.8249 14.5504 23.9472 14.6016C24.0694 14.6527 24.2006 14.6791 24.3332 14.6791C24.4657 14.6791 24.5969 14.6527 24.7192 14.6016C24.8414 14.5504 24.9523 14.4755 25.0453 14.3811C25.1384 14.2868 25.2117 14.1748 25.2611 14.0519C25.3106 13.9289 25.335 13.7973 25.3332 13.6648C25.3332 9.81049 22.1875 6.66483 18.3332 6.66483ZM18.3332 10.6648C18.2007 10.663 18.0691 10.6874 17.9461 10.7368C17.8232 10.7863 17.7112 10.8596 17.6169 10.9527C17.5225 11.0457 17.4476 11.1566 17.3964 11.2788C17.3453 11.4011 17.3189 11.5323 17.3189 11.6648C17.3189 11.7974 17.3453 11.9286 17.3964 12.0508C17.4476 12.1731 17.5225 12.2839 17.6169 12.377C17.7112 12.47 17.8232 12.5434 17.9461 12.5928C18.0691 12.6422 18.2007 12.6667 18.3332 12.6648C18.8975 12.6648 19.3332 13.1005 19.3332 13.6648C19.3313 13.7973 19.3558 13.9289 19.4052 14.0519C19.4546 14.1748 19.528 14.2868 19.621 14.3811C19.7141 14.4755 19.8249 14.5504 19.9472 14.6016C20.0694 14.6527 20.2006 14.6791 20.3332 14.6791C20.4657 14.6791 20.5969 14.6527 20.7192 14.6016C20.8414 14.5504 20.9523 14.4755 21.0453 14.3811C21.1384 14.2868 21.2117 14.1748 21.2611 14.0519C21.3106 13.9289 21.335 13.7973 21.3332 13.6648C21.3332 12.0198 19.9782 10.6648 18.3332 10.6648Z" fill="#373A37" stroke="white" stroke-width="0.6" mask="url(#path-1-inside-1)" />
                            </svg>
                        </div>
                        <div class="c-item-03-B">
                            <div class="c-unit-01">Ara: 0850 311 70 70</div>
                            <div class="c-unit-02">Pazartesi - Cuma | 09:00 - 18:00 <span>Online</span></div>
                        </div>
                    </div>
                    <div class="c-item-03">
                        <div class="c-item-03-A">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.26485 24.2224H5.26362L5.2242 24.251C4.75113 24.5946 4.15139 24.5879 3.66284 24.3388C3.17429 24.0897 2.8165 23.6082 2.8165 23.0234V19V8.33333C2.8165 6.03488 4.70139 4.15 6.99984 4.15H19.6665C21.965 4.15 23.8498 6.03488 23.8498 8.33333V9.33333V9.48333H23.9998H24.9998C27.2983 9.48333 29.1832 11.3682 29.1832 13.6667V24.3333V28.3568C29.1832 28.9416 28.8254 29.4231 28.3368 29.6721C27.8483 29.9212 27.2485 29.9279 26.7755 29.5844L26.7361 29.5557H26.7348L20.7625 25.212L20.7231 25.1833H20.6743H12.3332C10.4641 25.1833 8.86754 23.9361 8.33706 22.2327L8.27484 22.0329L8.10561 22.156L5.26485 24.2224ZM10.9998 18.15H10.9998H19.6665C21.0494 18.15 22.1498 17.0496 22.1498 15.6667V8.33333C22.1498 6.95045 21.0494 5.85 19.6665 5.85H6.99984C5.61695 5.85 4.5165 6.95045 4.5165 8.33333V19V22.3698V22.6644L4.75473 22.4911L10.4995 18.3127L10.4995 18.3127C10.6449 18.2069 10.8201 18.15 10.9998 18.15ZM23.9998 11.1833H23.8498V11.3333V15.6667C23.8498 17.9651 21.965 19.85 19.6665 19.85H11.3254H11.2766L11.2372 19.8787L9.91164 20.8422L9.84984 20.8871V20.9635V21C9.84984 22.3829 10.9503 23.4833 12.3332 23.4833H20.9998C21.1796 23.4833 21.3548 23.5403 21.5001 23.646L21.5001 23.646L27.2449 27.8244L27.4832 27.9977V27.7031V24.3333V13.6667C27.4832 12.2838 26.3827 11.1833 24.9998 11.1833H23.9998Z" fill="#373A37" stroke="white" stroke-width="0.3" />
                            </svg>
                        </div>
                        <div class="c-item-03-B">
                            <div class="c-unit-01">Bizimle iletişim kur</div>
                            <div class="c-unit-02">Bizim için fikirleriniz her zaman önemlidir.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-column-02">
                <div class="c-container-01">
                    <div class="c-item-01">
                        <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.2595 3.88281L4.90238 5.48996L2.75952 8.70424V26.9185L7.58095 31.2042L11.8667 30.1328L13.4738 25.8471L15.6167 30.1328L19.9024 31.2042L24.7238 27.99L30.081 31.2042L35.4381 27.99L41.331 31.2042L45.6167 27.99L50.4381 31.2042L54.7238 30.1328L57.4024 27.99L58.4738 30.1328L64.3667 31.2042L67.581 26.9185V7.63281L62.7595 3.88281H10.2595Z" fill="#ECDECD" stroke="black" />
                            <mask id="path-2-inside-1" fill="white">
                                <path d="M8.65179 2.8125C4.79464 2.8125 1.6875 5.91964 1.6875 9.77679V25.8482C1.6875 29.7054 4.79464 32.8125 8.65179 32.8125C10.7946 32.8125 12.7232 31.8486 14.0089 30.2951C15.2946 31.8486 17.2232 32.8125 19.3661 32.8125C21.5089 32.8125 23.4375 31.8486 24.7232 30.2951C26.0089 31.8486 27.9375 32.8125 30.0804 32.8125C32.2232 32.8125 34.1518 31.8486 35.4375 30.2951C36.7232 31.8486 38.6518 32.8125 40.7946 32.8125C42.9375 32.8125 44.8661 31.8486 46.1518 30.2951C47.4375 31.8486 49.3661 32.8125 51.5089 32.8125C53.6518 32.8125 55.5804 31.8486 56.8661 30.2951C58.1518 31.8486 60.0804 32.8125 62.2232 32.8125C66.0804 32.8125 69.1875 29.7054 69.1875 25.8482V9.77679C69.1875 5.91964 66.0804 2.8125 62.2232 2.8125H8.65179ZM8.65179 6.02679H62.2232C64.3125 6.02679 65.9732 7.6875 65.9732 9.77679V25.8482C65.9732 27.9375 64.3125 29.5982 62.2232 29.5982C60.1339 29.5982 58.4732 27.9375 58.4732 25.8482V12.4554C58.4732 11.5446 57.7768 10.8482 56.8661 10.8482C55.9554 10.8482 55.2589 11.5446 55.2589 12.4554V25.8482C55.2589 27.9375 53.5982 29.5982 51.5089 29.5982C49.4196 29.5982 47.7589 27.9375 47.7589 25.8482V12.4554C47.7589 11.5446 47.0625 10.8482 46.1518 10.8482C45.2411 10.8482 44.5446 11.5446 44.5446 12.4554V25.8482C44.5446 27.9375 42.8839 29.5982 40.7946 29.5982C38.7054 29.5982 37.0446 27.9375 37.0446 25.8482V12.4554C37.0446 11.5446 36.3482 10.8482 35.4375 10.8482C34.5268 10.8482 33.8304 11.5446 33.8304 12.4554V25.8482C33.8304 27.9375 32.1696 29.5982 30.0804 29.5982C27.9911 29.5982 26.3304 27.9375 26.3304 25.8482V12.4554C26.3304 11.5446 25.6339 10.8482 24.7232 10.8482C23.8125 10.8482 23.1161 11.5446 23.1161 12.4554V25.8482C23.1161 27.9375 21.4554 29.5982 19.3661 29.5982C17.2768 29.5982 15.6161 27.9375 15.6161 25.8482V20.4911C15.6161 19.5804 14.9196 18.8839 14.0089 18.8839C13.0982 18.8839 12.4018 19.5804 12.4018 20.4911V25.8482C12.4018 27.9375 10.7411 29.5982 8.65179 29.5982C6.5625 29.5982 4.90179 27.9375 4.90179 25.8482V9.77679C4.90179 7.6875 6.5625 6.02679 8.65179 6.02679ZM14.0884 10.8712C13.9554 10.8645 13.8216 10.8748 13.6877 10.9016C13.5806 10.9016 13.4736 10.9558 13.3665 11.0093C13.2593 11.0629 13.2058 11.1159 13.0986 11.1694C12.9915 11.223 12.9377 11.2768 12.8841 11.3839C12.5627 11.5982 12.4018 12.0268 12.4018 12.4554C12.4018 12.5625 12.4016 12.6694 12.4551 12.7766C12.4551 12.8837 12.5093 12.9907 12.5629 13.0978C12.6165 13.2049 12.6694 13.3121 12.723 13.3657C12.7766 13.4728 12.8304 13.5266 12.9375 13.5801L13.152 13.7946C13.2591 13.8482 13.3127 13.9022 13.4199 13.9558C13.527 14.0093 13.6339 14.0089 13.7411 14.0625C13.8482 14.0625 13.9551 14.1159 14.0623 14.1159C14.4909 14.1159 14.9192 13.9549 15.1871 13.6335L15.4016 13.4201C15.4551 13.3129 15.5091 13.2593 15.5627 13.1522C15.6163 13.0451 15.6159 12.9371 15.6694 12.8299C15.6694 12.7228 15.7228 12.6159 15.7228 12.5087C15.7228 12.0801 15.5629 11.6518 15.2415 11.3839C14.8799 11.0625 14.4877 10.8913 14.0884 10.8712ZM8.65179 34.9554C7.74107 34.9554 7.04464 35.6518 7.04464 36.5625V49.9554C7.04464 50.8661 7.74107 51.5625 8.65179 51.5625C9.5625 51.5625 10.2589 50.8661 10.2589 49.9554V36.5625C10.2589 35.6518 9.5625 34.9554 8.65179 34.9554ZM62.2232 34.9554C61.3125 34.9554 60.6161 35.6518 60.6161 36.5625V45.1339C60.6161 46.0446 61.3125 46.7411 62.2232 46.7411C63.1339 46.7411 63.8304 46.0446 63.8304 45.1339V36.5625C63.8304 35.6518 63.1339 34.9554 62.2232 34.9554ZM17.2232 40.3125C16.3125 40.3125 15.6161 41.0089 15.6161 41.9196V55.3125C15.6161 56.2232 16.3125 56.9196 17.2232 56.9196C18.1339 56.9196 18.8304 56.2232 18.8304 55.3125V43.5268H26.3304V57.9911C26.3304 58.9018 27.0268 59.5982 27.9375 59.5982C28.8482 59.5982 29.5446 58.9018 29.5446 57.9911V41.9196C29.5446 41.0089 28.8482 40.3125 27.9375 40.3125H17.2232ZM38.6518 40.3125C37.7411 40.3125 37.0446 41.0089 37.0446 41.9196V52.6339C37.0446 53.5446 37.7411 54.2411 38.6518 54.2411H54.1875C55.0982 54.2411 55.7946 53.5446 55.7946 52.6339V41.9196C55.7946 41.0089 55.0982 40.3125 54.1875 40.3125H38.6518ZM40.2589 43.5268H52.5804V51.0268H40.2589V43.5268ZM60.1348 55.0185C59.3943 55.0353 58.7206 55.5806 58.5799 56.3306C58.4192 57.1877 59.0087 58.0448 59.8659 58.2056L63.5625 58.9014C45.5089 70.5264 21.6699 69.7764 4.31271 56.7585C3.61628 56.2228 2.5978 56.3843 2.06208 57.0808C1.52637 57.7772 1.68792 58.7946 2.38435 59.3304C12.1343 66.6696 23.8123 70.3125 35.4909 70.3125C45.8837 70.3125 56.2772 67.4192 65.3308 61.5799L64.6339 65.1698C64.4732 66.027 65.0627 66.8841 65.9199 67.0449C66.027 67.0449 66.1339 67.0982 66.2411 67.0982C66.9911 67.0982 67.6877 66.5623 67.7949 65.8123L69.1875 58.3657C69.2411 57.9371 69.1875 57.5089 68.9196 57.1875C68.6518 56.7589 68.2766 56.4909 67.9016 56.4373L60.4549 55.0446C60.3478 55.0246 60.2406 55.0161 60.1348 55.0185Z" />
                            </mask>
                            <path d="M8.65179 2.8125C4.79464 2.8125 1.6875 5.91964 1.6875 9.77679V25.8482C1.6875 29.7054 4.79464 32.8125 8.65179 32.8125C10.7946 32.8125 12.7232 31.8486 14.0089 30.2951C15.2946 31.8486 17.2232 32.8125 19.3661 32.8125C21.5089 32.8125 23.4375 31.8486 24.7232 30.2951C26.0089 31.8486 27.9375 32.8125 30.0804 32.8125C32.2232 32.8125 34.1518 31.8486 35.4375 30.2951C36.7232 31.8486 38.6518 32.8125 40.7946 32.8125C42.9375 32.8125 44.8661 31.8486 46.1518 30.2951C47.4375 31.8486 49.3661 32.8125 51.5089 32.8125C53.6518 32.8125 55.5804 31.8486 56.8661 30.2951C58.1518 31.8486 60.0804 32.8125 62.2232 32.8125C66.0804 32.8125 69.1875 29.7054 69.1875 25.8482V9.77679C69.1875 5.91964 66.0804 2.8125 62.2232 2.8125H8.65179ZM8.65179 6.02679H62.2232C64.3125 6.02679 65.9732 7.6875 65.9732 9.77679V25.8482C65.9732 27.9375 64.3125 29.5982 62.2232 29.5982C60.1339 29.5982 58.4732 27.9375 58.4732 25.8482V12.4554C58.4732 11.5446 57.7768 10.8482 56.8661 10.8482C55.9554 10.8482 55.2589 11.5446 55.2589 12.4554V25.8482C55.2589 27.9375 53.5982 29.5982 51.5089 29.5982C49.4196 29.5982 47.7589 27.9375 47.7589 25.8482V12.4554C47.7589 11.5446 47.0625 10.8482 46.1518 10.8482C45.2411 10.8482 44.5446 11.5446 44.5446 12.4554V25.8482C44.5446 27.9375 42.8839 29.5982 40.7946 29.5982C38.7054 29.5982 37.0446 27.9375 37.0446 25.8482V12.4554C37.0446 11.5446 36.3482 10.8482 35.4375 10.8482C34.5268 10.8482 33.8304 11.5446 33.8304 12.4554V25.8482C33.8304 27.9375 32.1696 29.5982 30.0804 29.5982C27.9911 29.5982 26.3304 27.9375 26.3304 25.8482V12.4554C26.3304 11.5446 25.6339 10.8482 24.7232 10.8482C23.8125 10.8482 23.1161 11.5446 23.1161 12.4554V25.8482C23.1161 27.9375 21.4554 29.5982 19.3661 29.5982C17.2768 29.5982 15.6161 27.9375 15.6161 25.8482V20.4911C15.6161 19.5804 14.9196 18.8839 14.0089 18.8839C13.0982 18.8839 12.4018 19.5804 12.4018 20.4911V25.8482C12.4018 27.9375 10.7411 29.5982 8.65179 29.5982C6.5625 29.5982 4.90179 27.9375 4.90179 25.8482V9.77679C4.90179 7.6875 6.5625 6.02679 8.65179 6.02679ZM14.0884 10.8712C13.9554 10.8645 13.8216 10.8748 13.6877 10.9016C13.5806 10.9016 13.4736 10.9558 13.3665 11.0093C13.2593 11.0629 13.2058 11.1159 13.0986 11.1694C12.9915 11.223 12.9377 11.2768 12.8841 11.3839C12.5627 11.5982 12.4018 12.0268 12.4018 12.4554C12.4018 12.5625 12.4016 12.6694 12.4551 12.7766C12.4551 12.8837 12.5093 12.9907 12.5629 13.0978C12.6165 13.2049 12.6694 13.3121 12.723 13.3657C12.7766 13.4728 12.8304 13.5266 12.9375 13.5801L13.152 13.7946C13.2591 13.8482 13.3127 13.9022 13.4199 13.9558C13.527 14.0093 13.6339 14.0089 13.7411 14.0625C13.8482 14.0625 13.9551 14.1159 14.0623 14.1159C14.4909 14.1159 14.9192 13.9549 15.1871 13.6335L15.4016 13.4201C15.4551 13.3129 15.5091 13.2593 15.5627 13.1522C15.6163 13.0451 15.6159 12.9371 15.6694 12.8299C15.6694 12.7228 15.7228 12.6159 15.7228 12.5087C15.7228 12.0801 15.5629 11.6518 15.2415 11.3839C14.8799 11.0625 14.4877 10.8913 14.0884 10.8712ZM8.65179 34.9554C7.74107 34.9554 7.04464 35.6518 7.04464 36.5625V49.9554C7.04464 50.8661 7.74107 51.5625 8.65179 51.5625C9.5625 51.5625 10.2589 50.8661 10.2589 49.9554V36.5625C10.2589 35.6518 9.5625 34.9554 8.65179 34.9554ZM62.2232 34.9554C61.3125 34.9554 60.6161 35.6518 60.6161 36.5625V45.1339C60.6161 46.0446 61.3125 46.7411 62.2232 46.7411C63.1339 46.7411 63.8304 46.0446 63.8304 45.1339V36.5625C63.8304 35.6518 63.1339 34.9554 62.2232 34.9554ZM17.2232 40.3125C16.3125 40.3125 15.6161 41.0089 15.6161 41.9196V55.3125C15.6161 56.2232 16.3125 56.9196 17.2232 56.9196C18.1339 56.9196 18.8304 56.2232 18.8304 55.3125V43.5268H26.3304V57.9911C26.3304 58.9018 27.0268 59.5982 27.9375 59.5982C28.8482 59.5982 29.5446 58.9018 29.5446 57.9911V41.9196C29.5446 41.0089 28.8482 40.3125 27.9375 40.3125H17.2232ZM38.6518 40.3125C37.7411 40.3125 37.0446 41.0089 37.0446 41.9196V52.6339C37.0446 53.5446 37.7411 54.2411 38.6518 54.2411H54.1875C55.0982 54.2411 55.7946 53.5446 55.7946 52.6339V41.9196C55.7946 41.0089 55.0982 40.3125 54.1875 40.3125H38.6518ZM40.2589 43.5268H52.5804V51.0268H40.2589V43.5268ZM60.1348 55.0185C59.3943 55.0353 58.7206 55.5806 58.5799 56.3306C58.4192 57.1877 59.0087 58.0448 59.8659 58.2056L63.5625 58.9014C45.5089 70.5264 21.6699 69.7764 4.31271 56.7585C3.61628 56.2228 2.5978 56.3843 2.06208 57.0808C1.52637 57.7772 1.68792 58.7946 2.38435 59.3304C12.1343 66.6696 23.8123 70.3125 35.4909 70.3125C45.8837 70.3125 56.2772 67.4192 65.3308 61.5799L64.6339 65.1698C64.4732 66.027 65.0627 66.8841 65.9199 67.0449C66.027 67.0449 66.1339 67.0982 66.2411 67.0982C66.9911 67.0982 67.6877 66.5623 67.7949 65.8123L69.1875 58.3657C69.2411 57.9371 69.1875 57.5089 68.9196 57.1875C68.6518 56.7589 68.2766 56.4909 67.9016 56.4373L60.4549 55.0446C60.3478 55.0246 60.2406 55.0161 60.1348 55.0185Z" fill="#373A37" stroke="white" stroke-width="1.4" mask="url(#path-2-inside-1)" />
                        </svg>
                    </div>
                    <div class="c-item-02">
                        Size Yakın VitrA Noktaları
                    </div>
                    <div class="c-item-03">
                        Seçtiğiniz konuma göre teşhir ürünün mağazalarımızdaki durumunu görebilirsiniz.
                    </div>
                    <div class="c-item-04">
                        <div class="comp-micro-22">
                            <div class="c-container-01">
                                <input type="text" placeholder="İl, ilçe, veya cadde ile ara..." class="c-item-01" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



@section beforeBodyEnd{
    <script src="~/Content/Scripts/Base/Felece.Common.jQuery.js"></script>
}

