
@{
    ViewBag.Title = "Index";
}



@section head{
}
<main>

    <section class="comp-breadcrumb-01 mb-xs1-24px">
        <div class="c-wrapper">
            <a href="#">Anasayfa</a>
            <a href="#">Destek</a>
        </div>
    </section>

    <section class="comp-section-18 mb-xs1-48px">
        <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.2593 3.88281L4.90213 5.48996L2.75928 8.70424V26.9185L7.58071 31.2042L11.8664 30.1328L13.4736 25.8471L15.6164 30.1328L19.9021 31.2042L24.7236 27.99L30.0807 31.2042L35.4379 27.99L41.3307 31.2042L45.6164 27.99L50.4379 31.2042L54.7236 30.1328L57.4021 27.99L58.4736 30.1328L64.3664 31.2042L67.5807 26.9185V7.63281L62.7593 3.88281H10.2593Z" fill="#ECDECD" stroke="black" />
            <mask id="path-2-inside-1" fill="white">
                <path d="M8.65179 2.8125C4.79464 2.8125 1.6875 5.91964 1.6875 9.77679V25.8482C1.6875 29.7054 4.79464 32.8125 8.65179 32.8125C10.7946 32.8125 12.7232 31.8486 14.0089 30.2951C15.2946 31.8486 17.2232 32.8125 19.3661 32.8125C21.5089 32.8125 23.4375 31.8486 24.7232 30.2951C26.0089 31.8486 27.9375 32.8125 30.0804 32.8125C32.2232 32.8125 34.1518 31.8486 35.4375 30.2951C36.7232 31.8486 38.6518 32.8125 40.7946 32.8125C42.9375 32.8125 44.8661 31.8486 46.1518 30.2951C47.4375 31.8486 49.3661 32.8125 51.5089 32.8125C53.6518 32.8125 55.5804 31.8486 56.8661 30.2951C58.1518 31.8486 60.0804 32.8125 62.2232 32.8125C66.0804 32.8125 69.1875 29.7054 69.1875 25.8482V9.77679C69.1875 5.91964 66.0804 2.8125 62.2232 2.8125H8.65179ZM8.65179 6.02679H62.2232C64.3125 6.02679 65.9732 7.6875 65.9732 9.77679V25.8482C65.9732 27.9375 64.3125 29.5982 62.2232 29.5982C60.1339 29.5982 58.4732 27.9375 58.4732 25.8482V12.4554C58.4732 11.5446 57.7768 10.8482 56.8661 10.8482C55.9554 10.8482 55.2589 11.5446 55.2589 12.4554V25.8482C55.2589 27.9375 53.5982 29.5982 51.5089 29.5982C49.4196 29.5982 47.7589 27.9375 47.7589 25.8482V12.4554C47.7589 11.5446 47.0625 10.8482 46.1518 10.8482C45.2411 10.8482 44.5446 11.5446 44.5446 12.4554V25.8482C44.5446 27.9375 42.8839 29.5982 40.7946 29.5982C38.7054 29.5982 37.0446 27.9375 37.0446 25.8482V12.4554C37.0446 11.5446 36.3482 10.8482 35.4375 10.8482C34.5268 10.8482 33.8304 11.5446 33.8304 12.4554V25.8482C33.8304 27.9375 32.1696 29.5982 30.0804 29.5982C27.9911 29.5982 26.3304 27.9375 26.3304 25.8482V12.4554C26.3304 11.5446 25.6339 10.8482 24.7232 10.8482C23.8125 10.8482 23.1161 11.5446 23.1161 12.4554V25.8482C23.1161 27.9375 21.4554 29.5982 19.3661 29.5982C17.2768 29.5982 15.6161 27.9375 15.6161 25.8482V20.4911C15.6161 19.5804 14.9196 18.8839 14.0089 18.8839C13.0982 18.8839 12.4018 19.5804 12.4018 20.4911V25.8482C12.4018 27.9375 10.7411 29.5982 8.65179 29.5982C6.5625 29.5982 4.90179 27.9375 4.90179 25.8482V9.77679C4.90179 7.6875 6.5625 6.02679 8.65179 6.02679ZM14.0884 10.8712C13.9554 10.8645 13.8216 10.8748 13.6877 10.9016C13.5806 10.9016 13.4736 10.9558 13.3665 11.0093C13.2593 11.0629 13.2058 11.1159 13.0986 11.1694C12.9915 11.223 12.9377 11.2768 12.8841 11.3839C12.5627 11.5982 12.4018 12.0268 12.4018 12.4554C12.4018 12.5625 12.4016 12.6694 12.4551 12.7766C12.4551 12.8837 12.5093 12.9907 12.5629 13.0978C12.6165 13.2049 12.6694 13.3121 12.723 13.3657C12.7766 13.4728 12.8304 13.5266 12.9375 13.5801L13.152 13.7946C13.2591 13.8482 13.3127 13.9022 13.4199 13.9558C13.527 14.0093 13.6339 14.0089 13.7411 14.0625C13.8482 14.0625 13.9551 14.1159 14.0623 14.1159C14.4909 14.1159 14.9192 13.9549 15.1871 13.6335L15.4016 13.4201C15.4551 13.3129 15.5091 13.2593 15.5627 13.1522C15.6163 13.0451 15.6159 12.9371 15.6694 12.8299C15.6694 12.7228 15.7228 12.6159 15.7228 12.5087C15.7228 12.0801 15.5629 11.6518 15.2415 11.3839C14.8799 11.0625 14.4877 10.8913 14.0884 10.8712ZM8.65179 34.9554C7.74107 34.9554 7.04464 35.6518 7.04464 36.5625V49.9554C7.04464 50.8661 7.74107 51.5625 8.65179 51.5625C9.5625 51.5625 10.2589 50.8661 10.2589 49.9554V36.5625C10.2589 35.6518 9.5625 34.9554 8.65179 34.9554ZM62.2232 34.9554C61.3125 34.9554 60.6161 35.6518 60.6161 36.5625V45.1339C60.6161 46.0446 61.3125 46.7411 62.2232 46.7411C63.1339 46.7411 63.8304 46.0446 63.8304 45.1339V36.5625C63.8304 35.6518 63.1339 34.9554 62.2232 34.9554ZM17.2232 40.3125C16.3125 40.3125 15.6161 41.0089 15.6161 41.9196V55.3125C15.6161 56.2232 16.3125 56.9196 17.2232 56.9196C18.1339 56.9196 18.8304 56.2232 18.8304 55.3125V43.5268H26.3304V57.9911C26.3304 58.9018 27.0268 59.5982 27.9375 59.5982C28.8482 59.5982 29.5446 58.9018 29.5446 57.9911V41.9196C29.5446 41.0089 28.8482 40.3125 27.9375 40.3125H17.2232ZM38.6518 40.3125C37.7411 40.3125 37.0446 41.0089 37.0446 41.9196V52.6339C37.0446 53.5446 37.7411 54.2411 38.6518 54.2411H54.1875C55.0982 54.2411 55.7946 53.5446 55.7946 52.6339V41.9196C55.7946 41.0089 55.0982 40.3125 54.1875 40.3125H38.6518ZM40.2589 43.5268H52.5804V51.0268H40.2589V43.5268ZM60.1348 55.0185C59.3943 55.0353 58.7206 55.5806 58.5799 56.3306C58.4192 57.1877 59.0087 58.0448 59.8659 58.2056L63.5625 58.9014C45.5089 70.5264 21.6699 69.7764 4.31271 56.7585C3.61628 56.2228 2.5978 56.3843 2.06208 57.0808C1.52637 57.7772 1.68792 58.7946 2.38435 59.3304C12.1343 66.6696 23.8123 70.3125 35.4909 70.3125C45.8837 70.3125 56.2772 67.4192 65.3308 61.5799L64.6339 65.1698C64.4732 66.027 65.0627 66.8841 65.9199 67.0449C66.027 67.0449 66.1339 67.0982 66.2411 67.0982C66.9911 67.0982 67.6877 66.5623 67.7949 65.8123L69.1875 58.3657C69.2411 57.9371 69.1875 57.5089 68.9196 57.1875C68.6518 56.7589 68.2766 56.4909 67.9016 56.4373L60.4549 55.0446C60.3478 55.0246 60.2406 55.0161 60.1348 55.0185Z" />
            </mask>
            <path d="M8.65179 2.8125C4.79464 2.8125 1.6875 5.91964 1.6875 9.77679V25.8482C1.6875 29.7054 4.79464 32.8125 8.65179 32.8125C10.7946 32.8125 12.7232 31.8486 14.0089 30.2951C15.2946 31.8486 17.2232 32.8125 19.3661 32.8125C21.5089 32.8125 23.4375 31.8486 24.7232 30.2951C26.0089 31.8486 27.9375 32.8125 30.0804 32.8125C32.2232 32.8125 34.1518 31.8486 35.4375 30.2951C36.7232 31.8486 38.6518 32.8125 40.7946 32.8125C42.9375 32.8125 44.8661 31.8486 46.1518 30.2951C47.4375 31.8486 49.3661 32.8125 51.5089 32.8125C53.6518 32.8125 55.5804 31.8486 56.8661 30.2951C58.1518 31.8486 60.0804 32.8125 62.2232 32.8125C66.0804 32.8125 69.1875 29.7054 69.1875 25.8482V9.77679C69.1875 5.91964 66.0804 2.8125 62.2232 2.8125H8.65179ZM8.65179 6.02679H62.2232C64.3125 6.02679 65.9732 7.6875 65.9732 9.77679V25.8482C65.9732 27.9375 64.3125 29.5982 62.2232 29.5982C60.1339 29.5982 58.4732 27.9375 58.4732 25.8482V12.4554C58.4732 11.5446 57.7768 10.8482 56.8661 10.8482C55.9554 10.8482 55.2589 11.5446 55.2589 12.4554V25.8482C55.2589 27.9375 53.5982 29.5982 51.5089 29.5982C49.4196 29.5982 47.7589 27.9375 47.7589 25.8482V12.4554C47.7589 11.5446 47.0625 10.8482 46.1518 10.8482C45.2411 10.8482 44.5446 11.5446 44.5446 12.4554V25.8482C44.5446 27.9375 42.8839 29.5982 40.7946 29.5982C38.7054 29.5982 37.0446 27.9375 37.0446 25.8482V12.4554C37.0446 11.5446 36.3482 10.8482 35.4375 10.8482C34.5268 10.8482 33.8304 11.5446 33.8304 12.4554V25.8482C33.8304 27.9375 32.1696 29.5982 30.0804 29.5982C27.9911 29.5982 26.3304 27.9375 26.3304 25.8482V12.4554C26.3304 11.5446 25.6339 10.8482 24.7232 10.8482C23.8125 10.8482 23.1161 11.5446 23.1161 12.4554V25.8482C23.1161 27.9375 21.4554 29.5982 19.3661 29.5982C17.2768 29.5982 15.6161 27.9375 15.6161 25.8482V20.4911C15.6161 19.5804 14.9196 18.8839 14.0089 18.8839C13.0982 18.8839 12.4018 19.5804 12.4018 20.4911V25.8482C12.4018 27.9375 10.7411 29.5982 8.65179 29.5982C6.5625 29.5982 4.90179 27.9375 4.90179 25.8482V9.77679C4.90179 7.6875 6.5625 6.02679 8.65179 6.02679ZM14.0884 10.8712C13.9554 10.8645 13.8216 10.8748 13.6877 10.9016C13.5806 10.9016 13.4736 10.9558 13.3665 11.0093C13.2593 11.0629 13.2058 11.1159 13.0986 11.1694C12.9915 11.223 12.9377 11.2768 12.8841 11.3839C12.5627 11.5982 12.4018 12.0268 12.4018 12.4554C12.4018 12.5625 12.4016 12.6694 12.4551 12.7766C12.4551 12.8837 12.5093 12.9907 12.5629 13.0978C12.6165 13.2049 12.6694 13.3121 12.723 13.3657C12.7766 13.4728 12.8304 13.5266 12.9375 13.5801L13.152 13.7946C13.2591 13.8482 13.3127 13.9022 13.4199 13.9558C13.527 14.0093 13.6339 14.0089 13.7411 14.0625C13.8482 14.0625 13.9551 14.1159 14.0623 14.1159C14.4909 14.1159 14.9192 13.9549 15.1871 13.6335L15.4016 13.4201C15.4551 13.3129 15.5091 13.2593 15.5627 13.1522C15.6163 13.0451 15.6159 12.9371 15.6694 12.8299C15.6694 12.7228 15.7228 12.6159 15.7228 12.5087C15.7228 12.0801 15.5629 11.6518 15.2415 11.3839C14.8799 11.0625 14.4877 10.8913 14.0884 10.8712ZM8.65179 34.9554C7.74107 34.9554 7.04464 35.6518 7.04464 36.5625V49.9554C7.04464 50.8661 7.74107 51.5625 8.65179 51.5625C9.5625 51.5625 10.2589 50.8661 10.2589 49.9554V36.5625C10.2589 35.6518 9.5625 34.9554 8.65179 34.9554ZM62.2232 34.9554C61.3125 34.9554 60.6161 35.6518 60.6161 36.5625V45.1339C60.6161 46.0446 61.3125 46.7411 62.2232 46.7411C63.1339 46.7411 63.8304 46.0446 63.8304 45.1339V36.5625C63.8304 35.6518 63.1339 34.9554 62.2232 34.9554ZM17.2232 40.3125C16.3125 40.3125 15.6161 41.0089 15.6161 41.9196V55.3125C15.6161 56.2232 16.3125 56.9196 17.2232 56.9196C18.1339 56.9196 18.8304 56.2232 18.8304 55.3125V43.5268H26.3304V57.9911C26.3304 58.9018 27.0268 59.5982 27.9375 59.5982C28.8482 59.5982 29.5446 58.9018 29.5446 57.9911V41.9196C29.5446 41.0089 28.8482 40.3125 27.9375 40.3125H17.2232ZM38.6518 40.3125C37.7411 40.3125 37.0446 41.0089 37.0446 41.9196V52.6339C37.0446 53.5446 37.7411 54.2411 38.6518 54.2411H54.1875C55.0982 54.2411 55.7946 53.5446 55.7946 52.6339V41.9196C55.7946 41.0089 55.0982 40.3125 54.1875 40.3125H38.6518ZM40.2589 43.5268H52.5804V51.0268H40.2589V43.5268ZM60.1348 55.0185C59.3943 55.0353 58.7206 55.5806 58.5799 56.3306C58.4192 57.1877 59.0087 58.0448 59.8659 58.2056L63.5625 58.9014C45.5089 70.5264 21.6699 69.7764 4.31271 56.7585C3.61628 56.2228 2.5978 56.3843 2.06208 57.0808C1.52637 57.7772 1.68792 58.7946 2.38435 59.3304C12.1343 66.6696 23.8123 70.3125 35.4909 70.3125C45.8837 70.3125 56.2772 67.4192 65.3308 61.5799L64.6339 65.1698C64.4732 66.027 65.0627 66.8841 65.9199 67.0449C66.027 67.0449 66.1339 67.0982 66.2411 67.0982C66.9911 67.0982 67.6877 66.5623 67.7949 65.8123L69.1875 58.3657C69.2411 57.9371 69.1875 57.5089 68.9196 57.1875C68.6518 56.7589 68.2766 56.4909 67.9016 56.4373L60.4549 55.0446C60.3478 55.0246 60.2406 55.0161 60.1348 55.0185Z" fill="#373A37" stroke="white" stroke-width="1.4" mask="url(#path-2-inside-1)" />
        </svg>

        <div class="c-item-01 mt-xs1-24px mb-xs1-8px">
            Servisler &
            Satış Noktaları
        </div>
        <div class="c-item-02 mb-xs1-16px">Size en yakın VitrA yetkili servis ve satış noktalarımızı keşfedin </div>
        <div class="c-item-04 mb-xs1-24px mt-xs1-24px">
            <div class="comp-micro-22">
                <div class="c-container-01">
                    <input type="text" placeholder="Destek İçeriklerinde Ara..." class="c-item-01" />
                    <a href="#" class="c-item-02">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 24.25C20.5563 24.25 24.25 20.5563 24.25 16C24.25 11.4437 20.5563 7.75 16 7.75C11.4437 7.75 7.75 11.4437 7.75 16C7.75 20.5563 11.4437 24.25 16 24.25Z" stroke="#7D8285" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M16 5.875V9.625" stroke="#7D8285" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M5.875 16H9.625" stroke="#7D8285" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M16 26.125V22.375" stroke="#7D8285" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M26.125 16H22.375" stroke="#7D8285" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M16 19C17.6569 19 19 17.6569 19 16C19 14.3431 17.6569 13 16 13C14.3431 13 13 14.3431 13 16C13 17.6569 14.3431 19 16 19Z" stroke="#7D8285" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="comp-section-32 mt-xs1-64px mb-xs1-48px">
        <div class="c-wrapper">
            <div class="c-column-01">
                <div class="c-container-01">
                    <div class="c-item-01">Ürünlerimizi yakından inceleyip uzman ekibimizin yardımıyla satın alma kararı vermek isterseniz, satış noktalarımızdan birini ziyaret edebilirsiniz.</div>
                    <div class="c-item-02">
                        Size en iyi hizmeti verebilmek için bütün gücümüzle çalışıyoruz.
                        Öneri ve şikayetlerinizden, kargo bilgilerine, ürün hakkında sorularınızdan montaj detaylarına kadar sorularınıza cevap bulalım.
                    </div>
                </div>
            </div>
            <div class="c-column-02">
                <div class="c-container-01">
                    <div class="c-item-01">
                        VitrA Yetkili Servislerinin Avantajları
                    </div>
                    <div class="c-item-02">
                        Bataryalar, lavabolar, klozetler, vitrifiyeler, banyo mobilyaları gibi farklı gruplara ait ürünleriniz için yetkin VitrA ekibi doğrudan evinize gelerek muhtemel her türlü teknik sorunu ve hasarı analiz edecek ve tüm hataları yerinde düzeltecektir. Ayrıca gerekirse doğru yedek parçalarla birlikte gelecekler ve gelecekteki sorunları önlemek için uzmanlık, tavsiye ve destek sağlayacaklardır. 7/24 online veya telefonla destek kaydı oluşturabilirsiniz.
                    </div>
                    <div class="c-item-03">
                        • Yüksek Kaliteli Hizmet ve Onarım: VitrA, banyo ve mutfak ürünleri için koyduğu yüksek standartların tümünü müşteri hizmetleri için de uygular. Alanında uzman kişiler şirket tarafından istihdam edilir, eğitilir ve yönetilir.

                        • Ulaşılabilir Müşteri Hizmetleri: Müşteri hizmetleri kapsamlı noktalarda mevcuttur, böylece evinize yakın bir VitrA teknisyeni mutlaka bulunur.

                        • Kolay Destek Kaydı ve Hata Teşhisi: Telefonla veya VitrA web sitesi üzerinden online destek talebi oluşturma imkanı sunulur.

                        • Garanti Dışı ve Kapsamındaki Ürün Onarımları: Üretici garantisi kapsamındaki tüm ürünlerde tanımlandığı gibi onarımlar ücretsiz yapılır. Garanti süresi sona ermiş ürünler için de VitrA adil ve şeffaf onarım koşulları ve fiyatları sunar.
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



@section beforeBodyEnd{
    <script src="~/Content/Scripts/Base/Felece.Common.jQuery.js"></script>
}

