
@{
    ViewBag.Title = "Index";
}



@section head{
    <link href="/Content/Plugins/OwlCarousel/owl.carousel.min.css" rel="stylesheet" />
}
<main>

    <section class="comp-breadcrumb-01 mb-xs1-24px">
        <div class="c-wrapper">
            <a href="#">Anasayfa</a>
            <a href="#">Alışveriş Rehberi</a>
        </div>
    </section>

    <section class="comp-section-31">
        <div class="c-wrapper">
            <div class="c-column-01">
                <div class="c-container-01">
                    <div class="c-item-01">
                        <div class="c-item-01-B">Alışveriş Rehberi</div>
                    </div>
                    <div class="c-item-02">Bayataryalar konularda ihtiyacınız olan desteği verebilmek için buradayız</div>
                </div>
                <div class="c-container-03">
                    <a href="#" class="comp-micro-23 v2 on">
                        <div class="c-container-02">
                            Sık Sorulan Sorular
                        </div>
                        <div class="c-container-03">
                        </div>
                    </a>
                    <a href="#" class="comp-micro-23 v2">
                        <div class="c-container-02">
                            İşlem Rehberi
                        </div>
                        <div class="c-container-03">
                        </div>
                    </a>
                    <a href="#" class="comp-micro-23 v2">
                        <div class="c-container-02">
                            Ödeme
                        </div>
                        <div class="c-container-03">
                        </div>
                    </a>
                    <a href="#" class="comp-micro-23 v2">
                        <div class="c-container-02">
                            Teslimat
                        </div>
                        <div class="c-container-03">
                        </div>
                    </a>
                    <a href="#" class="comp-micro-23 v2">
                        <div class="c-container-02">
                            Değişim ve İade
                        </div>
                        <div class="c-container-03">
                        </div>
                    </a>
                    <a href="#" class="comp-micro-23 v2">
                        <div class="c-container-02">
                            Sipariş Takibi
                        </div>
                        <div class="c-container-03">
                        </div>
                    </a>
                </div>
            </div>
            <div class="c-column-03">
                <a href="#" class="c-container-02">
                </a>
                <div class="c-container-03">
                    İşlem Rehberi
                </div>
                <div class="c-container-04">
                    Evimizde iki tip batarya vardır. Birisi eviye (lavabo) bataryası bir diğeri ise duş bataryasıdır. Günümüzde bataryalarda arızalar sık sık karşımıza çıkabiliyor. Bunun sonucunda musluk su kaçırıyor ve suyumuz boşa akıyor. Ya da o bataryayı kapatıyoruz kullanamıyoruz. Peki bu bataryalar neden arıza yapar ve damlayan musluklar nasıl tamir edilir?

                    Evimizde bataryalar haricinde musluklarda su kaçırabilir arıza yapabilir bu nasıl olur ve biz bunu nasıl anlarız? Evimizdeki tekli musluklar sürekli aç kapa yapıldığı için göbeğinde sorunlar çıkabiliyor. Göbek gevşiyor ya da yalama oluyor. Bunun çözümü için musluğun göbeğini değiştirerek sorunu çözebilirsiniz. Ama göbeği değiştirmek yerine musluğu tamamen değiştirmek daha mantıklı ve daha garanti bir çözüm. Musluğunuzu tamamen değiştirdikten sonra bu sorunla uzunca bir süre daha kolay kolay karşılaşmazsınız. Tabi bu arada alacağınız muslukta kaliteli ve garantili olmasına dikkat edin.
                </div>
                <div id="owl-carousel-03" class="owl-carousel owl-theme  owl-theme slide-type-01 c-container-06 pb-md-64px mb-xs1-32px">
                    <div class="c-item-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/support10large.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/support10large.png">
                            <img src="/Content/Visuals/Temp/support10large.png" alt="">
                        </picture>
                    </div>
                    <div class="c-item-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/support10large.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/support10large.png">
                            <img src="/Content/Visuals/Temp/support10large.png" alt="">
                        </picture>
                    </div>
                    <div class="c-item-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/support10large.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/support10large.png">
                            <img src="/Content/Visuals/Temp/support10large.png" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>



</main>


@section beforeBodyEnd{
    <script src="~/Content/Scripts/Base/Felece.Common.jQuery.js"></script>
    <script src="~/Content/Plugins/OwlCarousel/owl.carousel.min.js"></script>
    <script src="~/Content/Scripts/Misc/Felece.Sliders.js"></script>
    <script src="~/Content/Scripts/Misc/Felece.Category.Base.js"></script>
}
