
@{
    ViewBag.Title = "Index";
}



@section head{
}
<main>

    <section class="comp-breadcrumb-01 mb-xs1-24px">
        <div class="c-wrapper">
            <a href="#">Anasayfa</a>
            <a href="#">Destek</a>
        </div>
    </section>

    <section class="comp-section-18 mb-md-48px">
        <div class="c-item-01">
            Kullanım Rehberleri
        </div>
        <div class="c-item-02 mt-md-16px w-md-580px">VitrA ailesi olarak ürünlerimizden en iyi şekilde yararlanabilmeniz için kullanışlı ipuçları ve tavsiyeler sunan bir dizi faydalı video hazırladık.</div>
    </section>

    <section class="comp-section-33 mt-md-64px mb-md-48px">
        <div class="c-wrapper">
            <div class="c-container-01">
                <a href="#" class="comp-micro-25">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/usagelarge01.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/usagelarge01.png">
                            <img src="/Content/Visuals/Temp/usagelarge01.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
VitrA -  Banyo Temizliği İçin Uzman Tavsiyeleri
                    </div>
                    <div class="c-container-03">
                        02:34
                    </div>
                </a>
                <a href="#" class="comp-micro-25">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/usagelarge01.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/usagelarge01.png">
                            <img src="/Content/Visuals/Temp/usagelarge01.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
VitrA -  Banyo Temizliği İçin Uzman Tavsiyeleri
                    </div>
                    <div class="c-container-03">
                        02:34
                    </div>
                </a>
                <a href="#" class="comp-micro-25">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/usagelarge01.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/usagelarge01.png">
                            <img src="/Content/Visuals/Temp/usagelarge01.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
VitrA -  Banyo Temizliği İçin Uzman Tavsiyeleri
                    </div>
                    <div class="c-container-03">
                        02:34
                    </div>
                </a>
                <a href="#" class="comp-micro-25">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/usagelarge01.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/usagelarge01.png">
                            <img src="/Content/Visuals/Temp/usagelarge01.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
VitrA -  Banyo Temizliği İçin Uzman Tavsiyeleri
                    </div>
                    <div class="c-container-03">
                        02:34
                    </div>
                </a>
                <a href="#" class="comp-micro-25">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/usagelarge01.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/usagelarge01.png">
                            <img src="/Content/Visuals/Temp/usagelarge01.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
VitrA -  Banyo Temizliği İçin Uzman Tavsiyeleri
                    </div>
                    <div class="c-container-03">
                        02:34
                    </div>
                </a>
                <a href="#" class="comp-micro-25">
                    <div class="c-container-01">
                        <picture>
                            <source media="(max-width: 465px)" srcset="/Content/Visuals/Temp/usagelarge01.png">
                            <source media="(min-width: 466)" srcset="/Content/Visuals/Temp/usagelarge01.png">
                            <img src="/Content/Visuals/Temp/usagelarge01.png" alt="">
                        </picture>
                    </div>
                    <div class="c-container-02">
VitrA -  Banyo Temizliği İçin Uzman Tavsiyeleri
                    </div>
                    <div class="c-container-03">
                        02:34
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>



@section beforeBodyEnd{
    <script src="~/Content/Scripts/Base/Felece.Common.jQuery.js"></script>
}

