/* Common XS1 and XS2 */
@media all and (max-width: 767px) {
  .comp-checkout-02 {
    display: flex;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E4E6E8;
    border-radius: 8px;
    margin-bottom: 24px; }
    .comp-checkout-02 > .c-container-01 {
      padding-top: 4px; }
    .comp-checkout-02 > .c-container-02 {
      width: 100%;
      padding: 16px 20px 16px 5px; }
      .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-A > .c-unit-02 {
        margin-top: 2px; }
      .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-B {
        margin: 4px 0 19px 0; }
      .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-C {
        display: flex;
        align-items: center; }
        .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-C > .c-unit-01 {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 15px;
          width: 44px;
          height: 40px;
          background: #8C382E;
          border-radius: 2px; }
        .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-C > .c-unit-02 > .c-unit-02-A {
          margin-bottom: 2px; }
      .comp-checkout-02 > .c-container-02 > .c-item-02 {
        display: flex;
        margin-top: 16px; }
        .comp-checkout-02 > .c-container-02 > .c-item-02 > .c-item-02-A {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 171px;
          height: 44px;
          margin-right: 11px;
          background: #F4ECEB;
          border-radius: 6px; }
        .comp-checkout-02 > .c-container-02 > .c-item-02 > .c-item-02-B {
          width: 44px;
          height: 44px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #FBFBFB;
          mix-blend-mode: normal;
          border: 1px solid #E4E6E8;
          border-radius: 4px;
          background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M24.2498%209.25L7.74976%209.25001%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3Cpath%20d%3D%22M13.75%2013.75V19.75%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3Cpath%20d%3D%22M18.25%2013.75V19.75%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3Cpath%20d%3D%22M22.7498%209.25V23.5C22.7498%2023.6989%2022.6707%2023.8897%2022.5301%2024.0303C22.3894%2024.171%2022.1987%2024.25%2021.9998%2024.25H9.99976C9.80084%2024.25%209.61008%2024.171%209.46943%2024.0303C9.32877%2023.8897%209.24976%2023.6989%209.24976%2023.5V9.25%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3Cpath%20d%3D%22M19.75%209.25V7.75C19.75%207.35218%2019.592%206.97064%2019.3107%206.68934C19.0294%206.40804%2018.6478%206.25%2018.25%206.25H13.75C13.3522%206.25%2012.9706%206.40804%2012.6893%206.68934C12.408%206.97064%2012.25%207.35218%2012.25%207.75V9.25%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E%20");
          background-repeat: no-repeat;
          background-position: center; }

  .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-A > .c-unit-01 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #373A37; }
  .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-A > .c-unit-02 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #373A37; }
  .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-B {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #7D8285; }
  .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-C > .c-unit-01 {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF; }
  .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-C > .c-unit-02 > .c-unit-02-A {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: #7D8285; }
  .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-C > .c-unit-02 > .c-unit-02-B {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #373A37; }
  .comp-checkout-02 > .c-container-02 > .c-item-02 > .c-item-02-A {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #A1413D; } }
/* XS1 */
/* XS2 */
/* Common SM1 and SM2 */
/* SM1 */
/* SM2 */
/* Common MD and LG */
@media all and (min-width: 1296px) {
  .comp-checkout-02 {
    display: flex;
    width: 856px;
    background: #FFFFFF;
    border: 1px solid #E4E6E8;
    border-radius: 8px;
    margin-bottom: 24px; }
    .comp-checkout-02 > .c-container-01 {
      padding-top: 4px; }
    .comp-checkout-02 > .c-container-02 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 36px 24px 36px 27px; }
      .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-A > .c-unit-02 {
        margin-top: 2px; }
      .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-B {
        margin: 4px 0 19px 0; }
      .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-C {
        display: flex;
        align-items: center; }
        .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-C > .c-unit-01 {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 15px;
          width: 44px;
          height: 40px;
          background: #8C382E;
          border-radius: 2px; }
        .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-C > .c-unit-02 > .c-unit-02-A {
          margin-bottom: 2px; }
      .comp-checkout-02 > .c-container-02 > .c-item-02 {
        display: flex; }
        .comp-checkout-02 > .c-container-02 > .c-item-02 > .c-item-02-A {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 171px;
          height: 44px;
          margin-right: 11px;
          background: #F4ECEB;
          border-radius: 6px; }
        .comp-checkout-02 > .c-container-02 > .c-item-02 > .c-item-02-B {
          width: 44px;
          height: 44px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #FBFBFB;
          mix-blend-mode: normal;
          border: 1px solid #E4E6E8;
          border-radius: 4px;
          background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M24.2498%209.25L7.74976%209.25001%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3Cpath%20d%3D%22M13.75%2013.75V19.75%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3Cpath%20d%3D%22M18.25%2013.75V19.75%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3Cpath%20d%3D%22M22.7498%209.25V23.5C22.7498%2023.6989%2022.6707%2023.8897%2022.5301%2024.0303C22.3894%2024.171%2022.1987%2024.25%2021.9998%2024.25H9.99976C9.80084%2024.25%209.61008%2024.171%209.46943%2024.0303C9.32877%2023.8897%209.24976%2023.6989%209.24976%2023.5V9.25%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3Cpath%20d%3D%22M19.75%209.25V7.75C19.75%207.35218%2019.592%206.97064%2019.3107%206.68934C19.0294%206.40804%2018.6478%206.25%2018.25%206.25H13.75C13.3522%206.25%2012.9706%206.40804%2012.6893%206.68934C12.408%206.97064%2012.25%207.35218%2012.25%207.75V9.25%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E%20");
          background-repeat: no-repeat;
          background-position: center; }

  .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-A > .c-unit-01 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #373A37; }
  .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-A > .c-unit-02 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #373A37; }
  .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-B {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #7D8285; }
  .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-C > .c-unit-01 {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF; }
  .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-C > .c-unit-02 > .c-unit-02-A {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: #7D8285; }
  .comp-checkout-02 > .c-container-02 > .c-item-01 > .c-item-01-C > .c-unit-02 > .c-unit-02-B {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #373A37; }
  .comp-checkout-02 > .c-container-02 > .c-item-02 > .c-item-02-A {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #A1413D; } }
/* MD */
/* LG */

/*# sourceMappingURL=02.css.map */
