/* Common XS1 and XS2 */
@media all and (max-width: 767px) {
  .comp-checkout-03 {
    display: flex;
    width: 358px;
    background: #FFFFFF; }
    .comp-checkout-03 > .c-container-01 {
      padding-top: 4px;
      margin-right: 5px; }
    .comp-checkout-03 > .c-container-02 > .c-item-01-A > .c-unit-02 {
      margin-top: 2px; }
    .comp-checkout-03 > .c-container-02 > .c-item-01-B {
      display: flex;
      align-items: center; }
      .comp-checkout-03 > .c-container-02 > .c-item-01-B > .c-unit-01 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 19px;
        width: 46px;
        height: 48px;
        background-color: rgba(140, 56, 46, 0.1);
        border-radius: 2px;
        border: 1px solid #A1413D; }
      .comp-checkout-03 > .c-container-02 > .c-item-01-B > .c-unit-02 > .c-unit-02-A {
        margin-bottom: 2px; }
    .comp-checkout-03 > .c-container-02 > .c-item-01-C {
      width: 124px;
      height: 44px;
      padding: 6px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #FFFFFF;
      border: 1px solid #E4E6E8;
      box-sizing: border-box;
      border-radius: 4px;
      margin-top: 16px; }
      .comp-checkout-03 > .c-container-02 > .c-item-01-C > .c-unit-01 {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M8%2016H24%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E%20");
        background-repeat: no-repeat;
        background-position: center; }
      .comp-checkout-03 > .c-container-02 > .c-item-01-C > .c-unit-02 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px; }
      .comp-checkout-03 > .c-container-02 > .c-item-01-C > .c-unit-03 {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M16%208V24%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%2F%3E%20%3Cpath%20d%3D%22M8%2016H24%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%2F%3E%20%3C%2Fsvg%3E%20");
        background-repeat: no-repeat;
        background-position: center; }
    .comp-checkout-03 > .c-container-02 > .c-item-01-D {
      margin: 4px 0 16px 0; }
    .comp-checkout-03 > .c-container-03 {
      display: none;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 32px;
      height: 32px;
      background: #63A87B;
      border-top-left-radius: 8px; }
      .comp-checkout-03 > .c-container-03:after {
        content: "";
        position: absolute;
        width: 18px;
        height: 12px;
        display: block;
        top: 10.5px;
        left: 8.5px;
        background: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2212%22%20viewBox%3D%220%200%2018%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M17.25%200.75L6.75%2011.2495L1.5%206%22%20stroke%3D%22white%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E%20");
        background-repeat: no-repeat; }
    .comp-checkout-03.v2 {
      width: 100%;
      padding: 16px 0 20px 0;
      border: 1px solid #E4E6E8;
      border-radius: 6px;
      transition: all .2s; }
      .comp-checkout-03.v2.on {
        border: 1.5px solid #63A87B; }
        .comp-checkout-03.v2.on > .c-container-03 {
          display: flex; }

  .comp-checkout-03 > .c-container-02 > .c-item-01-A > .c-unit-01 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #373A37; }
  .comp-checkout-03 > .c-container-02 > .c-item-01-A > .c-unit-02 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #373A37; }
  .comp-checkout-03 > .c-container-02 > .c-item-01-B > .c-unit-01 {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #A1413D; }
  .comp-checkout-03 > .c-container-02 > .c-item-01-B > .c-unit-02 > .c-unit-02-A {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: #7D8285; }
  .comp-checkout-03 > .c-container-02 > .c-item-01-B > .c-unit-02 > .c-unit-02-B {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #373A37; }
  .comp-checkout-03 > .c-container-02 > .c-item-01-C > .c-unit-02 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #373A37; }
  .comp-checkout-03 > .c-container-02 > .c-item-01-D {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #7D8285; }
  .comp-checkout-03 > .c-container-02 > .c-item-01-E {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #373A37; } }
/* XS1 */
/* XS2 */
/* Common SM1 and SM2 */
/* SM1 */
/* SM2 */
/* Common MD and LG */
@media all and (min-width: 1296px) {
  .comp-checkout-03 {
    display: flex;
    width: 358px;
    background: #FFFFFF; }
    .comp-checkout-03 > .c-container-01 {
      padding-top: 4px;
      margin-right: 5px; }
    .comp-checkout-03 > .c-container-02 > .c-item-01-A > .c-unit-02 {
      margin-top: 2px; }
    .comp-checkout-03 > .c-container-02 > .c-item-01-B {
      display: flex;
      align-items: center; }
      .comp-checkout-03 > .c-container-02 > .c-item-01-B > .c-unit-01 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 19px;
        width: 46px;
        height: 48px;
        background-color: rgba(140, 56, 46, 0.1);
        border-radius: 2px;
        border: 1px solid #A1413D; }
      .comp-checkout-03 > .c-container-02 > .c-item-01-B > .c-unit-02 > .c-unit-02-A {
        margin-bottom: 2px; }
    .comp-checkout-03 > .c-container-02 > .c-item-01-C {
      width: 124px;
      height: 44px;
      padding: 6px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #FFFFFF;
      border: 1px solid #E4E6E8;
      box-sizing: border-box;
      border-radius: 4px;
      margin-top: 16px; }
      .comp-checkout-03 > .c-container-02 > .c-item-01-C > .c-unit-01 {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M8%2016H24%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E%20");
        background-repeat: no-repeat;
        background-position: center; }
      .comp-checkout-03 > .c-container-02 > .c-item-01-C > .c-unit-02 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px; }
      .comp-checkout-03 > .c-container-02 > .c-item-01-C > .c-unit-03 {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M16%208V24%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%2F%3E%20%3Cpath%20d%3D%22M8%2016H24%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%2F%3E%20%3C%2Fsvg%3E%20");
        background-repeat: no-repeat;
        background-position: center; }
    .comp-checkout-03 > .c-container-02 > .c-item-01-D {
      margin: 4px 0 16px 0; }
    .comp-checkout-03 > .c-container-03 {
      display: none;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 32px;
      height: 32px;
      background: #63A87B;
      border-top-left-radius: 8px; }
      .comp-checkout-03 > .c-container-03:after {
        content: "";
        position: absolute;
        width: 18px;
        height: 12px;
        display: block;
        top: 10.5px;
        left: 8.5px;
        background: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2212%22%20viewBox%3D%220%200%2018%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M17.25%200.75L6.75%2011.2495L1.5%206%22%20stroke%3D%22white%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E%20");
        background-repeat: no-repeat; }
    .comp-checkout-03.v2 {
      width: 100%;
      padding: 16px 0 20px 0;
      border: 1px solid #E4E6E8;
      border-radius: 6px;
      transition: all .2s; }
      .comp-checkout-03.v2.on {
        border: 1.5px solid #63A87B; }
        .comp-checkout-03.v2.on > .c-container-03 {
          display: flex; }

  .comp-checkout-03 > .c-container-02 > .c-item-01-A > .c-unit-01 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #373A37; }
  .comp-checkout-03 > .c-container-02 > .c-item-01-A > .c-unit-02 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #373A37; }
  .comp-checkout-03 > .c-container-02 > .c-item-01-B > .c-unit-01 {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #A1413D; }
  .comp-checkout-03 > .c-container-02 > .c-item-01-B > .c-unit-02 > .c-unit-02-A {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: #7D8285; }
  .comp-checkout-03 > .c-container-02 > .c-item-01-B > .c-unit-02 > .c-unit-02-B {
    font-family: Palanquin;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #373A37; }
  .comp-checkout-03 > .c-container-02 > .c-item-01-C > .c-unit-02 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #373A37; }
  .comp-checkout-03 > .c-container-02 > .c-item-01-D {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #7D8285; }
  .comp-checkout-03 > .c-container-02 > .c-item-01-E {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #373A37; } }
/* MD */
/* LG */

/*# sourceMappingURL=03.css.map */
