
@{
    ViewBag.Title = "Index";
}




@section head{
    <link href="/Content/Plugins/OwlCarousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/Content/Plugins/OwlCarousel/owl.carousel.min.css" rel="stylesheet" />
}
<main data-body-class="no-footer no-header">
    <div class="comp-header-02 mb-xs1-24px">
        <div class="c-wrapper">
            <div class="c-column-01">

                <div class="c-container-01">
                    <svg width="116" height="32" viewBox="0 0 116 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M70.5713 30.9734C70.5615 30.8768 70.0835 13.6572 70.0835 13.6572C70.3805 12.2771 71.1403 11.6768 71.9801 11.2957L77.4185 9.07086C78.4541 8.65182 79.5785 10.2288 78.3912 11.0448C77.2961 11.7977 74.5812 12.8467 73.4015 17.6199C73.2121 18.515 72.9749 28.8927 72.8841 30.972C71.6669 32.1987 70.5713 30.9734 70.5713 30.9734Z" fill="#373A37" />
                        <path d="M35.5387 3.43736C36.6019 3.43736 37.4652 4.30116 37.4652 5.36189C37.4652 6.42515 36.6019 7.28866 35.5387 7.28866C34.4774 7.28866 33.6133 6.42515 33.6133 5.36189C33.6133 4.30116 34.4774 3.43736 35.5387 3.43736ZM34.3855 30.9769C34.3693 30.8152 33.7108 13.8506 33.7108 13.8506L33.6033 11.7177C34.1084 11.3615 34.6732 11.1338 35.5138 11.1338C36.3798 11.1338 36.9604 11.3512 37.4646 11.7241L37.3783 13.8506C37.2456 16.1112 36.7151 30.8219 36.7011 30.9766C35.4892 32.198 34.3855 30.9769 34.3855 30.9769Z" fill="#373A37" />
                        <path d="M25.6367 0.774315C25.6367 0.758392 25.3926 0.159443 24.9752 0.0524483C24.7042 -0.0145988 24.3489 -0.008461 23.8807 0.329287C21.279 8.05282 17.1003 18.4756 13.9868 25.6035C13.211 27.1738 12.348 27.1908 11.5465 25.6035C8.45791 18.525 4.2753 7.97683 1.68992 0.316437C1.65684 0.247435 1.12192 -0.0833282 0.66259 0.0381927C0.224578 0.141836 0 0.746944 0 0.76594C1.23442 5.58745 8.78812 28.0057 9.80723 30.1613C10.9671 32.6127 14.5047 32.6127 15.7104 30.1627C16.7499 28.0501 24.1863 5.51817 25.6367 0.774315Z" fill="#373A37" />
                        <path d="M84.9585 31.2258C86.4095 26.4816 93.8447 3.95023 94.8845 1.83713C96.0905 -0.612877 99.6278 -0.612888 100.788 1.83879C101.807 3.99435 109.361 26.4123 110.596 31.2341C110.596 31.2529 110.371 31.8582 109.932 31.9616C109.473 32.0834 108.938 31.7526 108.905 31.6836C107.754 28.2735 106.397 24.8088 104.85 20.815C104.484 19.8468 103.853 19.4333 102.82 19.3364L95.4265 18.9092C93.9369 18.8036 94.218 17.1059 95.2055 17.0045L102.352 16.4481C103.143 16.4017 102.984 15.991 102.706 15.1412C102.602 14.7878 101.356 11.814 99.0484 6.39688C98.2469 4.80926 97.3842 4.8263 96.6082 6.39688C93.495 13.5242 89.3154 23.947 86.7143 31.6713C86.2464 32.0088 85.891 32.0147 85.6198 31.9474C85.2024 31.8404 84.9585 31.2422 84.9585 31.2258Z" fill="#373A37" />
                        <path d="M51.2849 2.78235C51.8246 2.42616 52.2417 2.20016 53.1409 2.20016C54.0095 2.20016 54.4296 2.44098 54.9699 2.81337C54.9699 2.81337 54.9135 9.20406 54.9663 10.2735L59.3299 8.5104C60.8619 7.8958 61.5992 9.90219 60.4971 10.7065C59.2623 11.6077 56.1189 12.7399 54.8752 18.5074C54.7227 19.3524 54.2349 30.9566 54.2254 31.065C53.0663 32.2327 52.0118 31.065 52.0118 31.065C51.8383 26.6972 51.6933 22.3224 51.5762 17.942C51.4444 15.3827 50.92 14.1334 50.7116 13.73C50.6798 13.6814 50.651 13.6311 50.6253 13.5786C50.5336 13.3917 50.4817 13.1819 50.4817 12.9592C50.4817 12.3435 50.8767 11.82 51.4273 11.6286C51.367 8.68276 51.3198 5.73437 51.2849 2.78235Z" fill="#373A37" />
                    </svg>
                </div>
                <div class="c-container-02">
                    <a href="#" class="c-item-01 on">Teslimat</a>
                    <a href="#" class="c-item-01">Gönderi</a>
                    <a href="#" class="c-item-01">Ödeme</a>
                </div>
                <div class="c-container-03">
                    <div class="c-item-01">VitrA resmi alışveriş adresi. Güvenle alışveriş yapın.</div>
                    <div class="c-item-02">
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M45.1954 6.1036C45.6111 6.22661 45.9195 6.57683 45.9888 7.00494C46.0425 7.33636 47.2844 15.2206 45.3431 24.2366C42.7422 36.316 35.6148 44.5155 24.7301 47.9484C24.6211 47.9833 24.5056 48 24.3912 48H24.2896C24.1752 48 24.0597 47.9828 23.9507 47.9484M45.1954 6.1036L24.7118 0.0461947C24.6082 0.0155773 24.4997 0 24.3917 0H24.2902C24.1822 0 24.0742 0.0155773 23.97 0.0461947L3.48485 6.1036C3.06964 6.22661 2.76078 6.57683 2.69041 7.00494C2.6367 7.33636 1.39481 15.2206 3.3366 24.2366C5.93747 36.3154 13.0649 44.5155 23.9507 47.9484M45.1954 6.1036L44.9826 6.82279M45.1954 6.1036L44.9827 6.82281L44.9826 6.82279M23.9507 47.9484L24.1762 47.2331M23.9507 47.9484L24.1763 47.2332C24.1762 47.2332 24.1762 47.2331 24.1762 47.2331M24.1762 47.2331C13.5725 43.8892 6.61965 35.9207 4.0698 24.0787L4.06979 24.0787C2.159 15.2066 3.38018 7.43743 3.43059 7.12593C3.45459 6.98146 3.55892 6.86388 3.69789 6.82271L24.1815 0.765778C24.1816 0.76573 24.1818 0.765683 24.1819 0.765636C24.2177 0.755169 24.2543 0.75 24.2902 0.75H24.3917C24.4282 0.75 24.4651 0.755365 24.4994 0.765481L44.9826 6.82279M24.1762 47.2331L44.9826 6.82279" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <rect x="11.8125" y="14.0625" width="24.375" height="4.6875" fill="#ECDECD" />
                            <path d="M35.25 14.0625H12.75C12.2322 14.0625 11.8125 14.4822 11.8125 15V30C11.8125 30.5178 12.2322 30.9375 12.75 30.9375H35.25C35.7678 30.9375 36.1875 30.5178 36.1875 30V15C36.1875 14.4822 35.7678 14.0625 35.25 14.0625Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M28.6865 27.1875H32.4365" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M23.0615 27.1875H24.9365" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M11.8115 18.8496H36.1865" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                    </div>
                </div>
            </div>
            <div class="c-column-02">
                <div class="c-container-01">
                    <div class="c-item-01">Ödeme</div>
                    <div class="c-item-02">3/3</div>
                </div>
                <div class="c-container-02">
                    <a href="#" id="deliveryLink" class="c-item-01">
                    </a>
                    <a href="#" id="deespatchLink" class="c-item-01">
                    </a>
                    <a href="#" id="paymentLink" class="c-item-01 on">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="comp-division-03 mb-xs1-32px dsp-xs-hidden">
        <div class="c-wrapper">
            <div class="c-container-01"> Ödeme </div>
        </div>
    </div>
    <section id="mainArea" class="comp-section-25">
        <div class="c-wrapper">
            <div class="c-container-01 mb-xs1-24px">
                <div class="c-column-01">
                    <a href="#" class="c-item-01 on">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25 9.25H7C6.58579 9.25 6.25 9.58579 6.25 10V22C6.25 22.4142 6.58579 22.75 7 22.75H25C25.4142 22.75 25.75 22.4142 25.75 22V10C25.75 9.58579 25.4142 9.25 25 9.25Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M19.749 19.75H22.749" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M15.249 19.75H16.749" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M6.24902 13.0801H25.749" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        Kredi Kartı / Banka Kartı
                    </a>
                    <a href="#" class="c-item-01">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.5 11.5H8.5C8.08579 11.5 7.75 11.8358 7.75 12.25V24.25C7.75 24.6642 8.08579 25 8.5 25H26.5C26.9142 25 27.25 24.6642 27.25 24.25V12.25C27.25 11.8358 26.9142 11.5 26.5 11.5Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M24.6252 9.22852L23.7922 6.20258C23.685 5.80248 23.275 5.56471 22.8764 5.6715L5.55684 10.3123C5.15829 10.4191 4.9221 10.83 5.02931 11.2301L5.87539 14.4785" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M21.249 22H24.249" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M16.749 22H18.249" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M7.74902 15.3281H27.249" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        Çoklu Kart ile Ödeme
                    </a>
                </div>
                <div class="c-column-02 mt-xs1-32px">
                    <div class="comp-micro-11">
                        <form id="creditInfoForm" class="c-container-01 val-A">
                            <div class="form-group-01  mb-xs1-16px">
                                <input id="cartNumber" type="text" name="cartNumber" value="" autocomplete="new-password" onkeyup="this.setAttribute('value', this.value);" oninput="Felece.Checkout.Actions.creditCardNumberChange({ sender: this, ev: event });" data-rule-required="true" data-maskformat="0000 0000 0000 0000" maxlength="16" class="gr-textbox">
                                <label for="cartNumber" class="tb-placeholder-01">
                                    Kart Numarası
                                </label>
                                <span id="cardIconContainer" class="tb-card-icon">
                                </span>
                            </div>
                            <div class="form-group-01  mb-xs1-16px">
                                <input id="cartName" type="text" name="cartName" value="" oninput="Felece.Checkout.Actions.creditCardNameType({ sender: this, ev: event });" data-rule-required="true" data-maskformat="alphabeticWgap" maxlength="100" autocomplete="new-password" onkeyup="this.setAttribute('value', this.value);" class="gr-textbox">
                                <label for="cartName" class="tb-placeholder-01">
                                    Kart Üzerindeki İsim
                                </label>
                            </div>
                            <div class="form-group-01  mb-xs1-16px">
                                <input id="lastUsageDate" type="text" name="lastUsageDate" oninput="Felece.Checkout.Actions.creditCardDateType({ sender: this, ev: event });" data-rule-required="true" data-maskformat="00/00" value="" autocomplete="new-password" onkeyup="this.setAttribute('value', this.value);" class="gr-textbox">
                                <label for="lastUsageDate" class="tb-placeholder-01">
                                    Son Kullanma Tarihi
                                </label>
                                <div class="gr-credit">MM/YY</div>

                            </div>
                            <div class="form-group-01  mb-xs1-16px">
                                <input id="securityNumber" type="text" name="securityNumber" oninput="Felece.Checkout.Actions.creditCardSecurityType({ sender: this, ev: event });" value="" data-rule-required="true" data-maskformat="000" autocomplete="new-password" onkeyup="this.setAttribute('value', this.value);" class="gr-textbox">
                                <label for="securityNumber" class="tb-placeholder-01">
                                    Güvenlik Kodu
                                </label>
                                <div class="gr-credit">CCV/CVV</div>
                            </div>
                            <div class="comp-form-01 mb-xs1-24px mt-xs1-24px mb-md-64px">
                                <div class="chk-A chk-large">
                                    <input id="c-form-11-02" type="checkbox">
                                    <label for="c-form-11-02">3D Secure ile ödemek istiyorum</label>
                                </div>
                            </div>
                        </form>
                        <div class="c-container-02">
                            <svg width="101" height="28" viewBox="0 0 101 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M61.75 27.102C61.7415 27.0174 61.3232 11.9502 61.3232 11.9502C61.5831 10.7427 62.248 10.2174 62.9828 9.88399L67.7413 7.93725C68.6475 7.57059 69.6314 8.95046 68.5925 9.66448C67.6343 10.3232 65.2588 11.2411 64.2265 15.4177C64.0608 16.2009 63.8532 25.2814 63.7738 27.1008C62.7087 28.1741 61.75 27.102 61.75 27.102Z" fill="white" />
                                <path d="M31.0968 3.00818C32.0272 3.00818 32.7825 3.764 32.7825 4.69215C32.7825 5.62249 32.0272 6.37807 31.0968 6.37807C30.1682 6.37807 29.4121 5.62249 29.4121 4.69215C29.4121 3.764 30.1682 3.00818 31.0968 3.00818ZM30.0878 27.1053C30.0736 26.9637 29.4974 12.1198 29.4974 12.1198L29.4033 10.2535C29.8453 9.94179 30.3395 9.74256 31.0751 9.74256C31.8328 9.74256 32.3408 9.93274 32.782 10.2591L32.7065 12.1198C32.5903 14.0978 32.1262 26.9696 32.1139 27.105C31.0535 28.1737 30.0878 27.1053 30.0878 27.1053Z" fill="white" />
                                <path d="M22.4321 0.677526C22.4321 0.663593 22.2185 0.139515 21.8533 0.0458927C21.6162 -0.0127735 21.3053 -0.00740433 20.8956 0.288126C18.6191 7.04622 14.9627 16.1661 12.2384 22.403C11.5596 23.7771 10.8045 23.792 10.1032 22.403C7.40067 16.2094 3.74089 6.97973 1.47868 0.276884C1.44974 0.216507 0.981678 -0.0729122 0.579766 0.0334206C0.196506 0.124107 0 0.653576 0 0.670198C1.08012 4.88902 7.6896 24.505 8.58133 26.3911C9.59625 28.5361 12.6916 28.5361 13.7466 26.3923C14.6562 24.5439 21.163 4.8284 22.4321 0.677526Z" fill="white" />
                                <path d="M74.3389 27.323C75.6085 23.1719 82.1143 3.45694 83.0241 1.60798C84.0794 -0.53578 87.1745 -0.535789 88.1894 1.60943C89.0814 3.49555 95.6909 23.1113 96.7713 27.3304C96.7713 27.3467 96.5745 27.8764 96.1907 27.9669C95.7891 28.0735 95.3213 27.784 95.2922 27.7237C94.2848 24.7398 93.0973 21.7082 91.7444 18.2136C91.4236 17.3664 90.8712 17.0046 89.968 16.9198L83.4983 16.5461C82.195 16.4537 82.4409 14.9682 83.305 14.8795L89.5583 14.3925C90.2506 14.352 90.1112 13.9926 89.868 13.249C89.7768 12.9398 88.6866 10.3377 86.6675 5.59775C85.9662 4.20859 85.2114 4.2235 84.5323 5.59775C81.8083 11.8342 78.1512 20.9541 75.8752 27.7129C75.4657 28.0082 75.1548 28.0133 74.9175 27.9544C74.5523 27.8608 74.3389 27.3374 74.3389 27.323Z" fill="white" />
                                <path d="M44.8737 2.43529C45.3459 2.12362 45.7109 1.92587 46.4977 1.92587C47.2577 1.92587 47.6253 2.13659 48.0981 2.46243C48.0981 2.46243 48.0487 8.05429 48.0949 8.99001L51.9131 7.44733C53.2536 6.90956 53.8987 8.66515 52.9344 9.36889C51.8539 10.1575 49.1035 11.1482 48.0152 16.1947C47.8818 16.9341 47.455 27.0878 47.4467 27.1826C46.4325 28.2044 45.5097 27.1826 45.5097 27.1826C45.3579 23.3607 45.231 19.5328 45.1286 15.6999C45.0132 13.4606 44.5544 12.3675 44.3721 12.0145C44.3442 11.972 44.319 11.9279 44.2965 11.882C44.2164 11.7185 44.1709 11.5349 44.1709 11.3401C44.1709 10.8013 44.5165 10.3432 44.9983 10.1758C44.9455 7.59815 44.9042 5.01831 44.8737 2.43529Z" fill="white" />
                            </svg>

                            <div id="cardNumberContainer" class="c-item-01">
                                <div class="c-unit-01">
                                    *
                                </div>
                                <div class="c-unit-01">
                                    *
                                </div>
                                <div class="c-unit-01">
                                    *
                                </div>
                                <div class="c-unit-01">
                                    *
                                </div>
                                <div class="c-unit-01">
                                    *
                                </div>
                                <div class="c-unit-01">
                                    *
                                </div>
                                <div class="c-unit-01">
                                    *
                                </div>
                                <div class="c-unit-01">
                                    *
                                </div>
                                <div class="c-unit-01">
                                    *
                                </div>
                                <div class="c-unit-01">
                                    *
                                </div>
                                <div class="c-unit-01">
                                    *
                                </div>
                                <div class="c-unit-01">
                                    *
                                </div>
                                <div class="c-unit-01">
                                    *
                                </div>
                                <div class="c-unit-01">
                                    *
                                </div>
                                <div class="c-unit-01">
                                    *
                                </div>
                                <div class="c-unit-01">
                                    *
                                </div>
                            </div>
                            <div class="c-item-02">
                                <div id="nameSurnameContainer" class="c-item-02-A">Adınız Soyadınız</div>
                                <div id="lastDateContainer" class="c-item-02-B">MM/YY</div>
                            </div>
                        </div>
                        <div class="c-container-03">
                            <div class="c-item-01">
                                <svg width="147" height="24" viewBox="0 0 147 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <ellipse cx="11.9728" cy="12" rx="11.9728" ry="12" fill="#EB001B" />
                                    <ellipse cx="25.9406" cy="12" rx="11.9728" ry="12" fill="#F79E1B" />
                                    <path d="M18.9564 2.25C21.9911 4.48241 23.9451 8.0201 23.9451 11.997C23.9451 15.9738 21.9911 19.5176 18.9564 21.75C15.9218 19.5176 13.9678 15.9799 13.9678 11.997C13.9678 8.014 15.9281 4.48241 18.9564 2.25Z" fill="#FF5F00" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M89.9748 7.57349V9.26275H86.7225V12.9646C86.7225 14.1128 87.3282 14.5549 88.0721 14.5549C88.6449 14.5549 89.2769 14.2975 89.7839 13.9808L90.5213 15.4655C89.8366 15.9274 88.9807 16.3101 87.9141 16.3101C85.9917 16.3101 84.8658 15.2741 84.8658 13.0042V9.26275H83.1738V7.57349H84.8658V5H86.729V7.57349H89.9748ZM61.8293 10.7408C61.8293 8.74803 60.4007 7.35571 58.3795 7.35571C57.3261 7.35571 56.0159 7.65265 55.2785 8.88001C54.6926 7.9364 53.6392 7.36231 52.3422 7.36231C51.4731 7.36231 50.4197 7.61966 49.735 8.62266V7.58667H47.8916V16.099H49.7548V11.3809C49.7548 9.9226 50.7555 9.13076 51.9538 9.13076C53.1915 9.13076 53.9289 9.9292 53.9289 11.3611V16.0924H55.7921V11.3743C55.7921 9.916 56.7928 9.12416 57.991 9.12416C59.2288 9.12416 59.9661 9.9226 59.9661 11.3545V16.0858H61.8293V10.7408ZM70.7899 16.0858H72.6399V7.57347H70.7899V8.60946C70.2039 7.85061 69.3283 7.35571 68.1235 7.35571C65.7467 7.35571 63.877 9.22974 63.877 11.8296C63.877 14.4295 65.7467 16.3035 68.1235 16.3035C69.3283 16.3035 70.2039 15.8152 70.7899 15.063V16.0858ZM68.3404 9.10547C66.7471 9.10547 65.7793 10.3394 65.7793 11.8307C65.7793 13.322 66.7471 14.556 68.3404 14.556C69.8744 14.556 70.9014 13.3814 70.9014 11.8307C70.9014 10.28 69.8744 9.10547 68.3404 9.10547ZM81.1658 9.70484L81.9625 8.25973C81.0868 7.69224 79.8557 7.3623 78.5258 7.3623C76.3663 7.3623 75.0167 8.3983 75.0167 10.0876C75.0167 11.4535 76.0174 12.3245 77.8937 12.5819L78.7825 12.694C79.7898 12.8392 80.2507 13.1559 80.2507 13.6376C80.2507 14.2711 79.5858 14.6736 78.3217 14.6736C76.9391 14.6736 76.1359 14.2711 75.5236 13.8026L74.6611 15.1949C75.8989 16.1188 77.4263 16.2903 78.3019 16.2903C80.7511 16.2903 82.1666 15.1487 82.1666 13.5123C82.1666 12.054 81.0671 11.2621 79.2171 10.9982L78.3414 10.8662C77.558 10.754 76.9391 10.5825 76.9391 9.98858C76.9391 9.3881 77.5382 8.97898 78.5455 8.97898C79.5989 8.97898 80.6523 9.3881 81.1658 9.70484ZM99.7054 11.823C99.6922 9.17035 98.066 7.35571 95.6893 7.35571C93.1941 7.35571 91.4626 9.16375 91.4691 11.8362C91.4691 14.5351 93.2731 16.3101 95.8144 16.3101C97.0982 16.3101 98.2701 16 99.3038 15.1092L98.382 13.7828C97.6842 14.3437 96.7756 14.6802 95.9263 14.6802C94.7215 14.6802 93.6483 14.0468 93.3982 12.5159H99.6724L99.6761 12.4589L99.6803 12.3951C99.6923 12.2143 99.7054 12.0165 99.7054 11.823ZM95.6569 9.00391C94.3336 9.00391 93.6028 9.85514 93.4053 11.1023H97.8098C97.6057 9.77595 96.8354 9.00391 95.6569 9.00391ZM107.566 7.59327C107.138 7.4283 106.704 7.35571 106.138 7.35571C105.104 7.35571 104.235 7.72524 103.682 8.53028V7.57347H101.845V16.0858H103.695V11.4073C103.695 9.96219 104.538 9.12416 105.716 9.12416C106.171 9.12416 106.737 9.22974 107.125 9.4343L107.566 7.59327ZM113.808 7.35571C116.184 7.35571 118.054 9.22974 118.054 11.8296C118.054 14.4295 116.184 16.3035 113.808 16.3035C112.603 16.3035 111.734 15.8152 111.148 15.0696V19.6359H109.298V7.57347H111.148V8.58307C111.734 7.84402 112.603 7.35571 113.808 7.35571ZM111.023 11.8307C111.023 10.28 112.05 9.10547 113.584 9.10547C115.177 9.10547 116.145 10.3394 116.145 11.8307C116.145 13.322 115.177 14.556 113.584 14.556C112.05 14.556 111.023 13.3814 111.023 11.8307ZM128.338 16.0858H126.488V15.063C125.902 15.8152 125.027 16.3035 123.822 16.3035C121.445 16.3035 119.575 14.4295 119.575 11.8296C119.575 9.22974 121.445 7.35571 123.822 7.35571C125.027 7.35571 125.902 7.85061 126.488 8.60946V7.57347H128.338V16.0858ZM121.478 11.8307C121.478 10.3394 122.445 9.10547 124.039 9.10547C125.573 9.10547 126.6 10.28 126.6 11.8307C126.6 13.3814 125.573 14.556 124.039 14.556C122.445 14.556 121.478 13.322 121.478 11.8307ZM137.661 8.25973L136.864 9.70484C136.351 9.3881 135.297 8.97898 134.244 8.97898C133.236 8.97898 132.637 9.3881 132.637 9.98858C132.637 10.5825 133.256 10.754 134.04 10.8662L134.915 10.9982C136.765 11.2621 137.865 12.054 137.865 13.5123C137.865 15.1487 136.449 16.2903 134 16.2903C133.125 16.2903 131.597 16.1188 130.359 15.1949L131.222 13.8026C131.834 14.2711 132.637 14.6736 134.02 14.6736C135.284 14.6736 135.949 14.2711 135.949 13.6376C135.949 13.1559 135.488 12.8392 134.481 12.694L133.592 12.5819C131.716 12.3245 130.715 11.4535 130.715 10.0876C130.715 8.3983 132.065 7.3623 134.224 7.3623C135.554 7.3623 136.785 7.69224 137.661 8.25973ZM145.667 9.70484L146.463 8.25973C145.588 7.69224 144.356 7.3623 143.026 7.3623C140.867 7.3623 139.517 8.3983 139.517 10.0876C139.517 11.4535 140.518 12.3245 142.394 12.5819L143.283 12.694C144.291 12.8392 144.751 13.1559 144.751 13.6376C144.751 14.2711 144.086 14.6736 142.822 14.6736C141.44 14.6736 140.637 14.2711 140.024 13.8026L139.162 15.1949C140.4 16.1188 141.927 16.2903 142.803 16.2903C145.252 16.2903 146.667 15.1487 146.667 13.5123C146.667 12.054 145.568 11.2621 143.718 10.9982L142.842 10.8662C142.059 10.754 141.44 10.5825 141.44 9.98858C141.44 9.3881 142.039 8.97898 143.046 8.97898C144.1 8.97898 145.153 9.3881 145.667 9.70484Z" fill="black" />
                                </svg>
                            </div>
                            <div class="c-item-02 mt-xs1-24px">
                                <div class="chk-A chk-large">
                                    <input id="c-form-11-022" type="checkbox">
                                    <label for="c-form-11-022">Kredi kartımın MasterPass ile kaydedilmesini ve Kullanım Koşulları’nı onaylıyorum.</label>
                                </div>
                            </div>
                        </div>
                        <div  id="paymentInfoContainer" class="c-container-04 mt-xs1-32px">
                            <div class="c-item-01">
                                Taksit Seçenekleri
                            </div>
                            <div id="paymentInfoArea">
                                <div class="c-item-02 mt-xs1-16px">
                                    <div class="c-item-02-A">
                                        <div class="c-unit-01">Taksit</div>
                                        <div class="c-unit-01 v1">Aylık</div>
                                        <div class="c-unit-01 v2">Toplam</div>
                                    </div>
                                    <div class="c-item-02-B">
                                        <div class="c-unit-01">
                                            <div class="c-unit-01-A">
                                                <div class="chk-A chk-large">
                                                    <input id="c-form-11-022334" type="checkbox">
                                                    <label for="c-form-11-022334">Tek Çekim</label>
                                                </div>
                                            </div>
                                            <div class="c-unit-01-A v1">4,950 TL</div>
                                            <div class="c-unit-01-A v2">4,950 TL</div>
                                        </div>
                                        <div class="c-unit-01">
                                            <div class="c-unit-01-A">
                                                <div class="chk-A chk-large">
                                                    <input id="c-form-11-022335" type="checkbox">
                                                    <label for="c-form-11-022335">2 Taksit</label>
                                                </div>
                                            </div>
                                            <div class="c-unit-01-A v1">1.363,33 TL</div>
                                            <div class="c-unit-01-A v2">4,950 TL</div>
                                        </div>
                                        <div class="c-unit-01">
                                            <div class="c-unit-01-A">
                                                <div class="chk-A chk-large">
                                                    <input id="c-form-11-022336" type="checkbox">
                                                    <label for="c-form-11-022336">3 Taksit</label>
                                                </div>
                                            </div>
                                            <div class="c-unit-01-A v1">1.272,5 TL</div>
                                            <div class="c-unit-01-A v2">4,950 TL</div>
                                        </div>
                                        <div class="c-unit-01">
                                            <div class="c-unit-01-A">
                                                <div class="chk-A chk-large">
                                                    <input id="c-form-11-022337" type="checkbox">
                                                    <label for="c-form-11-022337">4 Taksit</label>
                                                </div>
                                            </div>
                                            <div class="c-unit-01-A v1">980 TL</div>
                                            <div class="c-unit-01-A v2">4,950 TL</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="c-container-02 mb-xs1-24px">
                <div class="c-item-01">
                    <div class="c-item-01-A">Ön Bilgilendirme Formu</div>
                    <a href="#" class="c-item-01-B">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.99902 7.5V3.75H17.999V7.5" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M18 14.25H6V20.625H18V14.25Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M6 16.5H2.625V9C2.625 8.17157 3.35254 7.5 4.25 7.5H19.75C20.6475 7.5 21.375 8.17157 21.375 9V16.5H18" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M17.625 11.8125C18.1428 11.8125 18.5625 11.3928 18.5625 10.875C18.5625 10.3572 18.1428 9.9375 17.625 9.9375C17.1072 9.9375 16.6875 10.3572 16.6875 10.875C16.6875 11.3928 17.1072 11.8125 17.625 11.8125Z" fill="#373A37" />
                        </svg>
                    </a>
                </div>
                <div class="c-item-02">
                    TARAFLAR<br /><br />İşbu Sözleşme; / adresinde mukim (sözleşmede bundan sonra "ALICI" olarak anılacaktır) ile Evren Mh. Tufan Sok. No:22 Güneşli Bağcılar İstanbul adresinde mukim Penti Giyim Ticaret A.Ş. (Sözleşmede bundan sonra "SATICI" olarak anılacaktır) arasında aşağıda belirtilen hüküm ve şartlar çerçevesinde imzalanmıştır.
                    İşbu Sözleşme; / adresinde mukim (sözleşmede bundan sonra "ALICI" olarak anılacaktır) ile Evren Mh. Tufan Sok. No:22 Güneşli Bağcılar İstanbul adresinde mukim Penti Giyim Ticaret A.Ş. (Sözleşmede bundan sonra "SATICI" olarak anılacaktır) arasında aşağıda belirtilen hüküm ve şartlar çerçevesinde imzalanmıştır.
                    İşbu Sözleşme; / adresinde mukim (sözleşmede bundan sonra "ALICI" olarak anılacaktır) ile Evren Mh. Tufan Sok. No:22
                </div>
            </div>
            <div class="c-container-02 mb-xs1-80px">
                <div class="c-item-01">
                    <div class="c-item-01-A">Mesafeli Satış Sözleşmesi</div>
                    <a href="#" class="c-item-01-B">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.99902 7.5V3.75H17.999V7.5" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M18 14.25H6V20.625H18V14.25Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M6 16.5H2.625V9C2.625 8.17157 3.35254 7.5 4.25 7.5H19.75C20.6475 7.5 21.375 8.17157 21.375 9V16.5H18" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M17.625 11.8125C18.1428 11.8125 18.5625 11.3928 18.5625 10.875C18.5625 10.3572 18.1428 9.9375 17.625 9.9375C17.1072 9.9375 16.6875 10.3572 16.6875 10.875C16.6875 11.3928 17.1072 11.8125 17.625 11.8125Z" fill="#373A37" />
                        </svg>
                    </a>
                </div>
                <div class="c-item-02">
                    TARAFLAR<br /><br />İşbu Sözleşme; / adresinde mukim (sözleşmede bundan sonra "ALICI" olarak anılacaktır) ile Evren Mh. Tufan Sok. No:22 Güneşli Bağcılar İstanbul adresinde mukim Penti Giyim Ticaret A.Ş. (Sözleşmede bundan sonra "SATICI" olarak anılacaktır) arasında aşağıda belirtilen hüküm ve şartlar çerçevesinde imzalanmıştır.
                    İşbu Sözleşme; / adresinde mukim (sözleşmede bundan sonra "ALICI" olarak anılacaktır) ile Evren Mh. Tufan Sok. No:22 Güneşli Bağcılar İstanbul adresinde mukim Penti Giyim Ticaret A.Ş. (Sözleşmede bundan sonra "SATICI" olarak anılacaktır) arasında aşağıda belirtilen hüküm ve şartlar çerçevesinde imzalanmıştır.
                    İşbu Sözleşme; / adresinde mukim (sözleşmede bundan sonra "ALICI" olarak anılacaktır) ile Evren Mh. Tufan Sok. No:22
                </div>
            </div>
        </div>
    </section>
    <div id="summaryContainer">
        <div class="comp-aside-01">
            <div class="c-column-01">
                <div class="c-container-01">Sipariş Özeti</div>
                <div id="cupounCodeContainer" class="c-container-06">
                    <div class="c-item-01">Kupon kodum var</div>
                    <a href="#" onclick="Felece.Checkout.Actions.applyCupounCode({ sender: this, ev: event })" class="c-item-02">
                        <svg  id="cupounPlus" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.9999 9.63604V22.364" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M22.3639 16H9.63599" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <svg id="cupounMinus" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.3639 16H9.63599" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                    </a>
                </div>
                <div class="c-container-02">
                    <a class="svgDesktop" href="#">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.25 11.5H7.75C7.33579 11.5 7 11.8358 7 12.25V15.25C7 15.6642 7.33579 16 7.75 16H24.25C24.6642 16 25 15.6642 25 15.25V12.25C25 11.8358 24.6642 11.5 24.25 11.5Z" stroke="#7D8285" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M23.5 16V22.75C23.5 22.9489 23.421 23.1397 23.2803 23.2803C23.1397 23.421 22.9489 23.5 22.75 23.5H9.25C9.05109 23.5 8.86032 23.421 8.71967 23.2803C8.57902 23.1397 8.5 22.9489 8.5 22.75V16" stroke="#7D8285" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M16 11.5V23.5" stroke="#7D8285" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M20.2426 10.4397C19.182 11.5004 16 11.5004 16 11.5004C16 11.5004 16 8.31837 17.0607 7.25771C17.4827 6.83615 18.0549 6.59944 18.6514 6.59961C19.2479 6.59978 19.8199 6.83682 20.2417 7.25862C20.6635 7.68042 20.9006 8.25245 20.9007 8.84897C20.9009 9.44548 20.6642 10.0177 20.2426 10.4397V10.4397Z" stroke="#7D8285" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M11.7575 10.4397C12.8181 11.5004 16.0001 11.5004 16.0001 11.5004C16.0001 11.5004 16.0001 8.31837 14.9394 7.25771C14.5174 6.83615 13.9452 6.59944 13.3487 6.59961C12.7522 6.59978 12.1802 6.83682 11.7584 7.25862C11.3366 7.68042 11.0995 8.25245 11.0994 8.84897C11.0992 9.44548 11.3359 10.0177 11.7575 10.4397V10.4397Z" stroke="#7D8285" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                        <input id="cupounCodeTxt" type="text" name="cupounCodeTxt" placeholder="Kupon Kodu" value="" autocomplete="new-password" onkeyup="this.setAttribute('value', this.value);" class="c-item-01">
                        <a class="svgMobile" href="#">
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1.48298L1.52663 1L7 7.00055L1.52661 13L1.00002 12.517L6.03278 7.0005L1 1.48298Z" stroke="white" />
                            </svg>
                        </a>
                </div>
                <div class="c-container-03">
                    <div class="c-item-01">
                        <div class="c-item-01-A">
                            Sipariş Tutarı
                        </div>
                        <div class="c-item-01-B">
                            4.210 TL
                        </div>
                    </div>
                    <div class="c-item-02">
                        <div class="c-item-02-A">
                            Vergiler
                        </div>
                        <div class="c-item-02-B">
                            819,90 TL
                        </div>
                    </div>
                    <div class="c-item-03">
                        <div class="c-item-03-A">
                            Kargo
                        </div>
                        <div class="c-item-03-B">
                            Kargo Ücretsiz
                        </div>
                    </div>
                    <div class="c-item-04">
                        <div class="c-item-04-A">
                            İndirim
                        </div>
                        <div class="c-item-04-B">
                            -1.450 TL
                        </div>
                    </div>
                    <div class="c-item-05">
                        <div class="c-item-05-A">
                            Toplam
                        </div>
                        <div class="c-item-05-B">
                            7.620 TL
                        </div>
                    </div>
                </div>
                <div class="c-container-04">
                    <a href="#" data-modal="modalDummyId01" class="c-item-01"
                       onclick="Felece.Checkout.Actions.BasketApproved({ ev: event, sender: this })">
                        Sepeti Onayla
                    </a>
                </div>
            </div>

            <div class="c-column-02 mt-md-24px">
                <form id="aggrementFieldForm" class="c-item-02 val-A">
                    <div class="chk-A chk-large mb-xs1-24px">
                        <input id="c-form-11-02233" name="c-form-11-02233" data-rule-required="true" type="checkbox">
                        <label for="c-form-11-02233">
                            <a href="#" onclick='Felece.Modal.Actions.show({ sender: this,
                                                                      contentId: "egreementModal",
                                                                      type: "mdl",
                                                                      size: "lg",
                                                                      dir: ["fade","egreement-modal"],
                                                                      esc: true,
                                                                      overlay: false,
                                                                    });'>
                                Ön Bilgilendirme Formu
                            </a>’nu okudum,
                            onaylıyorum.’
                        </label>
                    </div>

                    <div class="chk-A chk-large">
                        <input id="c-form-11-0223" name="c-form-11-0223" data-rule-required="true" type="checkbox">
                        <label for="c-form-11-0223">
                            <a href="#" onclick='Felece.Modal.Actions.show({ sender: this,
                                                                      contentId: "egreementModal2",
                                                                      type: "mdl",
                                                                      size: "lg",
                                                                      dir: ["fade","egreement-modal"],
                                                                      esc: true,
                                                                      overlay: false,
                                                                    });'>
                                Mesafeli Satış Sözleşmesi
                            </a>’ni okudum,
                            onaylıyorum.
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<section class="comp-footer-02">
    <div class="c-container-01">
        <div class="c-item-01">
            <svg width="117" height="32" viewBox="0 0 117 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M71.589 30.9734C71.5792 30.8768 71.1006 13.6572 71.1006 13.6572C71.398 12.2771 72.1589 11.6768 72.9998 11.2957L78.4457 9.07086C79.4828 8.65182 80.6088 10.2288 79.4198 11.0448C78.3232 11.7977 75.6046 12.8467 74.4232 17.6199C74.2335 18.515 73.996 28.8927 73.9051 30.972C72.6862 32.1987 71.589 30.9734 71.589 30.9734Z" fill="#373A37" />
                <path d="M36.5074 3.43736C37.5722 3.43736 38.4366 4.30116 38.4366 5.36189C38.4366 6.42515 37.5722 7.28866 36.5074 7.28866C35.4447 7.28866 34.5794 6.42515 34.5794 5.36189C34.5794 4.30116 35.4447 3.43736 36.5074 3.43736ZM35.3526 30.9769C35.3364 30.8152 34.677 13.8506 34.677 13.8506L34.5693 11.7177C35.0751 11.3615 35.6408 11.1338 36.4825 11.1338C37.3498 11.1338 37.9311 11.3512 38.436 11.7241L38.3496 13.8506C38.2167 16.1112 37.6855 30.8219 37.6715 30.9766C36.4579 32.198 35.3526 30.9769 35.3526 30.9769Z" fill="#373A37" />
                <path d="M26.5918 0.774315C26.5918 0.758392 26.3473 0.159443 25.9294 0.0524483C25.658 -0.0145988 25.3022 -0.008461 24.8333 0.329287C22.228 8.05282 18.0435 18.4756 14.9257 25.6035C14.1488 27.1738 13.2846 27.1908 12.482 25.6035C9.38911 18.525 5.20068 7.97683 2.6117 0.316437C2.57858 0.247435 2.04291 -0.0833282 1.58295 0.0381927C1.14432 0.141836 0.919434 0.746944 0.919434 0.76594C2.15557 5.58745 9.71977 28.0057 10.7403 30.1613C11.9018 32.6127 15.4443 32.6127 16.6517 30.1627C17.6927 28.0501 25.1394 5.51817 26.5918 0.774315Z" fill="#373A37" />
                <path d="M85.9961 31.2258C87.4491 26.4816 94.8947 3.95023 95.9359 1.83713C97.1436 -0.612877 100.686 -0.612888 101.847 1.83879C102.868 3.99435 110.432 26.4123 111.669 31.2341C111.669 31.2529 111.444 31.8582 111.004 31.9616C110.545 32.0834 110.009 31.7526 109.976 31.6836C108.823 28.2735 107.464 24.8088 105.916 20.815C105.549 19.8468 104.916 19.4333 103.883 19.3364L96.4786 18.9092C94.987 18.8036 95.2684 17.1059 96.2574 17.0045L103.414 16.4481C104.206 16.4017 104.047 15.991 103.768 15.1412C103.664 14.7878 102.416 11.814 100.106 6.39688C99.303 4.80926 98.4391 4.8263 97.662 6.39688C94.5444 13.5242 90.3591 23.947 87.7543 31.6713C87.2857 32.0088 86.9299 32.0147 86.6583 31.9474C86.2403 31.8404 85.9961 31.2422 85.9961 31.2258Z" fill="#373A37" />
                <path d="M52.2755 2.78235C52.816 2.42616 53.2336 2.20016 54.1341 2.20016C55.0039 2.20016 55.4246 2.44098 55.9657 2.81337C55.9657 2.81337 55.9092 9.20406 55.962 10.2735L60.3317 8.5104C61.8659 7.8958 62.6041 9.90219 61.5005 10.7065C60.264 11.6077 57.1163 12.7399 55.8708 18.5074C55.7181 19.3524 55.2296 30.9566 55.2201 31.065C54.0594 32.2327 53.0034 31.065 53.0034 31.065C52.8297 26.6972 52.6845 22.3224 52.5673 17.942C52.4352 15.3827 51.9101 14.1334 51.7014 13.73C51.6695 13.6814 51.6407 13.6311 51.615 13.5786C51.5232 13.3917 51.4712 13.1819 51.4712 12.9592C51.4712 12.3435 51.8668 11.82 52.4181 11.6286C52.3577 8.68276 52.3104 5.73437 52.2755 2.78235Z" fill="#373A37" />
            </svg>
        </div>
        <div class="c-item-02">Bilgi Güvenliği Politikası • Kalite Politikası • Kişisel Verilerin Korunması • Çerez Politikası  </div>
        <div class="c-item-03">©2021 VitrA Tüm Hakları saklıdır</div>
    </div>
</section>

@section afterContentWrapper{
    <section class="comp-bar-03">
        <div class="c-wrapper">
            <a id="summaryLinkButton" class="c-container-01" href="#" onclick="Felece.Checkout.Actions.toggleSummary({ sender: this, ev: event })">
                4,590 TL
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 7L8 11L4 7" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
            <a href="#" onclick='Felece.Modal.Actions.show({
                ev: event,
                sender: this,
                type: "drw",
                contentId: "loginModal",
                size: "lg",
                dir: ["r2l"],
                esc: true,
                overlay: false
            });' class="c-container-02">
                Devam Et
            </a>
        </div>
    </section>
    <section id="egreementModal" data-modal-section="content">
        <div data-modal-section="header">

            <h6 class="c-item-01">
                Ön Bilgilendirme Formu’nu okudum,
                onaylıyorum.
            </h6>
            <a href="#" class="c-item-02" onclick="Feux.Modal.Actions.closeClick({ ev: event, sender: this });">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0084 10L10 11.0084L14.9916 16L10 20.9916L11.0084 22L16 17.0084L20.9916 22L22 20.9916L17.0084 16L22 11.0084L20.9916 10L16 14.9916L11.0084 10Z" fill="#221F44" />
                </svg>
            </a>

        </div>

        <div data-modal-section="body">
            <div class="static-html-raw-content">

                <ol>
                    <li>
                        Taraflar
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                    <li>
                        Sözleşmenin Konusu
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                    <li>
                        Tarafların Hak ve Yükümlülükleri
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                    <li>
                        Sözleşmenin Feshi
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                    <li>
                        İhtilaflerin Halli
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                    <li>
                        Yürürlük
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                </ol>

            </div>
        </div>

        <div data-modal-section="footer" class="footer-01">
        </div>
    </section>
    <section id="egreementModal2" data-modal-section="content">
        <div data-modal-section="header">

            <h6 class="c-item-01">
                Mesafeli Satış Sözleşmesi’ni okudum,
                onaylıyorum.
            </h6>
            <a href="#" class="c-item-02" onclick="Feux.Modal.Actions.closeClick({ ev: event, sender: this });">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0084 10L10 11.0084L14.9916 16L10 20.9916L11.0084 22L16 17.0084L20.9916 22L22 20.9916L17.0084 16L22 11.0084L20.9916 10L16 14.9916L11.0084 10Z" fill="#221F44" />
                </svg>
            </a>

        </div>

        <div data-modal-section="body">
            <div class="static-html-raw-content">

                <ol>
                    <li>
                        Taraflar
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                    <li>
                        Sözleşmenin Konusu
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                    <li>
                        Tarafların Hak ve Yükümlülükleri
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                    <li>
                        Sözleşmenin Feshi
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                    <li>
                        İhtilaflerin Halli
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                    <li>
                        Yürürlük
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                </ol>

            </div>
        </div>

        <div data-modal-section="footer" class="footer-01">
        </div>
    </section>
}

@section beforeBodyEnd{
    <script src="~/Content/Scripts/Misc/Felece.Checkout.Base.js"></script>
    <script src="~/Content/Scripts/Misc/Felece.Identity.Base.js"></script>

}
