
@{
    ViewBag.Title = "Index";
}



@section head{
}
<main data-body-class="no-footer no-header">
    <div class="comp-header-02 mb-xs1-24px">
        <div class="c-wrapper">
            <div class="c-column-01">

                <div class="c-container-01">
                    <svg width="116" height="32" viewBox="0 0 116 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M70.5713 30.9734C70.5615 30.8768 70.0835 13.6572 70.0835 13.6572C70.3805 12.2771 71.1403 11.6768 71.9801 11.2957L77.4185 9.07086C78.4541 8.65182 79.5785 10.2288 78.3912 11.0448C77.2961 11.7977 74.5812 12.8467 73.4015 17.6199C73.2121 18.515 72.9749 28.8927 72.8841 30.972C71.6669 32.1987 70.5713 30.9734 70.5713 30.9734Z" fill="#373A37" />
                        <path d="M35.5387 3.43736C36.6019 3.43736 37.4652 4.30116 37.4652 5.36189C37.4652 6.42515 36.6019 7.28866 35.5387 7.28866C34.4774 7.28866 33.6133 6.42515 33.6133 5.36189C33.6133 4.30116 34.4774 3.43736 35.5387 3.43736ZM34.3855 30.9769C34.3693 30.8152 33.7108 13.8506 33.7108 13.8506L33.6033 11.7177C34.1084 11.3615 34.6732 11.1338 35.5138 11.1338C36.3798 11.1338 36.9604 11.3512 37.4646 11.7241L37.3783 13.8506C37.2456 16.1112 36.7151 30.8219 36.7011 30.9766C35.4892 32.198 34.3855 30.9769 34.3855 30.9769Z" fill="#373A37" />
                        <path d="M25.6367 0.774315C25.6367 0.758392 25.3926 0.159443 24.9752 0.0524483C24.7042 -0.0145988 24.3489 -0.008461 23.8807 0.329287C21.279 8.05282 17.1003 18.4756 13.9868 25.6035C13.211 27.1738 12.348 27.1908 11.5465 25.6035C8.45791 18.525 4.2753 7.97683 1.68992 0.316437C1.65684 0.247435 1.12192 -0.0833282 0.66259 0.0381927C0.224578 0.141836 0 0.746944 0 0.76594C1.23442 5.58745 8.78812 28.0057 9.80723 30.1613C10.9671 32.6127 14.5047 32.6127 15.7104 30.1627C16.7499 28.0501 24.1863 5.51817 25.6367 0.774315Z" fill="#373A37" />
                        <path d="M84.9585 31.2258C86.4095 26.4816 93.8447 3.95023 94.8845 1.83713C96.0905 -0.612877 99.6278 -0.612888 100.788 1.83879C101.807 3.99435 109.361 26.4123 110.596 31.2341C110.596 31.2529 110.371 31.8582 109.932 31.9616C109.473 32.0834 108.938 31.7526 108.905 31.6836C107.754 28.2735 106.397 24.8088 104.85 20.815C104.484 19.8468 103.853 19.4333 102.82 19.3364L95.4265 18.9092C93.9369 18.8036 94.218 17.1059 95.2055 17.0045L102.352 16.4481C103.143 16.4017 102.984 15.991 102.706 15.1412C102.602 14.7878 101.356 11.814 99.0484 6.39688C98.2469 4.80926 97.3842 4.8263 96.6082 6.39688C93.495 13.5242 89.3154 23.947 86.7143 31.6713C86.2464 32.0088 85.891 32.0147 85.6198 31.9474C85.2024 31.8404 84.9585 31.2422 84.9585 31.2258Z" fill="#373A37" />
                        <path d="M51.2849 2.78235C51.8246 2.42616 52.2417 2.20016 53.1409 2.20016C54.0095 2.20016 54.4296 2.44098 54.9699 2.81337C54.9699 2.81337 54.9135 9.20406 54.9663 10.2735L59.3299 8.5104C60.8619 7.8958 61.5992 9.90219 60.4971 10.7065C59.2623 11.6077 56.1189 12.7399 54.8752 18.5074C54.7227 19.3524 54.2349 30.9566 54.2254 31.065C53.0663 32.2327 52.0118 31.065 52.0118 31.065C51.8383 26.6972 51.6933 22.3224 51.5762 17.942C51.4444 15.3827 50.92 14.1334 50.7116 13.73C50.6798 13.6814 50.651 13.6311 50.6253 13.5786C50.5336 13.3917 50.4817 13.1819 50.4817 12.9592C50.4817 12.3435 50.8767 11.82 51.4273 11.6286C51.367 8.68276 51.3198 5.73437 51.2849 2.78235Z" fill="#373A37" />
                    </svg>
                </div>
                <div class="c-container-02">
                    <a href="#" class="c-item-01 on">Teslimat</a>
                    <a href="#" class="c-item-01">Gönderi</a>
                    <a href="#" class="c-item-01">Ödeme</a>
                </div>
                <div class="c-container-03">
                    <div class="c-item-01">VitrA resmi alışveriş adresi. Güvenle alışveriş yapın.</div>
                    <div class="c-item-02">
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M45.1954 6.1036C45.6111 6.22661 45.9195 6.57683 45.9888 7.00494C46.0425 7.33636 47.2844 15.2206 45.3431 24.2366C42.7422 36.316 35.6148 44.5155 24.7301 47.9484C24.6211 47.9833 24.5056 48 24.3912 48H24.2896C24.1752 48 24.0597 47.9828 23.9507 47.9484M45.1954 6.1036L24.7118 0.0461947C24.6082 0.0155773 24.4997 0 24.3917 0H24.2902C24.1822 0 24.0742 0.0155773 23.97 0.0461947L3.48485 6.1036C3.06964 6.22661 2.76078 6.57683 2.69041 7.00494C2.6367 7.33636 1.39481 15.2206 3.3366 24.2366C5.93747 36.3154 13.0649 44.5155 23.9507 47.9484M45.1954 6.1036L44.9826 6.82279M45.1954 6.1036L44.9827 6.82281L44.9826 6.82279M23.9507 47.9484L24.1762 47.2331M23.9507 47.9484L24.1763 47.2332C24.1762 47.2332 24.1762 47.2331 24.1762 47.2331M24.1762 47.2331C13.5725 43.8892 6.61965 35.9207 4.0698 24.0787L4.06979 24.0787C2.159 15.2066 3.38018 7.43743 3.43059 7.12593C3.45459 6.98146 3.55892 6.86388 3.69789 6.82271L24.1815 0.765778C24.1816 0.76573 24.1818 0.765683 24.1819 0.765636C24.2177 0.755169 24.2543 0.75 24.2902 0.75H24.3917C24.4282 0.75 24.4651 0.755365 24.4994 0.765481L44.9826 6.82279M24.1762 47.2331L44.9826 6.82279" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <rect x="11.8125" y="14.0625" width="24.375" height="4.6875" fill="#ECDECD" />
                            <path d="M35.25 14.0625H12.75C12.2322 14.0625 11.8125 14.4822 11.8125 15V30C11.8125 30.5178 12.2322 30.9375 12.75 30.9375H35.25C35.7678 30.9375 36.1875 30.5178 36.1875 30V15C36.1875 14.4822 35.7678 14.0625 35.25 14.0625Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M28.6865 27.1875H32.4365" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M23.0615 27.1875H24.9365" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M11.8115 18.8496H36.1865" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                    </div>
                </div>
            </div>
            <div class="c-column-02">
                <div class="c-container-01">
                    <div class="c-item-01">Sonuç</div>
                </div>
                <div class="c-container-02 off">
                    <a href="#" id="deliveryLink" class="c-item-01">
                    </a>
                    <a href="#" id="deespatchLink" class="c-item-01">
                    </a>
                    <a href="#" id="paymentLink" class="c-item-01">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <section id="mainArea" class="comp-section-25">
        <div class="c-wrapper">
            <div class="c-container-01 mb-xs1-24px">
                <div class="c-column-03">
                    <div class="c-container-01">
                        <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="6" y="14" width="52" height="10" fill="#ECDECD" />
                            <path d="M56 14H8C6.89543 14 6 14.8954 6 16V48C6 49.1046 6.89543 50 8 50H56C57.1046 50 58 49.1046 58 48V16C58 14.8954 57.1046 14 56 14Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M42 42H50" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M30 42H34" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M6 24.2129H58" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <circle cx="50" cy="47" r="13.25" fill="#ECDECD" stroke="#373A37" stroke-width="1.5" />
                            <path d="M56.875 42.625L48.125 51.3746L43.75 47" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="c-container-02">Sipariş Başarılı</div>
                    <div class="c-container-03">Birkaç dakika içerisinde siparişinizin detaylarını içeren bir e-posta alacaksınız.</div>
                    <div class="c-container-04">
                        <div class="c-item-01">
                            Sipariş No
                        </div>
                        <div class="c-item-02">
                            8M7648954
                        </div>
                    </div>
                    <a href="#" class="c-container-05">Anasayfaya Dön</a>
                    <a href="#" class="c-container-06">Siparişlerim</a>
                </div>
                <div class="c-column-04">

                    <div class="comp-micro-12">
                        <div class="c-column-01">
                            <div class="c-container-01"></div>
                            <div class="c-container-02">
                                <div class="c-item-01">
                                    <div class="c-item-01-A">Siparişiniz Alındı</div>
                                    <div class="c-item-01-B">12.02.2021 14:25</div>
                                </div>
                                <div class="c-item-02">
                                    Siparişiniz size en yakın VitrA yetkili satıcımızdan ya da depolarımızdan gönderilecektir. Siparişinizin durumunu dilediğiniz zaman Hesabım’daki Siparişlerim bölümünden görüntüleyebilirsiniz.
                                </div>
                                <div class="c-item-03">
                                    <div class="c-item-03-A">
                                        <div class="c-unit-01">Teslimat Adresi</div>
                                        <div class="c-unit-02">
                                            <div class="c-unit-02-A">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M5.25 21.75H18.75" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                    <path d="M19.5 9.75C19.5 16.5 12 21.75 12 21.75C12 21.75 4.5 16.5 4.5 9.75C4.5 7.76088 5.29018 5.85322 6.6967 4.4467C8.10322 3.04018 10.0109 2.25 12 2.25C13.9891 2.25 15.8968 3.04018 17.3033 4.4467C18.7098 5.85322 19.5 7.76088 19.5 9.75Z" fill="white" fill-opacity="0.3" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                    <path d="M12 12.75C13.6569 12.75 15 11.4069 15 9.75C15 8.09315 13.6569 6.75 12 6.75C10.3431 6.75 9 8.09315 9 9.75C9 11.4069 10.3431 12.75 12 12.75Z" fill="white" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                                Konak (Beyoğlu/İstanbul)
                                            </div>
                                            <div class="c-unit-02-B">
                                                Bereketzade Mahallesi, Bahtiyar Apt. 3/4, Hacı Ali Sokak, 34421 Beyoğlu/İstanbul
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-item-03-A">
                                        <div class="c-unit-01">Ödeme Bilgileri</div>
                                        <div class="c-unit-02">
                                            <div class="c-unit-02-A">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M5.25 21.75H18.75" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                    <path d="M19.5 9.75C19.5 16.5 12 21.75 12 21.75C12 21.75 4.5 16.5 4.5 9.75C4.5 7.76088 5.29018 5.85322 6.6967 4.4467C8.10322 3.04018 10.0109 2.25 12 2.25C13.9891 2.25 15.8968 3.04018 17.3033 4.4467C18.7098 5.85322 19.5 7.76088 19.5 9.75Z" fill="white" fill-opacity="0.3" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                    <path d="M12 12.75C13.6569 12.75 15 11.4069 15 9.75C15 8.09315 13.6569 6.75 12 6.75C10.3431 6.75 9 8.09315 9 9.75C9 11.4069 10.3431 12.75 12 12.75Z" fill="white" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                                Konak (Beyoğlu/İstanbul)
                                            </div>
                                            <div class="c-unit-02-B">
                                                Bereketzade Mahallesi, Bahtiyar Apt. 3/4, Hacı Ali Sokak, 34421 Beyoğlu/İstanbul
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-item-04">
                                    <div class="c-item-04-A">
                                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10.7387 8.90311L9.26623 9.33963L9.26576 9.33976C7.83026 9.76431 6.71453 10.902 6.33819 12.3273L10.7387 8.90311ZM10.7387 8.90311H10.7397L10.8437 8.87236C11.1962 8.76821 11.5553 8.73237 11.9062 8.7579C12.9454 8.83351 13.8977 9.44556 14.3617 10.407L14.3857 10.4594L15.607 13.1208C15.6071 13.1208 15.6071 13.1208 15.6071 13.1209C16.1236 14.2469 15.8481 15.591 14.9272 16.4329L14.9272 16.433L12.9037 18.2832L12.8914 18.2944L12.8873 18.2985C12.7083 18.4683 12.5893 18.6947 12.5595 18.9483L12.5595 18.9483L12.5591 18.9518C12.5589 18.9538 12.5583 18.9575 12.5576 18.9627C12.5517 19.0039 12.5321 19.1406 12.5415 19.2937C12.5513 19.4559 12.5884 19.6367 12.649 19.8686C12.7798 20.3695 13.0749 21.1254 13.6976 22.2083V22.2119L13.8016 22.3882C14.435 23.4624 15.0603 24.2775 15.5686 24.7267L15.5719 24.73L15.5927 24.748C15.7434 24.8782 15.9157 25.0022 16.0859 25.0938C16.1699 25.1389 16.2732 25.1869 16.3866 25.2197C16.4789 25.2463 16.6838 25.2953 16.9169 25.2272L16.9169 25.2272L16.9218 25.2258L19.6354 24.4133L19.636 24.4131C20.8435 24.0503 22.1526 24.483 22.8918 25.4871L22.8918 25.4871L24.6259 27.8422L10.7387 8.90311ZM24.2615 31.6491L23.0613 32.762L23.0608 32.7625C21.9644 33.7809 20.3988 34.1619 18.9464 33.7644C15.443 32.8054 12.2313 29.8332 9.33994 24.9236L8.69812 25.3015L9.33994 24.9236C6.44314 20.0047 5.42592 15.7892 6.33811 12.3276L24.2615 31.6491ZM24.2615 31.6491C25.3266 30.6601 25.4844 29.0103 24.6262 27.8426L24.2615 31.6491Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" />
                                            <path d="M24.1113 8C29.9679 9.56926 33.4588 15.6156 31.8895 21.4722M23.0761 11.8637C26.7991 12.8613 29.0234 16.7139 28.0258 20.4369M22.0408 15.7274C23.6297 16.1532 24.5879 17.8127 24.1621 19.4016" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" />
                                        </svg>
                                    </div>
                                    <div class="c-item-04-B">
                                        <div class="c-unit-01">Ara: 0850 311 70 70</div>
                                        <div class="c-unit-02">Pazartesi - Cuma | 09:00 - 18:00 <span>Online</span></div>
                                    </div>
                                </div>
                                <div class="c-item-04">
                                    <div class="c-item-04-A">
                                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8 30V11C8 10.7348 8.10536 10.4804 8.29289 10.2929C8.48043 10.1054 8.73478 10 9 10H31C31.2652 10 31.5196 10.1054 31.7071 10.2929C31.8946 10.4804 32 10.7348 32 11V30L28 28L24 30L20 28L16 30L12 28L8 30Z" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M13.5 17H26.5" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M13.5 21H26.5" stroke="#373A37" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>

                                    </div>
                                    <div class="c-item-04-B">
                                        <div class="c-unit-01">Destek Talebi Oluştur</div>
                                        <div class="c-unit-02">Destek talebiniz en kısa zamanda yanıtlanır.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-container-03">
                                <div class="c-item-01">Üyeliğini Tamamla</div>
                                <div class="c-item-02">Gelecekteki alışverişlerinizde zaman kazanmak ve özel fırsatlardan yararlanmak için siparişinizde kullandığınız bilgilerle tek adımda üyeliğinizi tamamlayın.</div>
                                <div class="c-item-03">
                                    <div class="form-group-01  mb-xs1-16px">
                                        <input id="email" type="text" name="email" value="" autocomplete="new-password" onkeyup="this.setAttribute('value', this.value);" class="gr-textbox">
                                        <label for="email" class="tb-placeholder-01">
                                            Cep Telefonu
                                        </label>
                                    </div>

                                    <div class="form-group-01  mb-xs1-16px">
                                        <input id="pass" type="password" name="pass" value="" autocomplete="new-password" onkeyup="this.setAttribute('value', this.value);" class="gr-textbox pass">
                                        <label for="pass" class="tb-placeholder-01">
                                            Şifre
                                        </label>
                                        <a href="#" class="gr-pass">
                                            <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0)">
                                                    <path d="M8 0C3.582 0 0 5.922 0 5.922C0 5.922 3.582 12 8 12C12.418 12 16 5.922 16 5.922C16 5.922 12.418 0 8 0ZM8 10C5.791 10 4 8.209 4 6C4 3.791 5.791 2 8 2C10.209 2 12 3.791 12 6C12 8.209 10.209 10 8 10ZM6 6C6 4.89544 6.89544 4 8 4C9.10456 4 10 4.89544 10 6C10 7.10456 9.10456 8 8 8C6.89544 8 6 7.10456 6 6Z" fill="#E4E6E8"></path>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0">
                                                        <rect width="16" height="12" fill="white"></rect>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </a>
                                        <div class="gr-note">Şifreniz rakam, büyük ve küçük harf içermeli ve en az 8 karakter olmalıdır</div>
                                    </div>
                                    <div class="form-group-01  mb-xs1-16px">
                                        <input id="confirmPassword" type="password" name="confirmPassword" value="" autocomplete="new-password" onkeyup="this.setAttribute('value', this.value);" class="gr-textbox pass">
                                        <label for="confirmPassword" class="tb-placeholder-01">
                                            Şifre Doğrulama
                                        </label>
                                        <a href="#" class="gr-pass">
                                            <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0)">
                                                    <path d="M8 0C3.582 0 0 5.922 0 5.922C0 5.922 3.582 12 8 12C12.418 12 16 5.922 16 5.922C16 5.922 12.418 0 8 0ZM8 10C5.791 10 4 8.209 4 6C4 3.791 5.791 2 8 2C10.209 2 12 3.791 12 6C12 8.209 10.209 10 8 10ZM6 6C6 4.89544 6.89544 4 8 4C9.10456 4 10 4.89544 10 6C10 7.10456 9.10456 8 8 8C6.89544 8 6 7.10456 6 6Z" fill="#E4E6E8"></path>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0">
                                                        <rect width="16" height="12" fill="white"></rect>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="comp-form-01">
                                        <div class="c-item-01">
                                            <label for="emailConsent01" class="chk-B">
                                                <input id="emailConsent01" name="emailConsent01" type="checkbox" value="false">
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="c-item-02">
                                            VitrA yeniliklerinin bana e-posta yoluyla gönderilmesini kabul ediyorum.
                                        </div>
                                    </div>
                                    <div class="comp-form-01 mb-xs1-32px">
                                        <div class="c-item-01">
                                            <label for="emailConsent01" class="chk-B">
                                                <input id="emailConsent01" name="emailConsent01" type="checkbox" value="false">
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="c-item-02">
                                            VitrA yeniliklerinin bana SMS yoluyla gönderilmesini kabul ediyorum.
                                        </div>
                                    </div>
                                    <div class="c-item-03-A">

                                        <div class="chk-A chk-large mb-xs1-24px">
                                            <input id="c-form-11-02233" type="checkbox">
                                            <label for="c-form-11-02233">
                                                <a href="#" onclick='Felece.Modal.Actions.show({ sender: this,
                                                                      contentId: "egreementModal",
                                                                      type: "mdl",
                                                                      size: "lg",
                                                                      dir: ["fade","egreement-modal"],
                                                                      esc: true,
                                                                      overlay: false,
                                                                    });'>Üyelik Sözleşmesi’</a>’ni okudum, onaylıyorum.
                                            </label>
                                        </div>

                                        <div class="chk-A chk-large">
                                            <input id="c-form-11-0223" type="checkbox">
                                            <label for="c-form-11-0223">
                                                <a href="#" onclick='Felece.Modal.Actions.show({ sender: this,
                                                                      contentId: "egreementModal2",
                                                                      type: "mdl",
                                                                      size: "lg",
                                                                      dir: ["fade","egreement-modal"],
                                                                      esc: true,
                                                                      overlay: false,
                                                                    });'>Aydınlatma Metni</a>’’nde belirtilen kapsam, amaç ve süre dahilinde kişisel verilerimin işlenmesini, yurt içi ve yurt dışı gerçek ve tüzel kişilere aktarılmasını kabul ediyorum.
                                            </label>
                                        </div>
                                    </div>
                                    <a href="" class="c-item-03-B mt-xs1-24px">
                                        Üye Ol
                                    </a>
                                </div>


                            </div>
                        </div>
                        <div class="c-column-02 mt-xs1-32px">
                            <div class="c-container-01"></div>
                            <div class="c-container-02">
                                <div class="c-item-01">
                                    Siparişiniz Hazırlanıyor
                                </div>
                                <div class="c-item-01">
                                    Kargoya Verildi
                                </div>
                                <div class="c-item-01">
                                    Teslim Edildi
                                </div>
                                <div class="c-item-01">
                                    Montajı Tamamlandı
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="summaryContainer">
        <div class="comp-aside-01">
            <div class="c-column-01">
                <div class="c-container-01">Sipariş Özeti</div>
                <div class="c-container-02">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.25 11.5H7.75C7.33579 11.5 7 11.8358 7 12.25V15.25C7 15.6642 7.33579 16 7.75 16H24.25C24.6642 16 25 15.6642 25 15.25V12.25C25 11.8358 24.6642 11.5 24.25 11.5Z" stroke="#7D8285" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M23.5 16V22.75C23.5 22.9489 23.421 23.1397 23.2803 23.2803C23.1397 23.421 22.9489 23.5 22.75 23.5H9.25C9.05109 23.5 8.86032 23.421 8.71967 23.2803C8.57902 23.1397 8.5 22.9489 8.5 22.75V16" stroke="#7D8285" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M16 11.5V23.5" stroke="#7D8285" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M20.2426 10.4397C19.182 11.5004 16 11.5004 16 11.5004C16 11.5004 16 8.31837 17.0607 7.25771C17.4827 6.83615 18.0549 6.59944 18.6514 6.59961C19.2479 6.59978 19.8199 6.83682 20.2417 7.25862C20.6635 7.68042 20.9006 8.25245 20.9007 8.84897C20.9009 9.44548 20.6642 10.0177 20.2426 10.4397V10.4397Z" stroke="#7D8285" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M11.7575 10.4397C12.8181 11.5004 16.0001 11.5004 16.0001 11.5004C16.0001 11.5004 16.0001 8.31837 14.9394 7.25771C14.5174 6.83615 13.9452 6.59944 13.3487 6.59961C12.7522 6.59978 12.1802 6.83682 11.7584 7.25862C11.3366 7.68042 11.0995 8.25245 11.0994 8.84897C11.0992 9.44548 11.3359 10.0177 11.7575 10.4397V10.4397Z" stroke="#7D8285" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <input id="cupounCodeTxt" type="text" name="cupounCodeTxt" placeholder="Kupon Kodu" value="" autocomplete="new-password" onkeyup="this.setAttribute('value', this.value);" class="c-item-01">
                </div>
                <div class="c-container-03">
                    <div class="c-item-01">
                        <div class="c-item-01-A">
                            Sipariş Tutarı
                        </div>
                        <div class="c-item-01-B">
                            4.210 TL
                        </div>
                    </div>
                    <div class="c-item-02">
                        <div class="c-item-02-A">
                            Vergiler
                        </div>
                        <div class="c-item-02-B">
                            819,90 TL
                        </div>
                    </div>
                    <div class="c-item-03">
                        <div class="c-item-03-A">
                            Kargo
                        </div>
                        <div class="c-item-03-B">
                            Kargo Ücretsiz
                        </div>
                    </div>
                    <div class="c-item-04">
                        <div class="c-item-04-A">
                            İndirim
                        </div>
                        <div class="c-item-04-B">
                            -1.450 TL
                        </div>
                    </div>
                    <div class="c-item-05">
                        <div class="c-item-05-A">
                            Toplam
                        </div>
                        <div class="c-item-05-B">
                            7.620 TL
                        </div>
                    </div>
                </div>
                <div class="c-container-04">
                    <a href="#" data-modal="modalDummyId01" class="c-item-01"
                       onclick='Felece.Modal.Actions.show({
                ev: event,
                sender: this,
                type: "drw",
                contentId: "loginModal",
                size: "lg",
                dir: ["r2l"],
                esc: true,
                overlay: false
            });'>
                        Sepeti Onayla
                    </a>
                </div>

            </div>
        </div>
    </div>

</main>
<section class="comp-footer-02">
    <div class="c-container-01">
        <div class="c-item-01">
            <svg width="117" height="32" viewBox="0 0 117 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M71.589 30.9734C71.5792 30.8768 71.1006 13.6572 71.1006 13.6572C71.398 12.2771 72.1589 11.6768 72.9998 11.2957L78.4457 9.07086C79.4828 8.65182 80.6088 10.2288 79.4198 11.0448C78.3232 11.7977 75.6046 12.8467 74.4232 17.6199C74.2335 18.515 73.996 28.8927 73.9051 30.972C72.6862 32.1987 71.589 30.9734 71.589 30.9734Z" fill="#373A37" />
                <path d="M36.5074 3.43736C37.5722 3.43736 38.4366 4.30116 38.4366 5.36189C38.4366 6.42515 37.5722 7.28866 36.5074 7.28866C35.4447 7.28866 34.5794 6.42515 34.5794 5.36189C34.5794 4.30116 35.4447 3.43736 36.5074 3.43736ZM35.3526 30.9769C35.3364 30.8152 34.677 13.8506 34.677 13.8506L34.5693 11.7177C35.0751 11.3615 35.6408 11.1338 36.4825 11.1338C37.3498 11.1338 37.9311 11.3512 38.436 11.7241L38.3496 13.8506C38.2167 16.1112 37.6855 30.8219 37.6715 30.9766C36.4579 32.198 35.3526 30.9769 35.3526 30.9769Z" fill="#373A37" />
                <path d="M26.5918 0.774315C26.5918 0.758392 26.3473 0.159443 25.9294 0.0524483C25.658 -0.0145988 25.3022 -0.008461 24.8333 0.329287C22.228 8.05282 18.0435 18.4756 14.9257 25.6035C14.1488 27.1738 13.2846 27.1908 12.482 25.6035C9.38911 18.525 5.20068 7.97683 2.6117 0.316437C2.57858 0.247435 2.04291 -0.0833282 1.58295 0.0381927C1.14432 0.141836 0.919434 0.746944 0.919434 0.76594C2.15557 5.58745 9.71977 28.0057 10.7403 30.1613C11.9018 32.6127 15.4443 32.6127 16.6517 30.1627C17.6927 28.0501 25.1394 5.51817 26.5918 0.774315Z" fill="#373A37" />
                <path d="M85.9961 31.2258C87.4491 26.4816 94.8947 3.95023 95.9359 1.83713C97.1436 -0.612877 100.686 -0.612888 101.847 1.83879C102.868 3.99435 110.432 26.4123 111.669 31.2341C111.669 31.2529 111.444 31.8582 111.004 31.9616C110.545 32.0834 110.009 31.7526 109.976 31.6836C108.823 28.2735 107.464 24.8088 105.916 20.815C105.549 19.8468 104.916 19.4333 103.883 19.3364L96.4786 18.9092C94.987 18.8036 95.2684 17.1059 96.2574 17.0045L103.414 16.4481C104.206 16.4017 104.047 15.991 103.768 15.1412C103.664 14.7878 102.416 11.814 100.106 6.39688C99.303 4.80926 98.4391 4.8263 97.662 6.39688C94.5444 13.5242 90.3591 23.947 87.7543 31.6713C87.2857 32.0088 86.9299 32.0147 86.6583 31.9474C86.2403 31.8404 85.9961 31.2422 85.9961 31.2258Z" fill="#373A37" />
                <path d="M52.2755 2.78235C52.816 2.42616 53.2336 2.20016 54.1341 2.20016C55.0039 2.20016 55.4246 2.44098 55.9657 2.81337C55.9657 2.81337 55.9092 9.20406 55.962 10.2735L60.3317 8.5104C61.8659 7.8958 62.6041 9.90219 61.5005 10.7065C60.264 11.6077 57.1163 12.7399 55.8708 18.5074C55.7181 19.3524 55.2296 30.9566 55.2201 31.065C54.0594 32.2327 53.0034 31.065 53.0034 31.065C52.8297 26.6972 52.6845 22.3224 52.5673 17.942C52.4352 15.3827 51.9101 14.1334 51.7014 13.73C51.6695 13.6814 51.6407 13.6311 51.615 13.5786C51.5232 13.3917 51.4712 13.1819 51.4712 12.9592C51.4712 12.3435 51.8668 11.82 52.4181 11.6286C52.3577 8.68276 52.3104 5.73437 52.2755 2.78235Z" fill="#373A37" />
            </svg>
        </div>
        <div class="c-item-02">Bilgi Güvenliği Politikası • Kalite Politikası • Kişisel Verilerin Korunması • Çerez Politikası  </div>
        <div class="c-item-03">©2021 VitrA Tüm Hakları saklıdır</div>
    </div>
</section>



@section afterContentWrapper{

    <section id="egreementModal" data-modal-section="content">
        <div data-modal-section="header">

            <h6 class="c-item-01">
                Ön Bilgilendirme Formu’nu okudum,
                onaylıyorum.
            </h6>
            <a href="#" class="c-item-02" onclick="Feux.Modal.Actions.closeClick({ ev: event, sender: this });">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0084 10L10 11.0084L14.9916 16L10 20.9916L11.0084 22L16 17.0084L20.9916 22L22 20.9916L17.0084 16L22 11.0084L20.9916 10L16 14.9916L11.0084 10Z" fill="#221F44" />
                </svg>
            </a>

        </div>

        <div data-modal-section="body">
            <div class="static-html-raw-content">

                <ol>
                    <li>
                        Taraflar
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                    <li>
                        Sözleşmenin Konusu
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                    <li>
                        Tarafların Hak ve Yükümlülükleri
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                    <li>
                        Sözleşmenin Feshi
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                    <li>
                        İhtilaflerin Halli
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                    <li>
                        Yürürlük
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                </ol>

            </div>
        </div>

        <div data-modal-section="footer" class="footer-01">
        </div>
    </section>
    <section id="egreementModal2" data-modal-section="content">
        <div data-modal-section="header">

            <h6 class="c-item-01">
                Mesafeli Satış Sözleşmesi’ni okudum,
                onaylıyorum.
            </h6>
            <a href="#" class="c-item-02" onclick="Feux.Modal.Actions.closeClick({ ev: event, sender: this });">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0084 10L10 11.0084L14.9916 16L10 20.9916L11.0084 22L16 17.0084L20.9916 22L22 20.9916L17.0084 16L22 11.0084L20.9916 10L16 14.9916L11.0084 10Z" fill="#221F44" />
                </svg>
            </a>

        </div>

        <div data-modal-section="body">
            <div class="static-html-raw-content">

                <ol>
                    <li>
                        Taraflar
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                    <li>
                        Sözleşmenin Konusu
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                    <li>
                        Tarafların Hak ve Yükümlülükleri
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                    <li>
                        Sözleşmenin Feshi
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                    <li>
                        İhtilaflerin Halli
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                    <li>
                        Yürürlük
                        <ol>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                            <li>
                                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt ex
                            </li>
                        </ol>
                    </li>
                </ol>

            </div>
        </div>

        <div data-modal-section="footer" class="footer-01">
        </div>
    </section>

}
@section beforeBodyEnd{
    <script src="~/Content/Scripts/Base/Felece.Common.jQuery.js"></script>
    <script src="~/Content/Scripts/Misc/Felece.Checkout.Base.js"></script>
    <script src="~/Content/Scripts/Misc/Felece.Identity.Base.js"></script>
}
