.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 0 24px;
  background: linear-gradient(0deg, #A2413D, #A2413D);
  border-radius: 6px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF; }
  .primary-btn.hover:hover {
    background: #373A37; }
  .primary-btn:disabled {
    background: #CBD5E0; }
  .primary-btn.icon {
    padding: 0 40px 0 16px; }
    .primary-btn.icon:after {
      content: "";
      position: absolute;
      right: 16px;
      top: 16px;
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2217%22%20height%3D%2216%22%20viewBox%3D%220%200%2017%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M4.14331%206.66675L8.14331%2010.6667L12.1433%206.66675%22%20stroke%3D%22white%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%2F%3E%20%3C%2Fsvg%3E");
      background-repeat: no-repeat; }
    .primary-btn.icon.right:after {
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M6%204L10%208L6%2012%22%20stroke%3D%22white%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E%20"); }
  .primary-btn.sm {
    height: 32px;
    font-size: 14px; }

.secondary-btn {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 24px;
  background: #373A37;
  border-radius: 6px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF; }
  .secondary-btn.hover:hover {
    background: linear-gradient(0deg, #A2413D, #A2413D); }
  .secondary-btn:disabled {
    background: #CBD5E0; }
  .secondary-btn.icon {
    justify-content: flex-start;
    padding: 0 40px 0 16px; }
    .secondary-btn.icon:after {
      content: "";
      position: absolute;
      right: 16px;
      top: 16px;
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2217%22%20height%3D%2216%22%20viewBox%3D%220%200%2017%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M13.6433%204.50049L6.64331%2011.5002L3.14331%208.00049%22%20stroke%3D%22white%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3C%2Fsvg%3E%20");
      background-repeat: no-repeat; }
  .secondary-btn.sm {
    height: 32px;
    font-size: 14px; }

.ghost-btn {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 24px;
  border-radius: 6px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #373A37;
  border: 1px solid #373A37;
  border-radius: 6px; }
  .ghost-btn.hover:hover {
    background: #373A37;
    color: #FFFFFF; }
  .ghost-btn:disabled {
    color: #CBD5E0;
    border-color: #CBD5E0; }
  .ghost-btn.icon {
    justify-content: flex-start;
    padding: 0 16px 0 40px; }
    .ghost-btn.icon:after {
      content: "";
      position: absolute;
      left: 16px;
      top: 16px;
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M9.33331%204L5.33331%208L9.33331%2012%22%20stroke%3D%22%23373A37%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%2F%3E%20%3C%2Fsvg%3E%20");
      background-repeat: no-repeat; }
  .ghost-btn.sm {
    height: 32px;
    font-size: 14px; }

.lnk-btn-01 {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 24px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #2A2E38; }
  .lnk-btn-01.hover:hover {
    background: rgba(229, 234, 239, 0.5);
    border-radius: 6px;
    text-decoration-line: none; }
  .lnk-btn-01.disabled {
    color: #CBD5E0; }
  .lnk-btn-01.icon {
    justify-content: flex-start;
    padding: 0 16px 0 48px;
    text-decoration-line: none; }
    .lnk-btn-01.icon:after {
      content: "";
      position: absolute;
      left: 16px;
      top: 12px;
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M18.0005%2016.5L18.0005%2020.25L6.00052%2020.25L6.00052%2016.5%22%20stroke%3D%22%232A2E38%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3Cpath%20d%3D%22M6.00049%209.75L18.0005%209.75L18.0005%203.375L6.00049%203.375L6.00049%209.75Z%22%20stroke%3D%22%232A2E38%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3Cpath%20d%3D%22M18.0005%207.5L21.3755%207.5L21.3755%2015C21.3755%2015.8284%2020.648%2016.5%2019.7505%2016.5L4.25049%2016.5C3.35303%2016.5%202.62549%2015.8284%202.62549%2015L2.62549%207.5L6.00049%207.5%22%20stroke%3D%22%232A2E38%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%20%3Cpath%20d%3D%22M6.375%2012.1875C5.85723%2012.1875%205.4375%2012.6072%205.4375%2013.125C5.4375%2013.6428%205.85723%2014.0625%206.375%2014.0625C6.89277%2014.0625%207.3125%2013.6428%207.3125%2013.125C7.3125%2012.6072%206.89277%2012.1875%206.375%2012.1875Z%22%20fill%3D%22black%22%2F%3E%20%3C%2Fsvg%3E%20");
      background-repeat: no-repeat; }
  .lnk-btn-01.sm {
    height: 32px;
    font-size: 14px; }

/*# sourceMappingURL=Button.css.map */
