@import "../../Base/Global.scss";
@import "../../Base/Colour.scss";

/* Common XS1 and XS2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
    // Related UI
    .comp-modal-02 {
        #modal-header {
            border-bottom: 1px solid rgba(55, 58, 55, .1);
            margin-bottom: 0;
            padding: 0 24px !important;

            .c-container-01 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                .c-item-01 {
                    display: none;
                }

                .c-item-02 {
                    font-family: Palanquin;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    color: #2A2E38;
                    text-align: center;
                    width: 237px;
                }
            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0px;
                left: 29.17%;
                width: 200px;
                height: 1px;
                background-color: #A1413D;
            }

            &.secondStep {
                &:after {
                    width: 400px;
                }
            }

            &.thirdStep {
                &:after {
                    width: 600px;
                }
            }
        }

        #modal-body {
            padding: 0 24px 0 24px !important;

            > div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }



            .c-container-01 {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .c-item-01 {
                    font-family: Palanquin;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 48px;
                    text-align: center;
                    color: #373A37;
                }

                .c-item-02 {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    color: #373A37;
                }

                .c-item-03 {
                    width: 100%;
                    height: 500px;
                    transition: all 0.2s;
                    margin-top: 20px;

                    &.on {
                        width: 100%;
                        height: 680px;
                    }

                    .c-item-03-A, .c-item-03-B, .c-item-03-C, .c-item-03-D, .c-item-03-E {
                        position: absolute;
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        background-color: #F4F7F6;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all 0.2s;

                        .c-unit-01 {
                            overflow: hidden;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .c-unit-02 {
                            position: absolute;
                            bottom: 4px;
                            left: 0;
                            right: 0;
                            display: flex;
                            justify-content: center;

                            .c-unit-02-A {
                                font-family: Open Sans;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 24px;
                                color: #97A0A9;
                                text-align: center;
                            }
                        }

                        &.on {
                            background-color: transparent;

                            .c-unit-02 {

                                .c-unit-02-A {
                                    font-family: Open Sans;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: #FFFFFF;
                                }
                            }


                            &:before {
                                content: "";
                                position: absolute;
                                top: 5px;
                                bottom: 0;
                                right: 0;
                                left: -3px;
                                width: 130px;
                                height: 130px;
                                border-radius: 50%;
                                background-color: #B8B1AD;
                            }

                            .c-unit-01 {
                                opacity: 0.4;
                            }
                        }
                    }

                    .c-item-03-A {
                        left: 0;
                        top: 60px;
                    }

                    .c-item-03-B {
                        right: 60px;
                        top: 0;
                    }

                    .c-item-03-C {
                        left: 60px;
                        top: 191px;
                    }

                    .c-item-03-D {
                        right: 0;
                        top: 140px;
                    }

                    .c-item-03-E {
                        top: 284px;
                        right: 0;
                    }
                }


                .c-item-04 {
                    width: 100%;
                    margin-top: 20px;

                    > .c-item-04-A, .c-item-04-B, .c-item-04-C, .c-item-04-D, .c-item-04-E {
                        height: 56px;
                        padding-left: 22px;
                        display: flex;
                        width: 100%;
                        align-items: center;
                        background: #F4F7F6;
                        margin-bottom: 12px;
                        border-radius: 8px;
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 24px;
                        color: #373A37;


                        > .c-unit-01 {
                            display: none;
                        }
                    }
                }
            }

            .c-container-02 {
                display: flex;
                align-items: center;
                justify-content: center;

                .c-item-01 {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .c-unit-01 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 185px;
                        height: 48px;
                        border: 1px solid #E4E6E8;
                        border-radius: 6px;
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        color: #373A37;
                    }


                    .c-unit-02 {
                        width: 211px;
                        justify-content: space-between;
                    }

                    .c-unit-03 {
                        margin-top: -120px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .c-unit-03-A {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            border: 1px solid #E4E6E8;
                            margin-bottom: 16px;
                        }

                        .c-unit-03-B {
                            font-family: Open Sans;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 24px;
                            text-align: center;
                            color: #7D8285;
                        }
                    }
                }
            }

            .c-container-03 {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .c-item-01 {
                    font-family: Palanquin;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 48px;
                    text-align: center;
                    color: #373A37;
                }

                .c-item-02 {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    color: #373A37;
                }
            }
        }

        #modal-footer {
            display: none !important;
        }

        #modal-close {
            right: 24px !important;
        }
    }
    // Related Typography
    comp-modal-02 {
    }
}
/* XS1 */
@media all and (max-width: #{($mq-xs2 - 1) + "px"}) {
}
/* XS2 */
@media all and (min-width: #{$mq-xs2 + "px"}) and (max-width: #{($mq-sm1 - 1) + "px"}) {
}
/* Common SM1 and SM2 */
@media all and (min-width: #{$mq-sm1 + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
}
/* SM1 */
@media all and (min-width: #{$mq-sm1 + "px"}) and (max-width: #{($mq-sm2 - 1) + "px"}) {
}
/* SM2 */
@media all and (min-width: #{$mq-sm2 + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
}
/* Common MD and LG */
@media all and (min-width: #{$mq-md + "px"}) {
    // Related UI
    .comp-modal-02 {
        #modal-header {
            border-bottom: 1px solid rgba(55, 58, 55, .1);
            margin-bottom: 32px;

            .c-container-01 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                .c-item-01 {
                    position: absolute;
                    left: 0;
                }

                .c-item-02 {
                    font-family: Palanquin;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    color: #2A2E38;
                }
            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0px;
                left: 29.17%;
                width: 200px;
                height: 1px;
                background-color: #A1413D;
            }

            &.secondStep {
                &:after {
                    width: 400px;
                }
            }

            &.thirdStep {
                &:after {
                    width: 600px;
                }
            }
        }

        #modal-body {
            padding: 0 72px 32px 72px !important;

            > div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }



            .c-container-01 {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .c-item-01 {
                    font-family: Palanquin;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 48px;
                    text-align: center;
                    color: #373A37;
                }

                .c-item-02 {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    color: #373A37;
                }

                .c-item-03 {
                    width: 462px;
                    height: 320px;
                    transition: all 0.2s;

                    &.on {
                        width: 582px;
                        height: 480px;

                        .c-item-03-B {
                            left: 208px;
                            top: 139px;
                        }
                    }

                    .c-item-03-A, .c-item-03-B, .c-item-03-C, .c-item-03-D, .c-item-03-E {
                        position: absolute;
                        width: 144px;
                        height: 144px;
                        border-radius: 50%;
                        background-color: #F4F7F6;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all 0.2s;

                        .c-unit-01 {
                            overflow: hidden;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .c-unit-02 {
                            position: absolute;
                            bottom: 8px;
                            left: 0;
                            right: 0;
                            display: flex;
                            justify-content: center;

                            .c-unit-02-A {
                                font-family: Open Sans;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 24px;
                                color: #97A0A9;
                                text-align: center;
                            }
                        }

                        &.on {
                            background-color: transparent;

                            .c-unit-02 {

                                .c-unit-02-A {
                                    font-family: Open Sans;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: #FFFFFF;
                                }
                            }


                            &:before {
                                content: "";
                                position: absolute;
                                top: -23px;
                                bottom: 0;
                                right: 0;
                                left: -45px;
                                width: 244px;
                                height: 244px;
                                border-radius: 50%;
                                background-color: #B8B1AD;
                            }

                            .c-unit-01 {
                                opacity: 0.4;
                            }
                        }
                    }

                    .c-item-03-A {
                        left: 0;
                        top: 0;
                    }

                    .c-item-03-B {
                        left: 152px;
                        top: 48px;

                        &.on {
                            left: 208px;
                            top: 139px;
                        }
                    }

                    .c-item-03-C {
                        right: 0;
                        top: 32px;
                    }

                    .c-item-03-D {
                        left: 32px;
                        bottom: 24px;
                    }

                    .c-item-03-E {
                        right: 72px;
                        bottom: 0;
                    }
                }

                .c-item-04 {
                    width: 462px;
                    height: 320px;
                    transition: all 0.2s;

                    &.on {
                        width: 612px;
                        height: 494px;

                        .c-item-04-B {
                            left: 208px;
                            top: 139px;
                        }
                    }

                    .c-item-04-A, .c-item-04-B, .c-item-04-C, .c-item-04-D, .c-item-04-E {
                        position: absolute;
                        width: 144px;
                        height: 144px;
                        background: #F4F7F6;
                        border-radius: 133px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        transition: all 0.2s;

                        .c-unit-01 {
                            margin-bottom: 8px;
                        }

                        .c-unit-02 {
                            font-family: Open Sans;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 24px;
                            text-align: center;
                            color: #373A37;
                            width: 100px;
                        }

                        &.on {
                            background-color: transparent;

                            .c-unit-02 {
                                font-size: 20.5556px;
                                line-height: 31px;
                                color: #FFFFFF;
                            }


                            &:before {
                                content: "";
                                position: absolute;
                                top: -23px;
                                bottom: 0;
                                right: 0;
                                left: -45px;
                                width: 244px;
                                height: 244px;
                                border-radius: 50%;
                                background-color: #B8B1AD;
                            }

                            .c-unit-01 {
                                opacity: 0.4;
                            }
                        }
                    }

                    .c-item-04-A {
                        left: 0;
                        top: 50px;
                    }

                    .c-item-04-B {
                        left: 152px;
                        top: 18px;

                        &.on {
                            left: 236px;
                            top: 139px;
                        }
                    }

                    .c-item-04-C {
                        right: 0;
                        top: 0;
                    }

                    .c-item-04-D {
                        left: 98px;
                        bottom: 0;
                    }

                    .c-item-04-E {
                        right: 59px;
                        bottom: 32px;
                    }
                }
            }

            .c-container-02 {
                display: flex;
                align-items: center;
                justify-content: center;

                .c-item-01 {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .c-unit-01 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 185px;
                        height: 48px;
                        border: 1px solid #E4E6E8;
                        border-radius: 6px;
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        color: #373A37;
                    }


                    .c-unit-02 {
                        width: 211px;
                        justify-content: space-between;
                    }

                    .c-unit-03 {
                        position: absolute;
                        right: 50%;
                        top: -50px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .c-unit-03-A {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            border: 1px solid #E4E6E8;
                            margin-bottom: 16px;
                        }

                        .c-unit-03-B {
                            font-family: Open Sans;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 24px;
                            text-align: center;
                            color: #7D8285;
                        }
                    }
                }
            }

            .c-container-03 {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .c-item-01 {
                    font-family: Palanquin;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 48px;
                    text-align: center;
                    color: #373A37;
                }

                .c-item-02 {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    color: #373A37;
                }
            }
        }

        #modal-footer {
            display: none !important;
        }

        #modal-close {
            right: 72px !important;
        }
    }
    // Related Typography
    comp-modal-02 {
    }
}
/* MD */
@media all and (min-width: #{$mq-md + "px"}) and (max-width: #{($mq-lg - 1) + "px"}) {
}
/* LG */
@media all and (min-width: #{$mq-lg + "px"}) {
}
