.w-100px {
  width: 100px !important; }

.w-100 {
  width: 100%; }

.w-280px {
  width: 280px !important; }

.w-100 {
  width: 100%; }

.w-479px {
  width: 479px !important; }

.w-100 {
  width: 100%; }

.w-580px {
  width: 580px !important; }

.w-100 {
  width: 100%; }

.w-780px {
  width: 780px !important; }

.w-100 {
  width: 100%; }

@media all and (min-width: 0px) {
  .w-xs1-100px {
    width: 100px !important; }

  .w-xs1-100 {
    width: 100%; }

  .w-xs1-280px {
    width: 280px !important; }

  .w-xs1-100 {
    width: 100%; }

  .w-xs1-479px {
    width: 479px !important; }

  .w-xs1-100 {
    width: 100%; }

  .w-xs1-580px {
    width: 580px !important; }

  .w-xs1-100 {
    width: 100%; }

  .w-xs1-780px {
    width: 780px !important; }

  .w-xs1-100 {
    width: 100%; } }
@media all and (min-width: 420px) {
  .w-xs2-100px {
    width: 100px !important; }

  .w-xs2-100 {
    width: 100%; }

  .w-xs2-280px {
    width: 280px !important; }

  .w-xs2-100 {
    width: 100%; }

  .w-xs2-479px {
    width: 479px !important; }

  .w-xs2-100 {
    width: 100%; }

  .w-xs2-580px {
    width: 580px !important; }

  .w-xs2-100 {
    width: 100%; }

  .w-xs2-780px {
    width: 780px !important; }

  .w-xs2-100 {
    width: 100%; } }
@media all and (min-width: 768px) {
  .w-sm1-100px {
    width: 100px !important; }

  .w-sm1-100 {
    width: 100%; }

  .w-sm1-280px {
    width: 280px !important; }

  .w-sm1-100 {
    width: 100%; }

  .w-sm1-479px {
    width: 479px !important; }

  .w-sm1-100 {
    width: 100%; }

  .w-sm1-580px {
    width: 580px !important; }

  .w-sm1-100 {
    width: 100%; }

  .w-sm1-780px {
    width: 780px !important; }

  .w-sm1-100 {
    width: 100%; } }
@media all and (min-width: 1024px) {
  .w-sm2-100px {
    width: 100px !important; }

  .w-sm2-100 {
    width: 100%; }

  .w-sm2-280px {
    width: 280px !important; }

  .w-sm2-100 {
    width: 100%; }

  .w-sm2-479px {
    width: 479px !important; }

  .w-sm2-100 {
    width: 100%; }

  .w-sm2-580px {
    width: 580px !important; }

  .w-sm2-100 {
    width: 100%; }

  .w-sm2-780px {
    width: 780px !important; }

  .w-sm2-100 {
    width: 100%; } }
@media all and (min-width: 1296px) {
  .w-md-100px {
    width: 100px !important; }

  .w-md-100 {
    width: 100%; }

  .w-md-280px {
    width: 280px !important; }

  .w-md-100 {
    width: 100%; }

  .w-md-479px {
    width: 479px !important; }

  .w-md-100 {
    width: 100%; }

  .w-md-580px {
    width: 580px !important; }

  .w-md-100 {
    width: 100%; }

  .w-md-780px {
    width: 780px !important; }

  .w-md-100 {
    width: 100%; } }
@media all and (min-width: 1680px) {
  .w-lg-100px {
    width: 100px !important; }

  .w-lg-100 {
    width: 100%; }

  .w-lg-280px {
    width: 280px !important; }

  .w-lg-100 {
    width: 100%; }

  .w-lg-479px {
    width: 479px !important; }

  .w-lg-100 {
    width: 100%; }

  .w-lg-580px {
    width: 580px !important; }

  .w-lg-100 {
    width: 100%; }

  .w-lg-780px {
    width: 780px !important; }

  .w-lg-100 {
    width: 100%; } }

/*# sourceMappingURL=Width.css.map */
